<% provide(:title, "Dependencies graph") %>
<% @pack = params["pack_name"] %>
<% @depth = params["depth"] %>
<% require 'json' %>

<% if !@pack.nil? then %>
  <% content_for(:head) do %>
    <%= javascript_include_tag "d3.v2.min.js" %>
    <script> var json_data = <%=get_json(@pack, @depth.to_i).html_safe%>;</script>
    <%= stylesheet_link_tag "force.css" %>
  <% end %>
<% end %>

<%= render "graph/form" %>
<% if !@pack.nil? then %>
  <p>
  <span class="label label-info"><%= "#{@pack} | #{@depth}" %></span>
  </p>

  <div class='gallery center' id='chart'> </div><link href='force.css' rel='stylesheet' type='text/css' />
  <%= javascript_include_tag "force.js.erb" %>
<% end %>
