<% @pack = params["pack_name"] %>
<% @depth = params["depth"] %>
<% require 'json' %>


<% content_for(:head) do %>
  <%= javascript_include_tag "d3.v2.min.js" %>
  <script> var json_data = <%=get_json(@pack, @depth.to_i).html_safe%>;</script>
  <script> var auto = "test"; </script> 
  <%= stylesheet_link_tag "force.css" %>
<% end %>

<h1 id='forcedirected_graph'>Force-Directed Graph</h1>
<%= render "graph/form" %>

<p>
Graph of depth <%= @depth %> for a package <%= @pack_name %>
</p>

<%= get_json(@pack, @depth.to_i) if Rails.env.development?%>


<div class='gallery center' id='chart'> </div><link href='force.css' rel='stylesheet' type='text/css' />
<%= javascript_include_tag "force.js.erb" %>
