      <h1>Position related aesthetics: x, y, xmin, xmax, ymin, ymax, xend, yend</h1>

<div class="row">
  <div class="span8">
        
    <div class="Description">
      <h2>Description</h2>
      
      <p>This page demonstrates the usage of a sub-group of
  aesthetics; x, y, xmin, xmax, ymin, ymax, xend, and yend.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="comment"># Generate data: means and standard errors of means for prices</span>
<span class="comment"># for each type of cut</span>
<span class="symbol">dmod</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/lm'>lm</a></span><span class="keyword">(</span><span class="symbol">price</span> <span class="keyword">~</span> <span class="symbol">cut</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">diamonds</span><span class="keyword">)</span>
<span class="symbol">cuts</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span><span class="argument">cut</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/unique'>unique</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">$</span><span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">,</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/predict'>predict</a></span><span class="keyword">(</span><span class="symbol">dmod</span><span class="keyword">,</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span><span class="argument">cut</span> <span class="argument">=</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/unique'>unique</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">$</span><span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">se</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">)</span><span class="keyword">[</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"fit"</span><span class="keyword">,</span> <span class="string">"se.fit"</span><span class="keyword">)</span><span class="keyword">]</span><span class="keyword">)</span>
<span class="symbol">se</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">cuts</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">cut</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">fit</span><span class="keyword">,</span> <span class="argument">ymin</span> <span class="argument">=</span> <span class="symbol">fit</span> <span class="keyword">-</span> <span class="symbol">se.fit</span><span class="keyword">,</span>
<span class="argument">ymax</span> <span class="argument">=</span> <span class="symbol">fit</span> <span class="keyword">+</span> <span class="symbol">se.fit</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">se</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_pointrange.html'>geom_pointrange</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_position.html-2.png' %></p>
<div class='input'>
<span class="comment"># Boxplot with precomputed statistics</span>
<span class="comment"># generate sample data</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">plyr</span><span class="keyword">)</span>
<span class="symbol">abc</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/plyr/adply'>adply</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/matrix'>matrix</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/Normal'>rnorm</a></span><span class="keyword">(</span><span class="number">100</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">ncol</span> <span class="argument">=</span> <span class="number">5</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">2</span><span class="keyword">,</span> <span class="symbol">quantile</span><span class="keyword">,</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">0</span><span class="keyword">,</span> <span class="number">.25</span><span class="keyword">,</span> <span class="number">.5</span><span class="keyword">,</span> <span class="number">.75</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">b</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">abc</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">X1</span><span class="keyword">,</span> <span class="argument">ymin</span> <span class="argument">=</span> <span class="string">"0%"</span><span class="keyword">,</span> <span class="argument">lower</span> <span class="argument">=</span> <span class="string">"25%"</span><span class="keyword">,</span> <span class="argument">middle</span> <span class="argument">=</span> <span class="string">"50%"</span><span class="keyword">,</span> <span class="argument">upper</span> <span class="argument">=</span> <span class="string">"75%"</span><span class="keyword">,</span> <span class="argument">ymax</span> <span class="argument">=</span> <span class="string">"100%"</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">b</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="argument">stat</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<strong class='warning'>Warning message:
- not meaningful for factors</strong>
<p><%= image_tag 'ggplot2/aes_position.html-29.png' %></p>
<div class='input'>
<span class="comment"># Using annotate</span>
<span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">wt</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='annotate.html'>annotate</a></span><span class="keyword">(</span><span class="string">"rect"</span><span class="keyword">,</span> <span class="argument">xmin</span> <span class="argument">=</span> <span class="number">2</span><span class="keyword">,</span> <span class="argument">xmax</span> <span class="argument">=</span> <span class="number">3.5</span><span class="keyword">,</span> <span class="argument">ymin</span> <span class="argument">=</span> <span class="number">2</span><span class="keyword">,</span> <span class="argument">ymax</span> <span class="argument">=</span> <span class="number">25</span><span class="keyword">,</span> <span class="argument">fill</span> <span class="argument">=</span> <span class="string">"dark grey"</span><span class="keyword">,</span> <span class="argument">alpha</span> <span class="argument">=</span> <span class="number">.5</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_position.html-31.png' %></p>
<div class='input'>
<span class="comment"># Geom_segment examples</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">grid</span><span class="keyword">)</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_segment.html'>geom_segment</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="number">2</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="number">15</span><span class="keyword">,</span> <span class="argument">xend</span> <span class="argument">=</span> <span class="number">2</span><span class="keyword">,</span> <span class="argument">yend</span> <span class="argument">=</span> <span class="number">25</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">arrow</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/grid/arrow'>arrow</a></span><span class="keyword">(</span><span class="argument">length</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/grid/unit'>unit</a></span><span class="keyword">(</span><span class="number">0.5</span><span class="keyword">,</span> <span class="string">"cm"</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_position.html-33.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_segment.html'>geom_segment</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="number">2</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="number">15</span><span class="keyword">,</span> <span class="argument">xend</span> <span class="argument">=</span> <span class="number">3</span><span class="keyword">,</span> <span class="argument">yend</span> <span class="argument">=</span> <span class="number">15</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">arrow</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/grid/arrow'>arrow</a></span><span class="keyword">(</span><span class="argument">length</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/grid/unit'>unit</a></span><span class="keyword">(</span><span class="number">0.5</span><span class="keyword">,</span> <span class="string">"cm"</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_position.html-35.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_segment.html'>geom_segment</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="number">5</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="number">30</span><span class="keyword">,</span> <span class="argument">xend</span> <span class="argument">=</span> <span class="number">3.5</span><span class="keyword">,</span> <span class="argument">yend</span> <span class="argument">=</span> <span class="number">25</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">arrow</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/grid/arrow'>arrow</a></span><span class="keyword">(</span><span class="argument">length</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/grid/unit'>unit</a></span><span class="keyword">(</span><span class="number">0.5</span><span class="keyword">,</span> <span class="string">"cm"</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_position.html-37.png' %></p>
<div class='input'>
<span class="comment"># You can also use geom_segment to recreate plot(type = "h") :</span>
<span class="symbol">counts</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/as.data.frame'>as.data.frame</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/table'>table</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/Poisson'>rpois</a></span><span class="keyword">(</span><span class="number">100</span><span class="keyword">,</span> <span class="number">5</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">counts</span><span class="keyword">$</span><span class="symbol">x</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/numeric'>as.numeric</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/character'>as.character</a></span><span class="keyword">(</span><span class="symbol">counts</span><span class="keyword">$</span><span class="symbol">x</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/with'>with</a></span><span class="keyword">(</span><span class="symbol">counts</span><span class="keyword">,</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/graphics/plot'>plot</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">Freq</span><span class="keyword">,</span> <span class="argument">type</span> <span class="argument">=</span> <span class="string">"h"</span><span class="keyword">,</span> <span class="argument">lwd</span> <span class="argument">=</span> <span class="number">10</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_position.html-39.png' %></p>
<div class='input'>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">Freq</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">counts</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"segment"</span><span class="keyword">,</span> <span class="argument">yend</span> <span class="argument">=</span> <span class="number">0</span><span class="keyword">,</span> <span class="argument">xend</span> <span class="argument">=</span> <span class="symbol">x</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/AsIs'>I</a></span><span class="keyword">(</span><span class="number">10</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_position.html-41.png' %></p></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>aes_position</li><li>x</li><li>xend</li><li>xmax</li><li>xmin</li><li>y</li><li>yend</li><li>ymax</li><li>ymin</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>