      <h1>Differentiation related aesthetics: linetype, size, shape</h1>

<div class="row">
  <div class="span8">
        
    <div class="Description">
      <h2>Description</h2>
      
      <p>This page demonstrates the usage of a sub-group of
  aesthetics; linetype, size and shape.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="comment"># Line types should be specified with either an integer, a name, or with a string of</span>
<span class="comment"># an even number (up to eight) of hexidecimal digits which give the lengths in</span>
<span class="comment"># consecutive positions in the string.</span>
<span class="comment"># 0 = blank, 1 = solid, 2 = dashed, 3 = dotted, 4 = dotdash, 5 = longdash, 6 = twodash</span>

<span class="comment"># Data</span>
<span class="symbol">df</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">:</span><span class="number">10</span> <span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">:</span><span class="number">10</span><span class="keyword">)</span>
<span class="symbol">f</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">df</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">x</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">y</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">f</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_line.html'>geom_line</a></span><span class="keyword">(</span><span class="argument">linetype</span> <span class="argument">=</span> <span class="number">2</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_linetype_size_shape.html-2.png' %></p>
<div class='input'><span class="symbol">f</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_line.html'>geom_line</a></span><span class="keyword">(</span><span class="argument">linetype</span> <span class="argument">=</span> <span class="string">"dotdash"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_linetype_size_shape.html-4.png' %></p>
<div class='input'><span class="comment"># An example with hex strings, the string "33" specifies three units on followed</span>
<span class="comment"># by three off and "3313" specifies three units on followed by three off followed</span>
<span class="comment"># by one on and finally three off.</span>
<span class="symbol">f</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_line.html'>geom_line</a></span><span class="keyword">(</span><span class="argument">linetype</span> <span class="argument">=</span> <span class="string">"3313"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_linetype_size_shape.html-6.png' %></p>
<div class='input'>
<span class="comment"># Mapping line type from a variable</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">plyr</span><span class="keyword">)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">reshape2</span><span class="keyword">)</span>
<span class="symbol">rescale01</span> <span class="assignement">&lt;-</span> <span class="keyword">function</span><span class="keyword">(</span><span class="formalargs">x</span><span class="keyword">)</span> <span class="keyword">(</span><span class="symbol">x</span> <span class="keyword">-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Extremes'>min</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">/</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/diff'>diff</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/range'>range</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">ec_scaled</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span>
  <span class="argument">date</span> <span class="argument">=</span> <span class="symbol">economics</span><span class="keyword">$</span><span class="symbol">date</span><span class="keyword">,</span>
  <span class="functioncall"><a href='http://www.inside-r.org/r-doc/plyr/colwise'>colwise</a></span><span class="keyword">(</span><span class="symbol">rescale01</span><span class="keyword">)</span><span class="keyword">(</span><span class="symbol">economics</span><span class="keyword">[</span><span class="keyword">,</span> <span class="keyword">-</span><span class="keyword">(</span><span class="number">1</span><span class="keyword">:</span><span class="number">2</span><span class="keyword">)</span><span class="keyword">]</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">ecm</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/reshape2/melt'>melt</a></span><span class="keyword">(</span><span class="symbol">ec_scaled</span><span class="keyword">,</span> <span class="argument">id</span> <span class="argument">=</span> <span class="string">"date"</span><span class="keyword">)</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">date</span><span class="keyword">,</span> <span class="symbol">value</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">ecm</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"line"</span><span class="keyword">,</span> <span class="argument">linetype</span> <span class="argument">=</span> <span class="symbol">variable</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_linetype_size_shape.html-8.png' %></p>
<div class='input'>
<span class="comment"># Size examples</span>
<span class="comment"># Should be specified with a numerical value (in millimetres),</span>
<span class="comment"># or from a variable source</span>
<span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">wt</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="argument">size</span> <span class="argument">=</span> <span class="number">4</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_linetype_size_shape.html-10.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">size</span> <span class="argument">=</span> <span class="symbol">qsec</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_linetype_size_shape.html-12.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="argument">size</span> <span class="argument">=</span> <span class="number">2.5</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_hline.html'>geom_hline</a></span><span class="keyword">(</span><span class="argument">yintercept</span> <span class="argument">=</span> <span class="number">25</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="number">3.5</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_linetype_size_shape.html-14.png' %></p>
<div class='input'>
<span class="comment"># Shape examples</span>
<span class="comment"># Shape takes four types of values: an integer in [0, 25],</span>
<span class="comment"># a single character-- which uses that character as the plotting symbol,</span>
<span class="comment"># a . to draw the smallest rectangle that is visible (i.e., about one pixel)</span>
<span class="comment"># an NA to draw nothing</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_linetype_size_shape.html-16.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="argument">shape</span> <span class="argument">=</span> <span class="number">5</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_linetype_size_shape.html-18.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="argument">shape</span> <span class="argument">=</span> <span class="string">"k"</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="number">3</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_linetype_size_shape.html-20.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="argument">shape</span> <span class="argument">=</span> <span class="string">"."</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_linetype_size_shape.html-22.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="argument">shape</span> <span class="argument">=</span> <span class="number">NA</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
Removed 32 rows containing missing values (geom_point).</strong>
<p><%= image_tag 'ggplot2/aes_linetype_size_shape.html-25.png' %></p>
<div class='input'>
<span class="comment"># Shape can also be mapped from a variable</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">shape</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_linetype_size_shape.html-27.png' %></p>
<div class='input'>
<span class="comment"># A look at all 25 symbols</span>
<span class="symbol">df2</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">:</span><span class="number">5</span> <span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">:</span><span class="number">25</span><span class="keyword">,</span> <span class="argument">z</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">:</span><span class="number">25</span><span class="keyword">)</span>
<span class="symbol">s</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">df2</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">x</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">y</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">s</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">shape</span> <span class="argument">=</span> <span class="symbol">z</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="number">4</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_identity.html'>scale_shape_identity</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_linetype_size_shape.html-29.png' %></p>
<div class='input'><span class="comment"># While all symbols have a foreground colour, symbols 19-25 also take a</span>
<span class="comment"># background colour (fill)</span>
<span class="symbol">s</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">shape</span> <span class="argument">=</span> <span class="symbol">z</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="number">4</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="string">"Red"</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='scale_identity.html'>scale_shape_identity</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_linetype_size_shape.html-31.png' %></p>
<div class='input'><span class="symbol">s</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">shape</span> <span class="argument">=</span> <span class="symbol">z</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="number">4</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="string">"Red"</span><span class="keyword">,</span> <span class="argument">fill</span> <span class="argument">=</span> <span class="string">"Black"</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='scale_identity.html'>scale_shape_identity</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_linetype_size_shape.html-33.png' %></p></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>aes_linetype_size_shape</li><li>linetype</li><li>shape</li><li>size</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>