      <h1>Aesthetics: group, order</h1>

<div class="row">
  <div class="span8">
        
    <div class="Description">
      <h2>Description</h2>
      
      <p>Aesthetics: group, order</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'>

<span class="comment"># By default, the group is set to the interaction of all discrete variables in the</span>
<span class="comment"># plot. This often partitions the data correctly, but when it does not, or when</span>
<span class="comment"># no discrete variable is used in the plot, you will need to explicitly define the</span>
<span class="comment"># grouping structure, by mapping group to a variable that has a different value</span>
<span class="comment"># for each group.</span>

<span class="comment"># For most applications you can simply specify the grouping with</span>
<span class="comment"># various aesthetics (colour, shape, fill, linetype) or with facets.</span>

<span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">wt</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="comment"># A basic scatter plot</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="argument">size</span> <span class="argument">=</span> <span class="number">4</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_group_order.html-2.png' %></p>
<div class='input'><span class="comment"># The colour aesthetic</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">colour</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="number">4</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_group_order.html-4.png' %></p>
<div class='input'><span class="comment"># Or you can use shape to distinguish the data</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">shape</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="number">4</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_group_order.html-6.png' %></p>
<div class='input'>
<span class="comment"># Using fill</span>
<span class="symbol">a</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">a</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_group_order.html-8.png' %></p>
<div class='input'><span class="symbol">a</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">fill</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_group_order.html-10.png' %></p>
<div class='input'><span class="symbol">a</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">fill</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">vs</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_group_order.html-12.png' %></p>
<div class='input'>
<span class="comment"># Using linetypes</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">reshape2</span><span class="keyword">)</span> <span class="comment"># for melt</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">plyr</span><span class="keyword">)</span> <span class="comment"># for colwise</span>
<span class="symbol">rescale01</span> <span class="assignement">&lt;-</span> <span class="keyword">function</span><span class="keyword">(</span><span class="formalargs">x</span><span class="keyword">)</span> <span class="keyword">(</span><span class="symbol">x</span> <span class="keyword">-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Extremes'>min</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">/</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/diff'>diff</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/range'>range</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">ec_scaled</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span>
  <span class="argument">date</span> <span class="argument">=</span> <span class="symbol">economics</span><span class="keyword">$</span><span class="symbol">date</span><span class="keyword">,</span>
  <span class="functioncall"><a href='http://www.inside-r.org/r-doc/plyr/colwise'>colwise</a></span><span class="keyword">(</span><span class="symbol">rescale01</span><span class="keyword">)</span><span class="keyword">(</span><span class="symbol">economics</span><span class="keyword">[</span><span class="keyword">,</span> <span class="keyword">-</span><span class="keyword">(</span><span class="number">1</span><span class="keyword">:</span><span class="number">2</span><span class="keyword">)</span><span class="keyword">]</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">ecm</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/reshape2/melt'>melt</a></span><span class="keyword">(</span><span class="symbol">ec_scaled</span><span class="keyword">,</span> <span class="argument">id</span> <span class="argument">=</span> <span class="string">"date"</span><span class="keyword">)</span>
<span class="symbol">f</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">ecm</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">date</span><span class="keyword">,</span> <span class="symbol">value</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">f</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_line.html'>geom_line</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">linetype</span> <span class="argument">=</span> <span class="symbol">variable</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_group_order.html-14.png' %></p>
<div class='input'>
<span class="comment"># Using facets</span>
<span class="symbol">k</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">carat</span><span class="keyword">,</span> <span class="symbol">..density..</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">0.2</span><span class="keyword">)</span>
<span class="symbol">k</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">.</span> <span class="keyword">~</span> <span class="symbol">cut</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_group_order.html-16.png' %></p>
<div class='input'>
<span class="comment"># There are three common cases where the default is not enough, and we</span>
<span class="comment"># will consider each one below. In the following examples, we will use a simple</span>
<span class="comment"># longitudinal dataset, Oxboys, from the nlme package. It records the heights</span>
<span class="comment"># (height) and centered ages (age) of 26 boys (Subject), measured on nine</span>
<span class="comment"># occasions (Occasion).</span>

<span class="comment"># Multiple groups with one aesthetic</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">nlme</span><span class="keyword">)</span>
<span class="symbol">h</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">Oxboys</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">age</span><span class="keyword">,</span> <span class="symbol">height</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="comment"># A single line tries to connect all the observations</span>
<span class="symbol">h</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_line.html'>geom_line</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_group_order.html-18.png' %></p>
<div class='input'><span class="comment"># The group aesthetic maps a different line for each subject</span>
<span class="symbol">h</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_line.html'>geom_line</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">group</span> <span class="argument">=</span> <span class="symbol">Subject</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_group_order.html-20.png' %></p>
<div class='input'>
<span class="comment"># Different groups on different layers</span>
<span class="symbol">h</span> <span class="assignement">&lt;-</span> <span class="symbol">h</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_line.html'>geom_line</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">group</span> <span class="argument">=</span> <span class="symbol">Subject</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="comment"># Using the group aesthetic with both geom_line() and geom_smooth()</span>
<span class="comment"># groups the data the same way for both layers</span>
<span class="symbol">h</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_smooth.html'>geom_smooth</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">group</span> <span class="argument">=</span> <span class="symbol">Subject</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">method</span> <span class="argument">=</span> <span class="string">"lm"</span><span class="keyword">,</span> <span class="argument">se</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_group_order.html-22.png' %></p>
<div class='input'><span class="comment"># Changing the group aesthetic for the smoother layer</span>
<span class="comment"># fits a single line of best fit across all boys</span>
<span class="symbol">h</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_smooth.html'>geom_smooth</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">group</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="number">2</span><span class="keyword">,</span> <span class="argument">method</span> <span class="argument">=</span> <span class="string">"lm"</span><span class="keyword">,</span> <span class="argument">se</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_group_order.html-24.png' %></p>
<div class='input'>
<span class="comment"># Overriding the default grouping</span>
<span class="comment"># The plot has a discrete scale but you want to draw lines that connect across</span>
<span class="comment"># groups. This is the strategy used in interaction plots, profile plots, and parallel</span>
<span class="comment"># coordinate plots, among others. For example, we draw boxplots of height at</span>
<span class="comment"># each measurement occasion</span>
<span class="symbol">boysbox</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">Oxboys</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">Occasion</span><span class="keyword">,</span> <span class="symbol">height</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">boysbox</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_group_order.html-26.png' %></p>
<div class='input'><span class="comment"># There is no need to specify the group aesthetic here; the default grouping</span>
<span class="comment"># works because occasion is a discrete variable. To overlay individual trajectories</span>
<span class="comment"># we again need to override the default grouping for that layer with aes(group = Subject)</span>
<span class="symbol">boysbox</span> <span class="assignement">&lt;-</span> <span class="symbol">boysbox</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="keyword">)</span>
<span class="symbol">boysbox</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_line.html'>geom_line</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">group</span> <span class="argument">=</span> <span class="symbol">Subject</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="string">"blue"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_group_order.html-28.png' %></p>
<div class='input'>
<span class="comment"># Use the order aesthetic to change stacking order of bar charts</span>
<span class="symbol">w</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">clarity</span><span class="keyword">,</span> <span class="argument">fill</span> <span class="argument">=</span> <span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">w</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_group_order.html-30.png' %></p>
<div class='input'><span class="symbol">w</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">order</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/plyr/desc'>desc</a></span><span class="keyword">(</span><span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_group_order.html-32.png' %></p>
<div class='input'>
<span class="comment"># Can also be used to change plot order of scatter plots</span>
<span class="symbol">d</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">carat</span><span class="keyword">,</span> <span class="symbol">price</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_group_order.html-34.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">order</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/sample'>sample</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/seq'>seq_along</a></span><span class="keyword">(</span><span class="symbol">carat</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/aes_group_order.html-36.png' %></p>
<div class='input'></div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>aes_group_order</li><li>group</li><li>order</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>