      <h1>Create an annotation layer.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='annotate.html'>annotate</a></span><span class="keyword">(</span><span class="symbol">geom</span><span class="keyword">,</span> <span class="argument">x</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">xmin</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">xmax</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">ymin</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">ymax</span> <span class="argument">=</span> NULL<span class="keyword">,</span>
  <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>geom</dt>
      <dd>name of geom to use for annotation</dd>
      <dt>x,y,xmin,ymin,xmax,ymax</dt>
      <dd>positionining aesthetics -
  you must specify at least one of these.</dd>
      <dt>...</dt>
      <dd>other aesthetics. These are not scaled so you
  can do (e.g.)  <code>colour = "red"</code> to get a red point.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>This function adds geoms to a plot. Unlike typical a geom
  function, the properties of the geoms are not mapped from
  variables of a data frame, but are instead in as vectors.
  This is useful for adding small annotations (such as text
  labels) or if you have your data in vectors, and for some
  reason don't want to put them in a data frame.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>Note that all position aesthetics are scaled (i.e. they
  will expand the limits of the plot so they are visible),
  but all other aesthetics are set. This means that layers
  created with this function will never affect the legend.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">wt</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='annotate.html'>annotate</a></span><span class="keyword">(</span><span class="string">"text"</span><span class="keyword">,</span> <span class="argument">x</span> <span class="argument">=</span> <span class="number">4</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="number">25</span><span class="keyword">,</span> <span class="argument">label</span> <span class="argument">=</span> <span class="string">"Some text"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/annotate.html-2.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='annotate.html'>annotate</a></span><span class="keyword">(</span><span class="string">"text"</span><span class="keyword">,</span> <span class="argument">x</span> <span class="argument">=</span> <span class="number">2</span><span class="keyword">:</span><span class="number">5</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="number">25</span><span class="keyword">,</span> <span class="argument">label</span> <span class="argument">=</span> <span class="string">"Some text"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/annotate.html-4.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='annotate.html'>annotate</a></span><span class="keyword">(</span><span class="string">"rect"</span><span class="keyword">,</span> <span class="argument">xmin</span> <span class="argument">=</span> <span class="number">3</span><span class="keyword">,</span> <span class="argument">xmax</span> <span class="argument">=</span> <span class="number">4.2</span><span class="keyword">,</span> <span class="argument">ymin</span> <span class="argument">=</span> <span class="number">12</span><span class="keyword">,</span> <span class="argument">ymax</span> <span class="argument">=</span> <span class="number">21</span><span class="keyword">,</span>
  <span class="argument">alpha</span> <span class="argument">=</span> <span class="number">.2</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/annotate.html-6.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='annotate.html'>annotate</a></span><span class="keyword">(</span><span class="string">"segment"</span><span class="keyword">,</span> <span class="argument">x</span> <span class="argument">=</span> <span class="number">2.5</span><span class="keyword">,</span> <span class="argument">xend</span> <span class="argument">=</span> <span class="number">4</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="number">15</span><span class="keyword">,</span> <span class="argument">yend</span> <span class="argument">=</span> <span class="number">25</span><span class="keyword">,</span>
  <span class="argument">colour</span> <span class="argument">=</span> <span class="string">"blue"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/annotate.html-8.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='annotate.html'>annotate</a></span><span class="keyword">(</span><span class="string">"pointrange"</span><span class="keyword">,</span> <span class="argument">x</span> <span class="argument">=</span> <span class="number">3.5</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="number">20</span><span class="keyword">,</span> <span class="argument">ymin</span> <span class="argument">=</span> <span class="number">12</span><span class="keyword">,</span> <span class="argument">ymax</span> <span class="argument">=</span> <span class="number">28</span><span class="keyword">,</span>
  <span class="argument">colour</span> <span class="argument">=</span> <span class="string">"red"</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="number">1.5</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/annotate.html-10.png' %></p>
<div class='input'>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='annotate.html'>annotate</a></span><span class="keyword">(</span><span class="string">"text"</span><span class="keyword">,</span> <span class="argument">x</span> <span class="argument">=</span> <span class="number">2</span><span class="keyword">:</span><span class="number">3</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="number">20</span><span class="keyword">:</span><span class="number">21</span><span class="keyword">,</span> <span class="argument">label</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"my label"</span><span class="keyword">,</span> <span class="string">"label 2"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/annotate.html-12.png' %></p></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>annotate</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>