      <h1>Transformed cartesian coordinate system.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='coord_trans.html'>coord_trans</a></span><span class="keyword">(</span><span class="argument">xtrans</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">,</span> <span class="argument">ytrans</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">,</span> <span class="argument">limx</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">limy</span> <span class="argument">=</span> NULL<span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>xtrans,ytrans</dt>
      <dd>transformers for x and y axes</dd>
      <dt>limx,limy</dt>
      <dd>limits for x and y axes. (Named so for
  backward compatability)</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p><code>coord_trans</code> is different to scale transformations
  in that it occurs after statistical transformation and
  will affect the visual appearance of geoms - there is no
  guarantee that straight lines will continue to be
  straight.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>All current transformations only work with continuous
  values - see <code><a href='http://www.inside-r.org/r-doc/scales/trans_new'>trans_new</a></code> for list of
  transformations, and instructions on how to create your
  own.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'>
<span class="comment"># See ?geom_boxplot for other examples</span>

<span class="comment"># Three ways of doing transformating in ggplot:</span>
<span class="comment">#  * by transforming the data</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log10</a></span><span class="keyword">(</span><span class="symbol">carat</span><span class="keyword">)</span><span class="keyword">,</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log10</a></span><span class="keyword">(</span><span class="symbol">price</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">diamonds</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/coord_trans.html-2.png' %></p>
<div class='input'><span class="comment">#  * by transforming the scales</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">carat</span><span class="keyword">,</span> <span class="symbol">price</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="argument">log</span><span class="argument">=</span><span class="string">"xy"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/coord_trans.html-4.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">carat</span><span class="keyword">,</span> <span class="symbol">price</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">diamonds</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_x_log10</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_y_log10</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/coord_trans.html-6.png' %></p>
<div class='input'><span class="comment">#  * by transforming the coordinate system:</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">carat</span><span class="keyword">,</span> <span class="symbol">price</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">diamonds</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_trans.html'>coord_trans</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="string">"log10"</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="string">"log10"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/coord_trans.html-8.png' %></p>
<div class='input'>
<span class="comment"># The difference between transforming the scales and</span>
<span class="comment"># transforming the coordinate system is that scale</span>
<span class="comment"># transformation occurs BEFORE statistics, and coordinate</span>
<span class="comment"># transformation afterwards.  Coordinate transformation also</span>
<span class="comment"># changes the shape of geoms:</span>

<span class="symbol">d</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/subset'>subset</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="symbol">carat</span> <span class="keyword">&gt;</span> <span class="number">0.5</span><span class="keyword">)</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">carat</span><span class="keyword">,</span> <span class="symbol">price</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">d</span><span class="keyword">,</span> <span class="argument">log</span><span class="argument">=</span><span class="string">"xy"</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_smooth.html'>geom_smooth</a></span><span class="keyword">(</span><span class="argument">method</span><span class="argument">=</span><span class="string">"lm"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/coord_trans.html-10.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">carat</span><span class="keyword">,</span> <span class="symbol">price</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">d</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_smooth.html'>geom_smooth</a></span><span class="keyword">(</span><span class="argument">method</span><span class="argument">=</span><span class="string">"lm"</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='coord_trans.html'>coord_trans</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="string">"log10"</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="string">"log10"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/coord_trans.html-12.png' %></p>
<div class='input'>
<span class="comment"># Here I used a subset of diamonds so that the smoothed line didn't</span>
<span class="comment"># drop below zero, which obviously causes problems on the log-transformed</span>
<span class="comment"># scale</span>

<span class="comment"># With a combination of scale and coordinate transformation, it's</span>
<span class="comment"># possible to do back-transformations:</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">scales</span><span class="keyword">)</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">carat</span><span class="keyword">,</span> <span class="symbol">price</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="argument">log</span><span class="argument">=</span><span class="string">"xy"</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_smooth.html'>geom_smooth</a></span><span class="keyword">(</span><span class="argument">method</span><span class="argument">=</span><span class="string">"lm"</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='coord_trans.html'>coord_trans</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/scales/exp_trans'>exp_trans</a></span><span class="keyword">(</span><span class="number">10</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/scales/exp_trans'>exp_trans</a></span><span class="keyword">(</span><span class="number">10</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/coord_trans.html-14.png' %></p>
<div class='input'><span class="comment"># cf.</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">carat</span><span class="keyword">,</span> <span class="symbol">price</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">diamonds</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_smooth.html'>geom_smooth</a></span><span class="keyword">(</span><span class="argument">method</span> <span class="argument">=</span> <span class="string">"lm"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/coord_trans.html-16.png' %></p>
<div class='input'>
<span class="comment"># Also works with discrete scales</span>
<span class="symbol">df</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span><span class="argument">a</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/MathFun'>abs</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/Normal'>rnorm</a></span><span class="keyword">(</span><span class="number">26</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span><span class="symbol">letters</span><span class="keyword">)</span>
<span class="symbol">plot</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">df</span><span class="keyword">,</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">a</span><span class="keyword">,</span><span class="symbol">letters</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span>

<span class="symbol">plot</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_trans.html'>coord_trans</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="string">"log10"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/coord_trans.html-18.png' %></p>
<div class='input'><span class="symbol">plot</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_trans.html'>coord_trans</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="string">"sqrt"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/coord_trans.html-20.png' %></p>
<div class='input'></div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>coord_trans</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>