      <h1>Cartesian coordinates.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='coord_cartesian.html'>coord_cartesian</a></span><span class="keyword">(</span><span class="argument">xlim</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">ylim</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">wise</span> <span class="argument">=</span> NULL<span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>xlim</dt>
      <dd>limits for the x axis</dd>
      <dt>ylim</dt>
      <dd>limits for the y axis</dd>
      <dt>wise</dt>
      <dd>deprecated in 0.9.1</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>The Cartesian coordinate system is the most familiar, and
  common, type of coordinate system. Setting limits on the
  coordinate system will zoom the plot (like you're looking
  at it with a magnifying glass), and will not change the
  underlying data like setting limits on a scale will.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="comment"># There are two ways of zooming the plot display: with scales or</span>
<span class="comment"># with coordinate systems.  They work in two rather different ways.</span>

<span class="keyword">(</span><span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">disp</span><span class="keyword">,</span> <span class="symbol">wt</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">mtcars</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_smooth.html'>geom_smooth</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">)</span></div>
<strong class='message'>geom_smooth: method="auto" and size of largest group is <1000, so using loess. Use 'method = x' to change the smoothing method.</strong>
<p><%= image_tag 'ggplot2/coord_cartesian.html-3.png' %></p>
<div class='input'>
<span class="comment"># Setting the limits on a scale will throw away all data that's not</span>
<span class="comment"># inside these limits.  This is equivalent to plotting a subset of</span>
<span class="comment"># the original data</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_x_continuous</a></span><span class="keyword">(</span><span class="argument">limits</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">325</span><span class="keyword">,</span> <span class="number">500</span><span class="keyword">)</span><span class="keyword">)</span></div>
<strong class='message'>geom_smooth: method="auto" and size of largest group is <1000, so using loess. Use 'method = x' to change the smoothing method.</strong>
<strong class='warning'>Warning message:
Removed 24 rows containing missing values (stat_smooth).</strong>
<strong class='warning'>Warning message:
Removed 24 rows containing missing values (geom_point).</strong>
<p><%= image_tag 'ggplot2/coord_cartesian.html-8.png' %></p>
<div class='input'>
<span class="comment"># Setting the limits on the coordinate system performs a visual zoom</span>
<span class="comment"># the data is unchanged, and we just view a small portion of the original</span>
<span class="comment"># plot.  See how the axis labels are the same as the original data, and</span>
<span class="comment"># the smooth continue past the points visible on this plot.</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_cartesian.html'>coord_cartesian</a></span><span class="keyword">(</span><span class="argument">xlim</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">325</span><span class="keyword">,</span> <span class="number">500</span><span class="keyword">)</span><span class="keyword">)</span></div>
<strong class='message'>geom_smooth: method="auto" and size of largest group is <1000, so using loess. Use 'method = x' to change the smoothing method.</strong>
<p><%= image_tag 'ggplot2/coord_cartesian.html-11.png' %></p>
<div class='input'>
<span class="comment"># You can see the same thing with this 2d histogram</span>
<span class="keyword">(</span><span class="symbol">d</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">carat</span><span class="keyword">,</span> <span class="symbol">price</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='stat_bin2d.html'>stat_bin2d</a></span><span class="keyword">(</span><span class="argument">bins</span> <span class="argument">=</span> <span class="number">25</span><span class="keyword">,</span> <span class="argument">colour</span><span class="argument">=</span><span class="string">"grey50"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/coord_cartesian.html-13.png' %></p>
<div class='input'>
<span class="comment"># When zooming the scale, the we get 25 new bins that are the same</span>
<span class="comment"># size on the plot, but represent smaller regions of the data space</span>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_x_continuous</a></span><span class="keyword">(</span><span class="argument">limits</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">0</span><span class="keyword">,</span> <span class="number">2</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/coord_cartesian.html-15.png' %></p>
<div class='input'>
<span class="comment"># When zooming the coordinate system, we see a subset of original 50 bins,</span>
<span class="comment"># displayed bigger</span>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_cartesian.html'>coord_cartesian</a></span><span class="keyword">(</span><span class="argument">xlim</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">0</span><span class="keyword">,</span> <span class="number">2</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/coord_cartesian.html-17.png' %></p></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>coord_cartesian</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>