      <h1>Lay out panels in a grid.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">facets</span><span class="keyword">,</span> <span class="argument">margins</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">,</span> <span class="argument">scales</span> <span class="argument">=</span> <span class="string">"fixed"</span><span class="keyword">,</span> <span class="argument">space</span> <span class="argument">=</span> <span class="string">"fixed"</span><span class="keyword">,</span> <span class="argument">shrink</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">,</span>
  <span class="argument">labeller</span> <span class="argument">=</span> <span class="string">"label_value"</span><span class="keyword">,</span> <span class="argument">as.table</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">,</span> <span class="argument">drop</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>facets</dt>
      <dd>a formula with the rows (of the tabular
  display) on the LHS and the columns (of the tabular
  display) on the RHS; the dot in the formula is used to
  indicate there should be no faceting on this dimension
  (either row or column). The formula can also be provided
  as a string instead of a classical formula object</dd>
      <dt>margins</dt>
      <dd>either a logical value or a character
  vector. Margins are additional facets which contain all
  the data for each of the possible values of the faceting
  variables. If <code>FALSE</code>, no additional facets are
  included (the default). If <code>TRUE</code>, margins are
  included for all faceting variables. If specified as a
  character vector, it is the names of variables for which
  margins are to be created.</dd>
      <dt>scales</dt>
      <dd>Are scales shared across all facets (the
  default, <code>"fixed"</code>), or do they vary across rows
  (<code>"free_x"</code>), columns (<code>"free_y"</code>), or both
  rows and columns (<code>"free"</code>)</dd>
      <dt>space</dt>
      <dd>If <code>"fixed"</code>, the default, all panels
  have the same size.  If <code>"free_y"</code> their height will
  be proportional to the length of the y scale; if
  <code>"free_x"</code> their width will be proportional to the
  length of the x scale; or if <code>"free"</code> both height
  and width will vary.  This setting has no effect unless
  the appropriate scales also vary.</dd>
      <dt>labeller</dt>
      <dd>A function that takes two arguments
  (<code>variable</code> and <code>value</code>) and returns a string
  suitable for display in the facet strip. See
  <code><a href='label_value.html'>label_value</a></code> for more details and pointers
  to other options.</dd>
      <dt>as.table</dt>
      <dd>If <code>TRUE</code>, the default, the facets
  are laid out like a table with highest values at the
  bottom-right. If <code>FALSE</code>, the facets are laid out
  like a plot with the highest value at the top-right.</dd>
      <dt>shrink</dt>
      <dd>If <code>TRUE</code>, will shrink scales to fit
  output of statistics, not raw data. If <code>FALSE</code>, will
  be range of raw data before statistical summary.</dd>
      <dt>drop</dt>
      <dd>If <code>TRUE</code>, the default, all factor
  levels not used in the data will automatically be
  dropped. If <code>FALSE</code>, all factor levels will be
  shown, regardless of whether or not they appear in the
  data.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Lay out panels in a grid.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'>
<span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">mpg</span><span class="keyword">,</span> <span class="symbol">wt</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span>
<span class="comment"># With one variable</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">.</span> <span class="keyword">~</span> <span class="symbol">cyl</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-2.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">cyl</span> <span class="keyword">~</span> <span class="symbol">.</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-4.png' %></p>
<div class='input'>
<span class="comment"># With two variables</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">vs</span> <span class="keyword">~</span> <span class="symbol">am</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-6.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">am</span> <span class="keyword">~</span> <span class="symbol">vs</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-8.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">vs</span> <span class="keyword">~</span> <span class="symbol">am</span><span class="keyword">,</span> <span class="argument">margins</span><span class="argument">=</span><span class="number">TRUE</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-10.png' %></p>
<div class='input'>
<span class="comment"># To change plot order of facet grid,</span>
<span class="comment"># change the order of variable levels with factor()</span>

<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Random'>set.seed</a></span><span class="keyword">(</span><span class="number">6809</span><span class="keyword">)</span>
<span class="symbol">diamonds</span> <span class="assignement">&lt;-</span> <span class="symbol">diamonds</span><span class="keyword">[</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/sample'>sample</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/nrow'>nrow</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">1000</span><span class="keyword">)</span><span class="keyword">,</span> <span class="keyword">]</span>
<span class="symbol">diamonds</span><span class="keyword">$</span><span class="symbol">cut</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">$</span><span class="symbol">cut</span><span class="keyword">,</span>
         <span class="argument">levels</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"Ideal"</span><span class="keyword">,</span> <span class="string">"Very Good"</span><span class="keyword">,</span> <span class="string">"Fair"</span><span class="keyword">,</span> <span class="string">"Good"</span><span class="keyword">,</span> <span class="string">"Premium"</span><span class="keyword">)</span><span class="keyword">)</span>

<span class="comment"># Repeat first example with new order</span>
<span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">carat</span><span class="keyword">,</span> <span class="symbol">..density..</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
        <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">)</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">.</span> <span class="keyword">~</span> <span class="symbol">cut</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-12.png' %></p>
<div class='input'>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">mpg</span><span class="keyword">,</span> <span class="symbol">wt</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">facets</span> <span class="argument">=</span> <span class="symbol">.</span> <span class="keyword">~</span> <span class="symbol">vs</span> <span class="keyword">+</span> <span class="symbol">am</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-14.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">mpg</span><span class="keyword">,</span> <span class="symbol">wt</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">facets</span> <span class="argument">=</span> <span class="symbol">vs</span> <span class="keyword">+</span> <span class="symbol">am</span> <span class="keyword">~</span> <span class="symbol">.</span> <span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-16.png' %></p>
<div class='input'>
<span class="comment"># You can also use strings, which makes it a little easier</span>
<span class="comment"># when writing functions that generate faceting specifications</span>
<span class="comment"># p + facet_grid("cut ~ .")</span>

<span class="comment"># see also ?plotmatrix for the scatterplot matrix</span>

<span class="comment"># If there isn't any data for a given combination, that panel</span>
<span class="comment"># will be empty</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">mpg</span><span class="keyword">,</span> <span class="symbol">wt</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">mtcars</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">cyl</span> <span class="keyword">~</span> <span class="symbol">vs</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-18.png' %></p>
<div class='input'>
<span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">mpg</span><span class="keyword">,</span> <span class="symbol">wt</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">facets</span> <span class="argument">=</span> <span class="symbol">vs</span> <span class="keyword">~</span> <span class="symbol">cyl</span><span class="keyword">)</span>

<span class="symbol">df</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span><span class="argument">mpg</span> <span class="argument">=</span> <span class="number">22</span><span class="keyword">,</span> <span class="argument">wt</span> <span class="argument">=</span> <span class="number">3</span><span class="keyword">)</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="argument">data</span> <span class="argument">=</span> <span class="symbol">df</span><span class="keyword">,</span> <span class="argument">colour</span><span class="argument">=</span><span class="string">"red"</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="number">2</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-20.png' %></p>
<div class='input'>
<span class="symbol">df2</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span><span class="argument">mpg</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">19</span><span class="keyword">,</span> <span class="number">22</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">wt</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">2</span><span class="keyword">,</span><span class="number">4</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">vs</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">0</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="argument">data</span> <span class="argument">=</span> <span class="symbol">df2</span><span class="keyword">,</span> <span class="argument">colour</span><span class="argument">=</span><span class="string">"red"</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="number">2</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-22.png' %></p>
<div class='input'>
<span class="symbol">df3</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span><span class="argument">mpg</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">19</span><span class="keyword">,</span> <span class="number">22</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">wt</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">2</span><span class="keyword">,</span><span class="number">4</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">vs</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">1</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="argument">data</span> <span class="argument">=</span> <span class="symbol">df3</span><span class="keyword">,</span> <span class="argument">colour</span><span class="argument">=</span><span class="string">"red"</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="number">2</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
invalid factor level, NAs generated</strong>
<p><%= image_tag 'ggplot2/facet_grid.html-25.png' %></p>
<div class='input'>

<span class="comment"># You can also choose whether the scales should be constant</span>
<span class="comment"># across all panels (the default), or whether they should be allowed</span>
<span class="comment"># to vary</span>
<span class="symbol">mt</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">mpg</span><span class="keyword">,</span> <span class="symbol">wt</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span>

<span class="symbol">mt</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">.</span> <span class="keyword">~</span> <span class="symbol">cyl</span><span class="keyword">,</span> <span class="argument">scales</span> <span class="argument">=</span> <span class="string">"free"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-27.png' %></p>
<div class='input'><span class="comment"># If scales and space are free, then the mapping between position</span>
<span class="comment"># and values in the data will be the same across all panels</span>
<span class="symbol">mt</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">.</span> <span class="keyword">~</span> <span class="symbol">cyl</span><span class="keyword">,</span> <span class="argument">scales</span> <span class="argument">=</span> <span class="string">"free"</span><span class="keyword">,</span> <span class="argument">space</span> <span class="argument">=</span> <span class="string">"free"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-29.png' %></p>
<div class='input'>
<span class="symbol">mt</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">vs</span> <span class="keyword">~</span> <span class="symbol">am</span><span class="keyword">,</span> <span class="argument">scales</span> <span class="argument">=</span> <span class="string">"free"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-31.png' %></p>
<div class='input'><span class="symbol">mt</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">vs</span> <span class="keyword">~</span> <span class="symbol">am</span><span class="keyword">,</span> <span class="argument">scales</span> <span class="argument">=</span> <span class="string">"free_x"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-33.png' %></p>
<div class='input'><span class="symbol">mt</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">vs</span> <span class="keyword">~</span> <span class="symbol">am</span><span class="keyword">,</span> <span class="argument">scales</span> <span class="argument">=</span> <span class="string">"free_y"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-35.png' %></p>
<div class='input'><span class="symbol">mt</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">vs</span> <span class="keyword">~</span> <span class="symbol">am</span><span class="keyword">,</span> <span class="argument">scales</span> <span class="argument">=</span> <span class="string">"free"</span><span class="keyword">,</span> <span class="argument">space</span><span class="argument">=</span><span class="string">"free"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-37.png' %></p>
<div class='input'><span class="symbol">mt</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">vs</span> <span class="keyword">~</span> <span class="symbol">am</span><span class="keyword">,</span> <span class="argument">scales</span> <span class="argument">=</span> <span class="string">"free"</span><span class="keyword">,</span> <span class="argument">space</span><span class="argument">=</span><span class="string">"free_x"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-39.png' %></p>
<div class='input'><span class="symbol">mt</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">vs</span> <span class="keyword">~</span> <span class="symbol">am</span><span class="keyword">,</span> <span class="argument">scales</span> <span class="argument">=</span> <span class="string">"free"</span><span class="keyword">,</span> <span class="argument">space</span><span class="argument">=</span><span class="string">"free_y"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-41.png' %></p>
<div class='input'>
<span class="comment"># You may need to set your own breaks for consistent display:</span>
<span class="symbol">mt</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">.</span> <span class="keyword">~</span> <span class="symbol">cyl</span><span class="keyword">,</span> <span class="argument">scales</span> <span class="argument">=</span> <span class="string">"free_x"</span><span class="keyword">,</span> <span class="argument">space</span><span class="argument">=</span><span class="string">"free"</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='scale_continuous.html'>scale_x_continuous</a></span><span class="keyword">(</span><span class="argument">breaks</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/seq'>seq</a></span><span class="keyword">(</span><span class="number">10</span><span class="keyword">,</span> <span class="number">36</span><span class="keyword">,</span> <span class="argument">by</span> <span class="argument">=</span> <span class="number">2</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-43.png' %></p>
<div class='input'><span class="comment"># Adding scale limits override free scales:</span>
<span class="functioncall"><a href='last_plot.html'>last_plot</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='xylim.html'>xlim</a></span><span class="keyword">(</span><span class="number">10</span><span class="keyword">,</span> <span class="number">15</span><span class="keyword">)</span></div>
<strong class='message'>Scale for 'x' is already present. Adding another scale for 'x', which will replace the existing scale.</strong>
<strong class='warning'>Warning message:
Removed 11 rows containing missing values (geom_point).</strong>
<strong class='warning'>Warning message:
Removed 7 rows containing missing values (geom_point).</strong>
<strong class='warning'>Warning message:
Removed 8 rows containing missing values (geom_point).</strong>
<p><%= image_tag 'ggplot2/facet_grid.html-49.png' %></p>
<div class='input'>
<span class="comment"># Free scales are particularly useful for categorical variables</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">cty</span><span class="keyword">,</span> <span class="symbol">model</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">mpg</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">manufacturer</span> <span class="keyword">~</span> <span class="symbol">.</span><span class="keyword">,</span> <span class="argument">scales</span> <span class="argument">=</span> <span class="string">"free"</span><span class="keyword">,</span> <span class="argument">space</span> <span class="argument">=</span> <span class="string">"free"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-51.png' %></p>
<div class='input'><span class="comment"># particularly when you reorder factor levels</span>
<span class="symbol">mpg</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/with'>within</a></span><span class="keyword">(</span><span class="symbol">mpg</span><span class="keyword">,</span> <span class="keyword">{</span>
  <span class="symbol">model</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/reorder.factor'>reorder</a></span><span class="keyword">(</span><span class="symbol">model</span><span class="keyword">,</span> <span class="symbol">cty</span><span class="keyword">)</span>
  <span class="symbol">manufacturer</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/reorder.factor'>reorder</a></span><span class="keyword">(</span><span class="symbol">manufacturer</span><span class="keyword">,</span> <span class="symbol">cty</span><span class="keyword">)</span>
<span class="keyword">}</span><span class="keyword">)</span>
<span class="functioncall"><a href='last_plot.html'>last_plot</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">%+%</span> <span class="symbol">mpg</span> <span class="keyword">+</span> <span class="functioncall"><a href='theme.html'>theme</a></span><span class="keyword">(</span><span class="argument">strip.text.y</span> <span class="argument">=</span> <span class="functioncall"><a href='element_text.html'>element_text</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-53.png' %></p>
<div class='input'>
<span class="comment"># Use as.table to to control direction of horizontal facets, TRUE by default</span>
<span class="symbol">h</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">wt</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span>
<span class="symbol">h</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">cyl</span> <span class="keyword">~</span> <span class="symbol">vs</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-55.png' %></p>
<div class='input'><span class="symbol">h</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">cyl</span> <span class="keyword">~</span> <span class="symbol">vs</span><span class="keyword">,</span> <span class="argument">as.table</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-57.png' %></p>
<div class='input'>
<span class="comment"># Use labeller to control facet labels, label_value is default</span>
<span class="symbol">h</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">cyl</span> <span class="keyword">~</span> <span class="symbol">vs</span><span class="keyword">,</span> <span class="argument">labeller</span> <span class="argument">=</span> <span class="symbol">label_both</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-59.png' %></p>
<div class='input'><span class="comment"># Using label_parsed, see ?plotmath for more options</span>
<span class="symbol">mtcars</span><span class="keyword">$</span><span class="symbol">cyl2</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">$</span><span class="symbol">cyl</span><span class="keyword">,</span> <span class="argument">labels</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"alpha"</span><span class="keyword">,</span> <span class="string">"beta"</span><span class="keyword">,</span> <span class="string">"sqrt(x, y)"</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">k</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">wt</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">)</span>
<span class="symbol">k</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">.</span> <span class="keyword">~</span> <span class="symbol">cyl2</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-61.png' %></p>
<div class='input'><span class="symbol">k</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">.</span> <span class="keyword">~</span> <span class="symbol">cyl2</span><span class="keyword">,</span> <span class="argument">labeller</span> <span class="argument">=</span> <span class="symbol">label_parsed</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-63.png' %></p>
<div class='input'><span class="comment"># For label_bquote the label value is x.</span>
<span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">wt</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">)</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">.</span> <span class="keyword">~</span> <span class="symbol">vs</span><span class="keyword">,</span> <span class="argument">labeller</span> <span class="argument">=</span> <span class="functioncall"><a href='label_bquote.html'>label_bquote</a></span><span class="keyword">(</span><span class="symbol">alpha</span> <span class="keyword">^</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/plyr/quoted'>.</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-65.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">.</span> <span class="keyword">~</span> <span class="symbol">vs</span><span class="keyword">,</span> <span class="argument">labeller</span> <span class="argument">=</span> <span class="functioncall"><a href='label_bquote.html'>label_bquote</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/plyr/quoted'>.</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">)</span> <span class="keyword">^</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/plyr/quoted'>.</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-67.png' %></p>
<div class='input'>
<span class="comment"># Margins can be specified by logically (all yes or all no) or by specific</span>
<span class="comment"># variables as (character) variable names</span>
<span class="symbol">mg</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">wt</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span>
<span class="symbol">mg</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">vs</span> <span class="keyword">+</span> <span class="symbol">am</span> <span class="keyword">~</span> <span class="symbol">gear</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-69.png' %></p>
<div class='input'><span class="symbol">mg</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">vs</span> <span class="keyword">+</span> <span class="symbol">am</span> <span class="keyword">~</span> <span class="symbol">gear</span><span class="keyword">,</span> <span class="argument">margins</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-71.png' %></p>
<div class='input'><span class="symbol">mg</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">vs</span> <span class="keyword">+</span> <span class="symbol">am</span> <span class="keyword">~</span> <span class="symbol">gear</span><span class="keyword">,</span> <span class="argument">margins</span> <span class="argument">=</span> <span class="string">"am"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-73.png' %></p>
<div class='input'><span class="comment"># when margins are made over "vs", since the facets for "am" vary</span>
<span class="comment"># within the values of "vs", the marginal facet for "vs" is also</span>
<span class="comment"># a margin over "am".</span>
<span class="symbol">mg</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">vs</span> <span class="keyword">+</span> <span class="symbol">am</span> <span class="keyword">~</span> <span class="symbol">gear</span><span class="keyword">,</span> <span class="argument">margins</span> <span class="argument">=</span> <span class="string">"vs"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-75.png' %></p>
<div class='input'><span class="symbol">mg</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">vs</span> <span class="keyword">+</span> <span class="symbol">am</span> <span class="keyword">~</span> <span class="symbol">gear</span><span class="keyword">,</span> <span class="argument">margins</span> <span class="argument">=</span> <span class="string">"gear"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-77.png' %></p>
<div class='input'><span class="symbol">mg</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">vs</span> <span class="keyword">+</span> <span class="symbol">am</span> <span class="keyword">~</span> <span class="symbol">gear</span><span class="keyword">,</span> <span class="argument">margins</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"gear"</span><span class="keyword">,</span> <span class="string">"am"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_grid.html-79.png' %></p>
<div class='input'></div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>facet_grid</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>