      <h1>Violin plot.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='geom_violin.html'>geom_violin</a></span><span class="keyword">(</span><span class="argument">mapping</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">stat</span> <span class="argument">=</span> <span class="string">"ydensity"</span><span class="keyword">,</span> <span class="argument">position</span> <span class="argument">=</span> <span class="string">"dodge"</span><span class="keyword">,</span> <span class="argument">trim</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">,</span>
  <span class="argument">scale</span> <span class="argument">=</span> <span class="string">"area"</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>trim</dt>
      <dd>If <code>TRUE</code> (default), trim the tails of
  the violins to the range of the data. If <code>FALSE</code>,
  don't trim the tails.</dd>
      <dt>scale</dt>
      <dd>if "area" (default), all violins have the
  same area (before trimming the tails). If "count", areas
  are scaled proportionally to the number of observations.
  If "width", all violins have the same maximum width.</dd>
      <dt>mapping</dt>
      <dd>The aesthetic mapping, usually constructed
  with <code><a href='aes.html'>aes</a></code> or <code><a href='aes_string.html'>aes_string</a></code>. Only
  needs to be set at the layer level if you are overriding
  the plot defaults.</dd>
      <dt>data</dt>
      <dd>A layer specific dataset - only needed if you
  want to override the plot defaults.</dd>
      <dt>stat</dt>
      <dd>The statistical transformation to use on the
  data for this layer.</dd>
      <dt>position</dt>
      <dd>The position adjustment to use for
  overlappling points on this layer</dd>
      <dt>...</dt>
      <dd>other arguments passed on to
  <code><a href='layer.html'>layer</a></code>. This can include aesthetics whose
  values you want to set, not map. See <code><a href='layer.html'>layer</a></code>
  for more details.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Violin plot.</p>
  
    </div>

    <div class="Aesthetics">
      <h2>Aesthetics</h2>
      
      <p><code>geom_violin</code> understands the following aesthetics (required aesthetics are in bold):</p>
  
      <p><ul>
<li> <code><strong>x</strong></code>
  </li>
<li> <code><strong>y</strong></code>
  </li>
<li> <code>alpha</code>
  </li>
<li> <code>colour</code>
  </li>
<li> <code>fill</code>
  </li>
<li> <code>linetype</code>
  </li>
<li> <code>size</code>
  </li>
<li> <code>weight</code>
</li>
</ul></p>
  
      <p></p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'>
<span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span>

<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_violin.html'>geom_violin</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_violin.html-2.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"violin"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_violin.html-4.png' %></p>
<div class='input'>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_violin.html'>geom_violin</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_jitter.html'>geom_jitter</a></span><span class="keyword">(</span><span class="argument">height</span> <span class="argument">=</span> <span class="number">0</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_violin.html-6.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_violin.html'>geom_violin</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_flip.html'>coord_flip</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_violin.html-8.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"violin"</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='coord_flip.html'>coord_flip</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_violin.html-10.png' %></p>
<div class='input'>
<span class="comment"># Scale maximum width proportional to sample size:</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_violin.html'>geom_violin</a></span><span class="keyword">(</span><span class="argument">scale</span> <span class="argument">=</span> <span class="string">"count"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_violin.html-12.png' %></p>
<div class='input'>
<span class="comment"># Scale maximum width to 1 for all violins:</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_violin.html'>geom_violin</a></span><span class="keyword">(</span><span class="argument">scale</span> <span class="argument">=</span> <span class="string">"width"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_violin.html-14.png' %></p>
<div class='input'>
<span class="comment"># Default is to trim violins to the range of the data. To disable:</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_violin.html'>geom_violin</a></span><span class="keyword">(</span><span class="argument">trim</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_violin.html-16.png' %></p>
<div class='input'>
<span class="comment"># Use a smaller bandwidth for closer density fit (default is 1).</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_violin.html'>geom_violin</a></span><span class="keyword">(</span><span class="argument">adjust</span> <span class="argument">=</span> <span class="number">.5</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_violin.html-18.png' %></p>
<div class='input'>
<span class="comment"># Add aesthetic mappings</span>
<span class="comment"># Note that violins are automatically dodged when any aesthetic is</span>
<span class="comment"># a factor</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_violin.html'>geom_violin</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">fill</span> <span class="argument">=</span> <span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_violin.html-20.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_violin.html'>geom_violin</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">fill</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_violin.html-22.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_violin.html'>geom_violin</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">fill</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">vs</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_violin.html-24.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_violin.html'>geom_violin</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">fill</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">am</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_violin.html-26.png' %></p>
<div class='input'>
<span class="comment"># Set aesthetics to fixed value</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_violin.html'>geom_violin</a></span><span class="keyword">(</span><span class="argument">fill</span> <span class="argument">=</span> <span class="string">"grey80"</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="string">"#3366FF"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_violin.html-28.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"violin"</span><span class="keyword">,</span>
  <span class="argument">colour</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/AsIs'>I</a></span><span class="keyword">(</span><span class="string">"#3366FF"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_violin.html-30.png' %></p>
<div class='input'>
<span class="comment"># Scales vs. coordinate transforms -------</span>
<span class="comment"># Scale transformations occur before the density statistics are computed.</span>
<span class="comment"># Coordinate transformations occur afterwards.  Observe the effect on the</span>
<span class="comment"># number of outliers.</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">plyr</span><span class="keyword">)</span> <span class="comment"># to access round_any</span>
<span class="symbol">m</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">movies</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">y</span> <span class="argument">=</span> <span class="symbol">votes</span><span class="keyword">,</span> <span class="argument">x</span> <span class="argument">=</span> <span class="symbol">rating</span><span class="keyword">,</span>
   <span class="argument">group</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/plyr/round_any'>round_any</a></span><span class="keyword">(</span><span class="symbol">rating</span><span class="keyword">,</span> <span class="number">0.5</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_violin.html'>geom_violin</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
position_dodge requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_violin.html-33.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_violin.html'>geom_violin</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_y_log10</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
position_dodge requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_violin.html-36.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_violin.html'>geom_violin</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_trans.html'>coord_trans</a></span><span class="keyword">(</span><span class="argument">y</span> <span class="argument">=</span> <span class="string">"log10"</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
position_dodge requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_violin.html-39.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_violin.html'>geom_violin</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_y_log10</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_trans.html'>coord_trans</a></span><span class="keyword">(</span><span class="argument">y</span> <span class="argument">=</span> <span class="string">"log10"</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
position_dodge requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_violin.html-42.png' %></p>
<div class='input'>
<span class="comment"># Violin plots with continuous x:</span>
<span class="comment"># Use the group aesthetic to group observations in violins</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">year</span><span class="keyword">,</span> <span class="symbol">budget</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">movies</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"violin"</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
Removed 53573 rows containing non-finite values (stat_ydensity).</strong>
<p><%= image_tag 'ggplot2/geom_violin.html-45.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">year</span><span class="keyword">,</span> <span class="symbol">budget</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">movies</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"violin"</span><span class="keyword">,</span>
  <span class="argument">group</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/plyr/round_any'>round_any</a></span><span class="keyword">(</span><span class="symbol">year</span><span class="keyword">,</span> <span class="number">10</span><span class="keyword">,</span> <span class="symbol">floor</span><span class="keyword">)</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
Removed 53573 rows containing non-finite values (stat_ydensity).</strong>
<strong class='warning'>Warning message:
position_dodge requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_violin.html-49.png' %></p>
<div class='input'></div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>geom_violin</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>