      <h1>An interval represented by a vertical line.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='geom_linerange.html'>geom_linerange</a></span><span class="keyword">(</span><span class="argument">mapping</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">stat</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">,</span> <span class="argument">position</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">,</span>
  <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>mapping</dt>
      <dd>The aesthetic mapping, usually constructed
  with <code><a href='aes.html'>aes</a></code> or <code><a href='aes_string.html'>aes_string</a></code>. Only
  needs to be set at the layer level if you are overriding
  the plot defaults.</dd>
      <dt>data</dt>
      <dd>A layer specific dataset - only needed if you
  want to override the plot defaults.</dd>
      <dt>stat</dt>
      <dd>The statistical transformation to use on the
  data for this layer.</dd>
      <dt>position</dt>
      <dd>The position adjustment to use for
  overlappling points on this layer</dd>
      <dt>...</dt>
      <dd>other arguments passed on to
  <code><a href='layer.html'>layer</a></code>. This can include aesthetics whose
  values you want to set, not map. See <code><a href='layer.html'>layer</a></code>
  for more details.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>An interval represented by a vertical line.</p>
  
    </div>

    <div class="Aesthetics">
      <h2>Aesthetics</h2>
      
      <p><code>geom_linerange</code> understands the following aesthetics (required aesthetics are in bold):</p>
  
      <p><ul>
<li> <code><strong>x</strong></code>
  </li>
<li> <code><strong>ymax</strong></code>
  </li>
<li> <code><strong>ymin</strong></code>
  </li>
<li> <code>alpha</code>
  </li>
<li> <code>colour</code>
  </li>
<li> <code>linetype</code>
  </li>
<li> <code>size</code>
</li>
</ul></p>
  
      <p></p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="comment"># Generate data: means and standard errors of means for prices</span>
<span class="comment"># for each type of cut</span>
<span class="symbol">dmod</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/lm'>lm</a></span><span class="keyword">(</span><span class="symbol">price</span> <span class="keyword">~</span> <span class="symbol">cut</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">diamonds</span><span class="keyword">)</span>
<span class="symbol">cuts</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span><span class="argument">cut</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/unique'>unique</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">$</span><span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">,</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/predict'>predict</a></span><span class="keyword">(</span><span class="symbol">dmod</span><span class="keyword">,</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span><span class="argument">cut</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/unique'>unique</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">$</span><span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">se</span><span class="argument">=</span><span class="number">TRUE</span><span class="keyword">)</span><span class="keyword">[</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"fit"</span><span class="keyword">,</span><span class="string">"se.fit"</span><span class="keyword">)</span><span class="keyword">]</span><span class="keyword">)</span>

<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">cut</span><span class="keyword">,</span> <span class="symbol">fit</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">cuts</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_linerange.html-2.png' %></p>
<div class='input'><span class="comment"># With a bar chart, we are comparing lengths, so the y-axis is</span>
<span class="comment"># automatically extended to include 0</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">cut</span><span class="keyword">,</span> <span class="symbol">fit</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">cuts</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="string">"bar"</span><span class="keyword">)</span></div>
<strong class='message'>Mapping a variable to y and also using stat="bin". With stat="bin", it will attempt to set the y value to the count of cases in each group. This can result in unexpected behavior and will not be allowed in a future version of ggplot2. If you want y to represent counts of cases, use stat="bin" and don't map a variable to y. If you want y to represent values in the data, use stat="identity". See ?geom_bar for examples.</strong>
<p><%= image_tag 'ggplot2/geom_linerange.html-5.png' %></p>
<div class='input'>
<span class="comment"># Display estimates and standard errors in various ways</span>
<span class="symbol">se</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">cuts</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">cut</span><span class="keyword">,</span> <span class="symbol">fit</span><span class="keyword">,</span>
  <span class="argument">ymin</span> <span class="argument">=</span> <span class="symbol">fit</span> <span class="keyword">-</span> <span class="symbol">se.fit</span><span class="keyword">,</span> <span class="argument">ymax</span><span class="argument">=</span><span class="symbol">fit</span> <span class="keyword">+</span> <span class="symbol">se.fit</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">se</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_linerange.html'>geom_linerange</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_linerange.html-7.png' %></p>
<div class='input'><span class="symbol">se</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_pointrange.html'>geom_pointrange</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_linerange.html-9.png' %></p>
<div class='input'><span class="symbol">se</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_errorbar.html'>geom_errorbar</a></span><span class="keyword">(</span><span class="argument">width</span> <span class="argument">=</span> <span class="number">0.5</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_linerange.html-11.png' %></p>
<div class='input'><span class="symbol">se</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_crossbar.html'>geom_crossbar</a></span><span class="keyword">(</span><span class="argument">width</span> <span class="argument">=</span> <span class="number">0.5</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_linerange.html-13.png' %></p>
<div class='input'>
<span class="comment"># Use coord_flip to flip the x and y axes</span>
<span class="symbol">se</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_linerange.html'>geom_linerange</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_flip.html'>coord_flip</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_linerange.html-15.png' %></p></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>geom_linerange</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  <code><a href='geom_errorbar.html'>geom_errorbar</a></code>: error bars;
  <code><a href='geom_pointrange.html'>geom_pointrange</a></code>: range indicated by
  straight line, with point in the middle;
  <code><a href='geom_crossbar.html'>geom_crossbar</a></code>: hollow bar with middle
  indicated by horizontal line; <code><a href='stat_summary.html'>stat_summary</a></code>:
  examples of these guys in use; <code><a href='geom_smooth.html'>geom_smooth</a></code>:
  for continuous analog

        
  </div>
</div>