      <h1>Box and whiskers plot.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="argument">mapping</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">stat</span> <span class="argument">=</span> <span class="string">"boxplot"</span><span class="keyword">,</span> <span class="argument">position</span> <span class="argument">=</span> <span class="string">"dodge"</span><span class="keyword">,</span> <span class="argument">outlier.colour</span> <span class="argument">=</span> <span class="string">"black"</span><span class="keyword">,</span>
  <span class="argument">outlier.shape</span> <span class="argument">=</span> <span class="number">16</span><span class="keyword">,</span> <span class="argument">outlier.size</span> <span class="argument">=</span> <span class="number">2</span><span class="keyword">,</span> <span class="argument">notch</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">,</span> <span class="argument">notchwidth</span> <span class="argument">=</span> <span class="number">0.5</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>outlier.colour</dt>
      <dd>colour for outlying points</dd>
      <dt>outlier.shape</dt>
      <dd>shape of outlying points</dd>
      <dt>outlier.size</dt>
      <dd>size of outlying points</dd>
      <dt>notch</dt>
      <dd>if <code>FALSE</code> (default) make a standard
  box plot. If <code>TRUE</code>, make a notched box plot.
  Notches are used to compare groups; if the notches of two
  boxes do not overlap, this is strong evidence that the
  medians differ.</dd>
      <dt>notchwidth</dt>
      <dd>for a notched box plot, width of the
  notch relative to the body (default 0.5)</dd>
      <dt>mapping</dt>
      <dd>The aesthetic mapping, usually constructed
  with <code><a href='aes.html'>aes</a></code> or <code><a href='aes_string.html'>aes_string</a></code>. Only
  needs to be set at the layer level if you are overriding
  the plot defaults.</dd>
      <dt>data</dt>
      <dd>A layer specific dataset - only needed if you
  want to override the plot defaults.</dd>
      <dt>stat</dt>
      <dd>The statistical transformation to use on the
  data for this layer.</dd>
      <dt>position</dt>
      <dd>The position adjustment to use for
  overlappling points on this layer</dd>
      <dt>...</dt>
      <dd>other arguments passed on to
  <code><a href='layer.html'>layer</a></code>. This can include aesthetics whose
  values you want to set, not map. See <code><a href='layer.html'>layer</a></code>
  for more details.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>The upper and lower "hinges" correspond to the first and
  third quartiles (the 25th and 75th percentiles). This
  differs slightly from the method used by the
  <code>boxplot</code> function, and may be apparent with small
  samples. See <code><a href='http://www.inside-r.org/r-doc/grDevices/boxplot.stats'>boxplot.stats</a></code> for for more
  information on how hinge positions are calculated for
  <code>boxplot</code>.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>The upper whisker extends from the hinge to the highest
  value that is within 1.5 * IQR of the hinge, where IQR is
  the inter-quartile range, or distance between the first
  and third quartiles. The lower whisker extends from the
  hinge to the lowest value within 1.5 * IQR of the hinge.
  Data beyond the end of the whiskers are outliers and
  plotted as points (as specified by Tukey).</p>
  
      <p>In a notched box plot, the notches extend <code>1.58 *
  IQR / sqrt(n)</code>. This gives a roughly 95
  interval for comparing medians. See McGill et al. (1978)
  for more details.</p>
  
    </div>

    <div class="Aesthetics">
      <h2>Aesthetics</h2>
      
      <p><code>geom_boxplot</code> understands the following aesthetics (required aesthetics are in bold):</p>
  
      <p><ul>
<li> <code><strong>lower</strong></code>
  </li>
<li> <code><strong>middle</strong></code>
  </li>
<li> <code><strong>upper</strong></code>
  </li>
<li> <code><strong>x</strong></code>
  </li>
<li> <code><strong>ymax</strong></code>
  </li>
<li> <code><strong>ymin</strong></code>
  </li>
<li> <code>alpha</code>
  </li>
<li> <code>colour</code>
  </li>
<li> <code>fill</code>
  </li>
<li> <code>linetype</code>
  </li>
<li> <code>shape</code>
  </li>
<li> <code>size</code>
  </li>
<li> <code>weight</code>
</li>
</ul></p>
  
      <p></p>
  
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>McGill, R., Tukey, J. W. and Larsen, W. A. (1978)
  Variations of box plots. The American Statistician 32,
  12-16.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'>
<span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span>

<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_boxplot.html-2.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"boxplot"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_boxplot.html-4.png' %></p>
<div class='input'>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_jitter.html'>geom_jitter</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_boxplot.html-6.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_flip.html'>coord_flip</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_boxplot.html-8.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"boxplot"</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='coord_flip.html'>coord_flip</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_boxplot.html-10.png' %></p>
<div class='input'>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="argument">notch</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
notch went outside hinges. Try setting notch=FALSE.</strong>
<strong class='warning'>Warning message:
notch went outside hinges. Try setting notch=FALSE.</strong>
<p><%= image_tag 'ggplot2/geom_boxplot.html-14.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="argument">notch</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">,</span> <span class="argument">notchwidth</span> <span class="argument">=</span> <span class="number">.3</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
notch went outside hinges. Try setting notch=FALSE.</strong>
<strong class='warning'>Warning message:
notch went outside hinges. Try setting notch=FALSE.</strong>
<p><%= image_tag 'ggplot2/geom_boxplot.html-18.png' %></p>
<div class='input'>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="argument">outlier.colour</span> <span class="argument">=</span> <span class="string">"green"</span><span class="keyword">,</span> <span class="argument">outlier.size</span> <span class="argument">=</span> <span class="number">3</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_boxplot.html-20.png' %></p>
<div class='input'>
<span class="comment"># Add aesthetic mappings</span>
<span class="comment"># Note that boxplots are automatically dodged when any aesthetic is</span>
<span class="comment"># a factor</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">fill</span> <span class="argument">=</span> <span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_boxplot.html-22.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">fill</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_boxplot.html-24.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">fill</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">vs</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_boxplot.html-26.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">fill</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">am</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_boxplot.html-28.png' %></p>
<div class='input'>
<span class="comment"># Set aesthetics to fixed value</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="argument">fill</span> <span class="argument">=</span> <span class="string">"grey80"</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="string">"#3366FF"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_boxplot.html-30.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"boxplot"</span><span class="keyword">,</span>
  <span class="argument">colour</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/AsIs'>I</a></span><span class="keyword">(</span><span class="string">"#3366FF"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_boxplot.html-32.png' %></p>
<div class='input'>
<span class="comment"># Scales vs. coordinate transforms -------</span>
<span class="comment"># Scale transformations occur before the boxplot statistics are computed.</span>
<span class="comment"># Coordinate transformations occur afterwards.  Observe the effect on the</span>
<span class="comment"># number of outliers.</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">plyr</span><span class="keyword">)</span> <span class="comment"># to access round_any</span>
<span class="symbol">m</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">movies</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">y</span> <span class="argument">=</span> <span class="symbol">votes</span><span class="keyword">,</span> <span class="argument">x</span> <span class="argument">=</span> <span class="symbol">rating</span><span class="keyword">,</span>
   <span class="argument">group</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/plyr/round_any'>round_any</a></span><span class="keyword">(</span><span class="symbol">rating</span><span class="keyword">,</span> <span class="number">0.5</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
position_dodge requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_boxplot.html-35.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_y_log10</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
position_dodge requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_boxplot.html-38.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_trans.html'>coord_trans</a></span><span class="keyword">(</span><span class="argument">y</span> <span class="argument">=</span> <span class="string">"log10"</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
position_dodge requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_boxplot.html-41.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_y_log10</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_trans.html'>coord_trans</a></span><span class="keyword">(</span><span class="argument">y</span> <span class="argument">=</span> <span class="string">"log10"</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
position_dodge requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_boxplot.html-44.png' %></p>
<div class='input'>
<span class="comment"># Boxplots with continuous x:</span>
<span class="comment"># Use the group aesthetic to group observations in boxplots</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">year</span><span class="keyword">,</span> <span class="symbol">budget</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">movies</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"boxplot"</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
Removed 53573 rows containing non-finite values (stat_boxplot).</strong>
<p><%= image_tag 'ggplot2/geom_boxplot.html-47.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">year</span><span class="keyword">,</span> <span class="symbol">budget</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">movies</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"boxplot"</span><span class="keyword">,</span>
  <span class="argument">group</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/plyr/round_any'>round_any</a></span><span class="keyword">(</span><span class="symbol">year</span><span class="keyword">,</span> <span class="number">10</span><span class="keyword">,</span> <span class="symbol">floor</span><span class="keyword">)</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
Removed 53573 rows containing non-finite values (stat_boxplot).</strong>
<strong class='warning'>Warning message:
position_dodge requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_boxplot.html-51.png' %></p>
<div class='input'>
<span class="comment"># Using precomputed statistics</span>
<span class="comment"># generate sample data</span>
<span class="symbol">abc</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/plyr/adply'>adply</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/matrix'>matrix</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/Normal'>rnorm</a></span><span class="keyword">(</span><span class="number">100</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">ncol</span> <span class="argument">=</span> <span class="number">5</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">2</span><span class="keyword">,</span> <span class="symbol">quantile</span><span class="keyword">,</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">0</span><span class="keyword">,</span> <span class="number">.25</span><span class="keyword">,</span> <span class="number">.5</span><span class="keyword">,</span> <span class="number">.75</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">b</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">abc</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">X1</span><span class="keyword">,</span> <span class="argument">ymin</span> <span class="argument">=</span> <span class="symbol">`0%`</span><span class="keyword">,</span> <span class="argument">lower</span> <span class="argument">=</span> <span class="symbol">`25%`</span><span class="keyword">,</span> <span class="argument">middle</span> <span class="argument">=</span> <span class="symbol">`50%`</span><span class="keyword">,</span> <span class="argument">upper</span> <span class="argument">=</span> <span class="symbol">`75%`</span><span class="keyword">,</span> <span class="argument">ymax</span> <span class="argument">=</span> <span class="symbol">`100%`</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">b</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="argument">stat</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_boxplot.html-53.png' %></p>
<div class='input'><span class="symbol">b</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="argument">stat</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_flip.html'>coord_flip</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_boxplot.html-55.png' %></p>
<div class='input'><span class="symbol">b</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_boxplot.html'>geom_boxplot</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">fill</span> <span class="argument">=</span> <span class="symbol">X1</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">stat</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_boxplot.html-57.png' %></p>
<div class='input'></div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>geom_boxplot</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  <code><a href='stat_quantile.html'>stat_quantile</a></code> to view quantiles conditioned
  on a continuous variable, <code><a href='geom_jitter.html'>geom_jitter</a></code> for
  another way to look at conditional distributions"

        
  </div>
</div>