      <h1>Textual annotations.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='geom_text.html'>geom_text</a></span><span class="keyword">(</span><span class="argument">mapping</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">stat</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">,</span> <span class="argument">position</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">,</span>
  <span class="argument">parse</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>parse</dt>
      <dd>If TRUE, the labels will be parsed into
  expressions and displayed as described in ?plotmath</dd>
      <dt>mapping</dt>
      <dd>The aesthetic mapping, usually constructed
  with <code><a href='aes.html'>aes</a></code> or <code><a href='aes_string.html'>aes_string</a></code>. Only
  needs to be set at the layer level if you are overriding
  the plot defaults.</dd>
      <dt>data</dt>
      <dd>A layer specific dataset - only needed if you
  want to override the plot defaults.</dd>
      <dt>stat</dt>
      <dd>The statistical transformation to use on the
  data for this layer.</dd>
      <dt>position</dt>
      <dd>The position adjustment to use for
  overlappling points on this layer</dd>
      <dt>...</dt>
      <dd>other arguments passed on to
  <code><a href='layer.html'>layer</a></code>. This can include aesthetics whose
  values you want to set, not map. See <code><a href='layer.html'>layer</a></code>
  for more details.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Textual annotations.</p>
  
    </div>

    <div class="Aesthetics">
      <h2>Aesthetics</h2>
      
      <p><code>geom_text</code> understands the following aesthetics (required aesthetics are in bold):</p>
  
      <p><ul>
<li> <code><strong>label</strong></code>
  </li>
<li> <code><strong>x</strong></code>
  </li>
<li> <code><strong>y</strong></code>
  </li>
<li> <code>alpha</code>
  </li>
<li> <code>angle</code>
  </li>
<li> <code>colour</code>
  </li>
<li> <code>family</code>
  </li>
<li> <code>fontface</code>
  </li>
<li> <code>hjust</code>
  </li>
<li> <code>lineheight</code>
  </li>
<li> <code>size</code>
  </li>
<li> <code>vjust</code>
</li>
</ul></p>
  
      <p></p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'>
<span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span><span class="argument">=</span><span class="symbol">wt</span><span class="keyword">,</span> <span class="argument">y</span><span class="argument">=</span><span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">label</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/colnames'>rownames</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span>

<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_text.html'>geom_text</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_text.html-2.png' %></p>
<div class='input'><span class="comment"># Change size of the label</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_text.html'>geom_text</a></span><span class="keyword">(</span><span class="argument">size</span><span class="argument">=</span><span class="number">10</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_text.html-4.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span>

<span class="comment"># Set aesthetics to fixed value</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_text.html'>geom_text</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_text.html-6.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_text.html'>geom_text</a></span><span class="keyword">(</span><span class="argument">hjust</span><span class="argument">=</span><span class="number">0</span><span class="keyword">,</span> <span class="argument">vjust</span><span class="argument">=</span><span class="number">0</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_text.html-8.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_text.html'>geom_text</a></span><span class="keyword">(</span><span class="argument">angle</span> <span class="argument">=</span> <span class="number">45</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_text.html-10.png' %></p>
<div class='input'>
<span class="comment"># Add aesthetic mappings</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_text.html'>geom_text</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">colour</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_text.html-12.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_text.html'>geom_text</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">colour</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_hue.html'>scale_colour_discrete</a></span><span class="keyword">(</span><span class="argument">l</span><span class="argument">=</span><span class="number">40</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_text.html-14.png' %></p>
<div class='input'>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_text.html'>geom_text</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">size</span><span class="argument">=</span><span class="symbol">wt</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_text.html-16.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_text.html'>geom_text</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">size</span><span class="argument">=</span><span class="symbol">wt</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_size.html'>scale_size</a></span><span class="keyword">(</span><span class="argument">range</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">3</span><span class="keyword">,</span><span class="number">6</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_text.html-18.png' %></p>
<div class='input'>
<span class="comment"># You can display expressions by setting parse = TRUE.  The</span>
<span class="comment"># details of the display are described in ?plotmath, but note that</span>
<span class="comment"># geom_text uses strings, not expressions.</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_text.html'>geom_text</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">label</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/paste'>paste</a></span><span class="keyword">(</span><span class="symbol">wt</span><span class="keyword">,</span> <span class="string">"^("</span><span class="keyword">,</span> <span class="symbol">cyl</span><span class="keyword">,</span> <span class="string">")"</span><span class="keyword">,</span> <span class="argument">sep</span> <span class="argument">=</span> <span class="string">""</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">parse</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_text.html-20.png' %></p>
<div class='input'>
<span class="comment"># Add an annotation not from a variable source</span>
<span class="symbol">c</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">wt</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span>
<span class="symbol">c</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_text.html'>geom_text</a></span><span class="keyword">(</span><span class="argument">data</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">x</span> <span class="argument">=</span> <span class="number">5</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="number">30</span><span class="keyword">,</span> <span class="argument">label</span> <span class="argument">=</span> <span class="string">"plot mpg vs. wt"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_text.html-22.png' %></p>
<div class='input'><span class="comment"># Or, you can use annotate</span>
<span class="symbol">c</span> <span class="keyword">+</span> <span class="functioncall"><a href='annotate.html'>annotate</a></span><span class="keyword">(</span><span class="string">"text"</span><span class="keyword">,</span> <span class="argument">label</span> <span class="argument">=</span> <span class="string">"plot mpg vs. wt"</span><span class="keyword">,</span> <span class="argument">x</span> <span class="argument">=</span> <span class="number">2</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="number">15</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="number">8</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="string">"red"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_text.html-24.png' %></p>
<div class='input'>
<span class="comment"># Use qplot instead</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">wt</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">label</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/colnames'>rownames</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">)</span><span class="keyword">,</span>
   <span class="argument">geom</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"point"</span><span class="keyword">,</span> <span class="string">"text"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_text.html-26.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">wt</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">label</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/colnames'>rownames</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="symbol">wt</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_text.html'>geom_text</a></span><span class="keyword">(</span><span class="argument">colour</span> <span class="argument">=</span> <span class="string">"red"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_text.html-28.png' %></p>
<div class='input'>
<span class="comment"># You can specify family, fontface and lineheight</span>
<span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span><span class="argument">=</span><span class="symbol">wt</span><span class="keyword">,</span> <span class="argument">y</span><span class="argument">=</span><span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">label</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/colnames'>rownames</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_text.html'>geom_text</a></span><span class="keyword">(</span><span class="argument">fontface</span><span class="argument">=</span><span class="number">3</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_text.html-30.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_text.html'>geom_text</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">fontface</span><span class="argument">=</span><span class="symbol">am</span><span class="keyword">+</span><span class="number">1</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_text.html-32.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_text.html'>geom_text</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">family</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"serif"</span><span class="keyword">,</span> <span class="string">"mono"</span><span class="keyword">)</span><span class="keyword">[</span><span class="symbol">am</span><span class="keyword">+</span><span class="number">1</span><span class="keyword">]</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_text.html-34.png' %></p>
<div class='input'></div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>geom_text</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>