      <h1>Dot plot</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='geom_dotplot.html'>geom_dotplot</a></span><span class="keyword">(</span><span class="argument">mapping</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">stat</span> <span class="argument">=</span> <span class="string">"bindot"</span><span class="keyword">,</span> <span class="argument">position</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">,</span>
  <span class="argument">na.rm</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">,</span> <span class="argument">binwidth</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">binaxis</span> <span class="argument">=</span> <span class="string">"x"</span><span class="keyword">,</span> <span class="argument">method</span> <span class="argument">=</span> <span class="string">"dotdensity"</span><span class="keyword">,</span> <span class="argument">binpositions</span> <span class="argument">=</span> <span class="string">"bygroup"</span><span class="keyword">,</span>
      <span class="argument">stackdir</span> <span class="argument">=</span> <span class="string">"up"</span><span class="keyword">,</span> <span class="argument">stackratio</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">,</span> <span class="argument">dotsize</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">,</span> <span class="argument">stackgroups</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>binaxis</dt>
      <dd>which axis to bin along "x" (default) or
  "y"</dd>
      <dt>method</dt>
      <dd>"dotdensity" (default) for dot-density
  binning, or "histodot" for fixed bin widths (like
  stat_bin)</dd>
      <dt>binwidth</dt>
      <dd>When <code>method</code> is "dotdensity", this
  specifies maximum bin width.  When method is "histodot",
  this specifies bin width.  Defaults to 1/30 of the range
  of the data</dd>
      <dt>binpositions</dt>
      <dd>When <code>method</code> is "dotdensity",
  "bygroup" (default) determines positions of the bins for
  each group separately. "all" determines positions of the
  bins with all the data taken together; this is used for
  aligning dot stacks across multiple groups.</dd>
      <dt>stackdir</dt>
      <dd>which direction to stack the dots. "up"
  (default), "down", "center", "centerwhole" (centered, but
  with dots aligned)</dd>
      <dt>stackratio</dt>
      <dd>how close to stack the dots. Default is
  1, where dots just just touch. Use smaller values for
  closer, overlapping dots.</dd>
      <dt>dotsize</dt>
      <dd>The diameter of the dots relative to
  <code>binwidth</code>, default 1.</dd>
      <dt>stackgroups</dt>
      <dd>should dots be stacked across groups?
  This has the effect that <code>position = "stack"</code> should
  have, but can't (because this geom has some odd
  properties).</dd>
      <dt>mapping</dt>
      <dd>The aesthetic mapping, usually constructed
  with <code><a href='aes.html'>aes</a></code> or <code><a href='aes_string.html'>aes_string</a></code>. Only
  needs to be set at the layer level if you are overriding
  the plot defaults.</dd>
      <dt>data</dt>
      <dd>A layer specific dataset - only needed if you
  want to override the plot defaults.</dd>
      <dt>stat</dt>
      <dd>The statistical transformation to use on the
  data for this layer.</dd>
      <dt>position</dt>
      <dd>The position adjustment to use for
  overlappling points on this layer</dd>
      <dt>na.rm</dt>
      <dd>If <code>FALSE</code> (the default), removes
  missing values with a warning.  If <code>TRUE</code> silently
  removes missing values.</dd>
      <dt>...</dt>
      <dd>other arguments passed on to
  <code><a href='layer.html'>layer</a></code>. This can include aesthetics whose
  values you want to set, not map. See <code><a href='layer.html'>layer</a></code>
  for more details.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>In a dot plot, the width of a dot corresponds to the bin
  width (or maximum width, depending on the binning
  algorithm), and dots are stacked, with each dot
  representing one observation.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>With dot-density binning, the bin positions are
  determined by the data and <code>binwidth</code>, which is the
  maximum width of each bin. See Wilkinson (1999) for
  details on the dot-density binning algorithm.</p>
  
      <p>With histodot binning, the bins have fixed positions and
  fixed widths, much like a histogram.</p>
  
      <p>When binning along the x axis and stacking along the y
  axis, the numbers on y axis are not meaningful, due to
  technical limitations of ggplot2. You can hide the y
  axis, as in one of the examples, or manually scale it to
  match the number of dots.</p>
  
    </div>

    <div class="Aesthetics">
      <h2>Aesthetics</h2>
      
      <p><code>geom_dotplot</code> understands the following aesthetics (required aesthetics are in bold):</p>
  
      <p><ul>
<li> <code><strong>x</strong></code>
  </li>
<li> <code><strong>y</strong></code>
  </li>
<li> <code>alpha</code>
  </li>
<li> <code>colour</code>
  </li>
<li> <code>fill</code>
</li>
</ul></p>
  
      <p></p>
  
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Wilkinson, L. (1999) Dot plots. The American
  Statistician, 53(3), 276-281.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_dotplot.html'>geom_dotplot</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<strong class='message'>stat_bindot: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<p><%= image_tag 'ggplot2/geom_dotplot.html-3.png' %></p>
<div class='input'><span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_dotplot.html'>geom_dotplot</a></span><span class="keyword">(</span><span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">1.5</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_dotplot.html-5.png' %></p>
<div class='input'>
<span class="comment"># Use fixed-width bins</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_dotplot.html'>geom_dotplot</a></span><span class="keyword">(</span><span class="argument">method</span><span class="argument">=</span><span class="string">"histodot"</span><span class="keyword">,</span> <span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">1.5</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_dotplot.html-7.png' %></p>
<div class='input'>
<span class="comment"># Some other stacking methods</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_dotplot.html'>geom_dotplot</a></span><span class="keyword">(</span><span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">1.5</span><span class="keyword">,</span> <span class="argument">stackdir</span> <span class="argument">=</span> <span class="string">"center"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_dotplot.html-9.png' %></p>
<div class='input'><span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_dotplot.html'>geom_dotplot</a></span><span class="keyword">(</span><span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">1.5</span><span class="keyword">,</span> <span class="argument">stackdir</span> <span class="argument">=</span> <span class="string">"centerwhole"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_dotplot.html-11.png' %></p>
<div class='input'>
<span class="comment"># y axis isn't really meaningful, so hide it</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_dotplot.html'>geom_dotplot</a></span><span class="keyword">(</span><span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">1.5</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='scale_continuous.html'>scale_y_continuous</a></span><span class="keyword">(</span><span class="argument">name</span> <span class="argument">=</span> <span class="string">""</span><span class="keyword">,</span> <span class="argument">breaks</span> <span class="argument">=</span> <span class="number">NA</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
breaks = NA is deprecated. Please use breaks = NULL to remove breaks in the scale.</strong>
<p><%= image_tag 'ggplot2/geom_dotplot.html-14.png' %></p>
<div class='input'>
<span class="comment"># Overlap dots vertically</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_dotplot.html'>geom_dotplot</a></span><span class="keyword">(</span><span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">1.5</span><span class="keyword">,</span> <span class="argument">stackratio</span> <span class="argument">=</span> <span class="number">.7</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_dotplot.html-16.png' %></p>
<div class='input'>
<span class="comment"># Expand dot diameter</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span>  <span class="argument">=</span><span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_dotplot.html'>geom_dotplot</a></span><span class="keyword">(</span><span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">1.5</span><span class="keyword">,</span> <span class="argument">dotsize</span> <span class="argument">=</span> <span class="number">1.25</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_dotplot.html-18.png' %></p>
<div class='input'>

<span class="comment"># Examples with stacking along y axis instead of x</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_dotplot.html'>geom_dotplot</a></span><span class="keyword">(</span><span class="argument">binaxis</span> <span class="argument">=</span> <span class="string">"y"</span><span class="keyword">,</span> <span class="argument">stackdir</span> <span class="argument">=</span> <span class="string">"center"</span><span class="keyword">)</span></div>
<strong class='message'>stat_bindot: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<p><%= image_tag 'ggplot2/geom_dotplot.html-21.png' %></p>
<div class='input'>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_dotplot.html'>geom_dotplot</a></span><span class="keyword">(</span><span class="argument">binaxis</span> <span class="argument">=</span> <span class="string">"y"</span><span class="keyword">,</span> <span class="argument">stackdir</span> <span class="argument">=</span> <span class="string">"center"</span><span class="keyword">)</span></div>
<strong class='message'>stat_bindot: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<p><%= image_tag 'ggplot2/geom_dotplot.html-24.png' %></p>
<div class='input'>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_dotplot.html'>geom_dotplot</a></span><span class="keyword">(</span><span class="argument">binaxis</span> <span class="argument">=</span> <span class="string">"y"</span><span class="keyword">,</span> <span class="argument">stackdir</span> <span class="argument">=</span> <span class="string">"centerwhole"</span><span class="keyword">)</span></div>
<strong class='message'>stat_bindot: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<p><%= image_tag 'ggplot2/geom_dotplot.html-27.png' %></p>
<div class='input'>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">vs</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">fill</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_dotplot.html'>geom_dotplot</a></span><span class="keyword">(</span><span class="argument">binaxis</span> <span class="argument">=</span> <span class="string">"y"</span><span class="keyword">,</span> <span class="argument">stackdir</span> <span class="argument">=</span> <span class="string">"center"</span><span class="keyword">,</span> <span class="argument">position</span> <span class="argument">=</span> <span class="string">"dodge"</span><span class="keyword">)</span></div>
<strong class='message'>stat_bindot: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<p><%= image_tag 'ggplot2/geom_dotplot.html-30.png' %></p>
<div class='input'>
<span class="comment"># binpositions="all" ensures that the bins are aligned between groups</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">am</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_dotplot.html'>geom_dotplot</a></span><span class="keyword">(</span><span class="argument">binaxis</span> <span class="argument">=</span> <span class="string">"y"</span><span class="keyword">,</span> <span class="argument">stackdir</span> <span class="argument">=</span> <span class="string">"center"</span><span class="keyword">,</span> <span class="argument">binpositions</span><span class="argument">=</span><span class="string">"all"</span><span class="keyword">)</span></div>
<strong class='message'>stat_bindot: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<p><%= image_tag 'ggplot2/geom_dotplot.html-33.png' %></p>
<div class='input'>
<span class="comment"># Stacking multiple groups, with different fill</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">fill</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_dotplot.html'>geom_dotplot</a></span><span class="keyword">(</span><span class="argument">stackgroups</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">,</span> <span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">,</span> <span class="argument">binpositions</span> <span class="argument">=</span> <span class="string">"all"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_dotplot.html-35.png' %></p>
<div class='input'>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">fill</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_dotplot.html'>geom_dotplot</a></span><span class="keyword">(</span><span class="argument">stackgroups</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">,</span> <span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">,</span> <span class="argument">method</span> <span class="argument">=</span> <span class="string">"histodot"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_dotplot.html-37.png' %></p>
<div class='input'>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">fill</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_dotplot.html'>geom_dotplot</a></span><span class="keyword">(</span><span class="argument">binaxis</span> <span class="argument">=</span> <span class="string">"y"</span><span class="keyword">,</span> <span class="argument">stackgroups</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">,</span> <span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">,</span> <span class="argument">method</span> <span class="argument">=</span> <span class="string">"histodot"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_dotplot.html-39.png' %></p></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>geom_dotplot</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>