      <h1>Bars, rectangles with bases on x-axis</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="argument">mapping</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">stat</span> <span class="argument">=</span> <span class="string">"bin"</span><span class="keyword">,</span> <span class="argument">position</span> <span class="argument">=</span> <span class="string">"stack"</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>mapping</dt>
      <dd>The aesthetic mapping, usually constructed
  with <code><a href='aes.html'>aes</a></code> or <code><a href='aes_string.html'>aes_string</a></code>. Only
  needs to be set at the layer level if you are overriding
  the plot defaults.</dd>
      <dt>data</dt>
      <dd>A layer specific dataset - only needed if you
  want to override the plot defaults.</dd>
      <dt>stat</dt>
      <dd>The statistical transformation to use on the
  data for this layer.</dd>
      <dt>position</dt>
      <dd>The position adjustment to use for
  overlappling points on this layer</dd>
      <dt>...</dt>
      <dd>other arguments passed on to
  <code><a href='layer.html'>layer</a></code>. This can include aesthetics whose
  values you want to set, not map. See <code><a href='layer.html'>layer</a></code>
  for more details.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>The bar geom is used to produce 1d area plots: bar charts
  for categorical x, and histograms for continuous y.
  stat_bin explains the details of these summaries in more
  detail.  In particular, you can use the <code>weight</code>
  aesthetic to create weighted histograms and barcharts
  where the height of the bar no longer represent a count
  of observations, but a sum over some other variable.  See
  the examples for a practical example.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>The heights of the bars commonly represent one of two
  things: either a count of cases in each group, the values
  in a column of the data frame. By default,
  <code>geom_bar</code> uses <code>stat="bin"</code>. This makes the
  height of each bar equal to the number of cases in each
  group, and it is incompatible with mapping values to the
  <code>y</code> aesthetic. If you want the heights of the bars
  to represent values in the data, use
  <code>stat="identity"</code> and map a value to the <code>y</code>
  aesthetic.</p>
  
      <p>By default, multiple x's occuring in the same place will
  be stacked a top one another by position_stack.  If you
  want them to be dodged from side-to-side, see
  <code><a href='position_dodge.html'>position_dodge</a></code>. Finally,
  <code><a href='position_fill.html'>position_fill</a></code> shows relative propotions at
  each x by stacking the bars and then stretching or
  squashing to the same height.</p>
  
      <p>Sometimes, bar charts are used not as a distributional
  summary, but instead of a dotplot.  Generally, it's
  preferable to use a dotplot (see <code>geom_point</code>) as it
  has a better data-ink ratio.  However, if you do want to
  create this type of plot, you can set y to the value you
  have calculated, and use <code>stat='identity'</code></p>
  
      <p>A bar chart maps the height of the bar to a variable, and
  so the base of the bar must always been shown to produce
  a valid visual comparison. Naomi Robbins has a nice
  <a href = 'http://www.b-eye-network.com/view/index.php?cid=2468'>article
  on this topic</a>. This is the reason it doesn't make sense
  to use a log-scaled y axis with a bar chart</p>
  
    </div>

    <div class="Aesthetics">
      <h2>Aesthetics</h2>
      
      <p><code>geom_bar</code> understands the following aesthetics (required aesthetics are in bold):</p>
  
      <p><ul>
<li> <code><strong>x</strong></code>
  </li>
<li> <code>alpha</code>
  </li>
<li> <code>colour</code>
  </li>
<li> <code>fill</code>
  </li>
<li> <code>linetype</code>
  </li>
<li> <code>size</code>
  </li>
<li> <code>weight</code>
</li>
</ul></p>
  
      <p></p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'>
<span class="comment"># Generate data</span>
<span class="symbol">c</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span>

<span class="comment"># By default, uses stat="bin", which gives the count in each category</span>
<span class="symbol">c</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-2.png' %></p>
<div class='input'><span class="symbol">c</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="argument">width</span><span class="argument">=</span><span class="number">.5</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-4.png' %></p>
<div class='input'><span class="symbol">c</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_flip.html'>coord_flip</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-6.png' %></p>
<div class='input'><span class="symbol">c</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="argument">fill</span><span class="argument">=</span><span class="string">"white"</span><span class="keyword">,</span> <span class="argument">colour</span><span class="argument">=</span><span class="string">"darkgreen"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-8.png' %></p>
<div class='input'>
<span class="comment"># Use qplot</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="string">"bar"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-10.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="string">"bar"</span><span class="keyword">,</span> <span class="argument">fill</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-12.png' %></p>
<div class='input'>
<span class="comment"># When the data contains y values in a column, use stat="identity"</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">plyr</span><span class="keyword">)</span>
<span class="comment"># Calculate the mean mpg for each level of cyl</span>
<span class="symbol">mm</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/plyr/ddply'>ddply</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="string">"cyl"</span><span class="keyword">,</span> <span class="symbol">summarise</span><span class="keyword">,</span> <span class="argument">mmpg</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/mean'>mean</a></span><span class="keyword">(</span><span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mm</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">mmpg</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="argument">stat</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-14.png' %></p>
<div class='input'>
<span class="comment"># Stacked bar charts</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="string">"bar"</span><span class="keyword">,</span> <span class="argument">fill</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">vs</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-16.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="string">"bar"</span><span class="keyword">,</span> <span class="argument">fill</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">gear</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-18.png' %></p>
<div class='input'>
<span class="comment"># Stacked bar charts are easy in ggplot2, but not effective visually,</span>
<span class="comment"># particularly when there are many different things being stacked</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">clarity</span><span class="keyword">,</span> <span class="argument">fill</span><span class="argument">=</span><span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-20.png' %></p>
<div class='input'><span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">color</span><span class="keyword">,</span> <span class="argument">fill</span><span class="argument">=</span><span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_flip.html'>coord_flip</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-22.png' %></p>
<div class='input'>
<span class="comment"># Faceting is a good alternative:</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">clarity</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='facet_wrap.html'>facet_wrap</a></span><span class="keyword">(</span><span class="keyword">~</span> <span class="symbol">cut</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-24.png' %></p>
<div class='input'><span class="comment"># If the x axis is ordered, using a line instead of bars is another</span>
<span class="comment"># possibility:</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">clarity</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_freqpoly.html'>geom_freqpoly</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">group</span> <span class="argument">=</span> <span class="symbol">cut</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-26.png' %></p>
<div class='input'>
<span class="comment"># Dodged bar charts</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">clarity</span><span class="keyword">,</span> <span class="argument">fill</span><span class="argument">=</span><span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="argument">position</span><span class="argument">=</span><span class="string">"dodge"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-28.png' %></p>
<div class='input'><span class="comment"># compare with</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">cut</span><span class="keyword">,</span> <span class="argument">fill</span><span class="argument">=</span><span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">.</span> <span class="keyword">~</span> <span class="symbol">clarity</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-30.png' %></p>
<div class='input'>
<span class="comment"># But again, probably better to use frequency polygons instead:</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">clarity</span><span class="keyword">,</span> <span class="argument">colour</span><span class="argument">=</span><span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_freqpoly.html'>geom_freqpoly</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">group</span> <span class="argument">=</span> <span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-32.png' %></p>
<div class='input'>
<span class="comment"># Often we don't want the height of the bar to represent the</span>
<span class="comment"># count of observations, but the sum of some other variable.</span>
<span class="comment"># For example, the following plot shows the number of diamonds</span>
<span class="comment"># of each colour</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">color</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="string">"bar"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-34.png' %></p>
<div class='input'><span class="comment"># If, however, we want to see the total number of carats in each colour</span>
<span class="comment"># we need to weight by the carat variable</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">color</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="string">"bar"</span><span class="keyword">,</span> <span class="argument">weight</span><span class="argument">=</span><span class="symbol">carat</span><span class="keyword">,</span> <span class="argument">ylab</span><span class="argument">=</span><span class="string">"carat"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-36.png' %></p>
<div class='input'>
<span class="comment"># A bar chart used to display means</span>
<span class="symbol">meanprice</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/tapply'>tapply</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">$</span><span class="symbol">price</span><span class="keyword">,</span> <span class="symbol">diamonds</span><span class="keyword">$</span><span class="symbol">cut</span><span class="keyword">,</span> <span class="symbol">mean</span><span class="keyword">)</span>
<span class="symbol">cut</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/levels'>levels</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">$</span><span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">levels</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/levels'>levels</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">$</span><span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">cut</span><span class="keyword">,</span> <span class="symbol">meanprice</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-38.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">cut</span><span class="keyword">,</span> <span class="symbol">meanprice</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="string">"bar"</span><span class="keyword">,</span> <span class="argument">stat</span><span class="argument">=</span><span class="string">"identity"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-40.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">cut</span><span class="keyword">,</span> <span class="symbol">meanprice</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="string">"bar"</span><span class="keyword">,</span> <span class="argument">stat</span><span class="argument">=</span><span class="string">"identity"</span><span class="keyword">,</span> <span class="argument">fill</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/AsIs'>I</a></span><span class="keyword">(</span><span class="string">"grey50"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-42.png' %></p>
<div class='input'>
<span class="comment"># Another stacked bar chart example</span>
<span class="symbol">k</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mpg</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">manufacturer</span><span class="keyword">,</span> <span class="argument">fill</span><span class="argument">=</span><span class="symbol">class</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">k</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-44.png' %></p>
<div class='input'><span class="comment"># Use scales to change aesthetics defaults</span>
<span class="symbol">k</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_brewer.html'>scale_fill_brewer</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-46.png' %></p>
<div class='input'><span class="symbol">k</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_grey.html'>scale_fill_grey</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-48.png' %></p>
<div class='input'>
<span class="comment"># To change plot order of class varible</span>
<span class="comment"># use factor() to change order of levels</span>
<span class="symbol">mpg</span><span class="keyword">$</span><span class="symbol">class</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">mpg</span><span class="keyword">$</span><span class="symbol">class</span><span class="keyword">,</span> <span class="argument">levels</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"midsize"</span><span class="keyword">,</span> <span class="string">"minivan"</span><span class="keyword">,</span>
<span class="string">"suv"</span><span class="keyword">,</span> <span class="string">"compact"</span><span class="keyword">,</span> <span class="string">"2seater"</span><span class="keyword">,</span> <span class="string">"subcompact"</span><span class="keyword">,</span> <span class="string">"pickup"</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">m</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mpg</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">manufacturer</span><span class="keyword">,</span> <span class="argument">fill</span><span class="argument">=</span><span class="symbol">class</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_bar.html-50.png' %></p>
<div class='input'></div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>geom_bar</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  <code><a href='stat_bin.html'>stat_bin</a></code> for more details of the binning
  alogirithm, <code><a href='position_dodge.html'>position_dodge</a></code> for creating
  side-by-side barcharts, <code><a href='position_stack.html'>position_stack</a></code> for
  more info on stacking,

        
  </div>
</div>