      <h1>Error bars.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='geom_errorbar.html'>geom_errorbar</a></span><span class="keyword">(</span><span class="argument">mapping</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">stat</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">,</span> <span class="argument">position</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">,</span>
  <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>mapping</dt>
      <dd>The aesthetic mapping, usually constructed
  with <code><a href='aes.html'>aes</a></code> or <code><a href='aes_string.html'>aes_string</a></code>. Only
  needs to be set at the layer level if you are overriding
  the plot defaults.</dd>
      <dt>data</dt>
      <dd>A layer specific dataset - only needed if you
  want to override the plot defaults.</dd>
      <dt>stat</dt>
      <dd>The statistical transformation to use on the
  data for this layer.</dd>
      <dt>position</dt>
      <dd>The position adjustment to use for
  overlappling points on this layer</dd>
      <dt>...</dt>
      <dd>other arguments passed on to
  <code><a href='layer.html'>layer</a></code>. This can include aesthetics whose
  values you want to set, not map. See <code><a href='layer.html'>layer</a></code>
  for more details.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Error bars.</p>
  
    </div>

    <div class="Aesthetics">
      <h2>Aesthetics</h2>
      
      <p><code>geom_errorbar</code> understands the following aesthetics (required aesthetics are in bold):</p>
  
      <p><ul>
<li> <code><strong>x</strong></code>
  </li>
<li> <code><strong>ymax</strong></code>
  </li>
<li> <code><strong>ymin</strong></code>
  </li>
<li> <code>alpha</code>
  </li>
<li> <code>colour</code>
  </li>
<li> <code>linetype</code>
  </li>
<li> <code>size</code>
  </li>
<li> <code>width</code>
</li>
</ul></p>
  
      <p></p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="comment"># Create a simple example dataset</span>
<span class="symbol">df</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span>
  <span class="argument">trt</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">1</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">,</span> <span class="number">2</span><span class="keyword">,</span> <span class="number">2</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">resp</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">1</span><span class="keyword">,</span> <span class="number">5</span><span class="keyword">,</span> <span class="number">3</span><span class="keyword">,</span> <span class="number">4</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">group</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">1</span><span class="keyword">,</span> <span class="number">2</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">,</span> <span class="number">2</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">se</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">0.1</span><span class="keyword">,</span> <span class="number">0.3</span><span class="keyword">,</span> <span class="number">0.3</span><span class="keyword">,</span> <span class="number">0.2</span><span class="keyword">)</span>
<span class="keyword">)</span>
<span class="symbol">df2</span> <span class="assignement">&lt;-</span> <span class="symbol">df</span><span class="keyword">[</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">1</span><span class="keyword">,</span><span class="number">3</span><span class="keyword">)</span><span class="keyword">,</span><span class="keyword">]</span>

<span class="comment"># Define the top and bottom of the errorbars</span>
<span class="symbol">limits</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">ymax</span> <span class="argument">=</span> <span class="symbol">resp</span> <span class="keyword">+</span> <span class="symbol">se</span><span class="keyword">,</span> <span class="argument">ymin</span><span class="argument">=</span><span class="symbol">resp</span> <span class="keyword">-</span> <span class="symbol">se</span><span class="keyword">)</span>

<span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">df</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">fill</span><span class="argument">=</span><span class="symbol">group</span><span class="keyword">,</span> <span class="argument">y</span><span class="argument">=</span><span class="symbol">resp</span><span class="keyword">,</span> <span class="argument">x</span><span class="argument">=</span><span class="symbol">trt</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="argument">position</span><span class="argument">=</span><span class="string">"dodge"</span><span class="keyword">,</span> <span class="argument">stat</span><span class="argument">=</span><span class="string">"identity"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_errorbar.html-2.png' %></p>
<div class='input'>
<span class="comment"># Because the bars and errorbars have different widths</span>
<span class="comment"># we need to specify how wide the objects we are dodging are</span>
<span class="symbol">dodge</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='position_dodge.html'>position_dodge</a></span><span class="keyword">(</span><span class="argument">width</span><span class="argument">=</span><span class="number">0.9</span><span class="keyword">)</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="argument">position</span><span class="argument">=</span><span class="symbol">dodge</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_errorbar.html'>geom_errorbar</a></span><span class="keyword">(</span><span class="symbol">limits</span><span class="keyword">,</span> <span class="argument">position</span><span class="argument">=</span><span class="symbol">dodge</span><span class="keyword">,</span> <span class="argument">width</span><span class="argument">=</span><span class="number">0.25</span><span class="keyword">)</span></div>
<strong class='message'>Mapping a variable to y and also using stat="bin". With stat="bin", it will attempt to set the y value to the count of cases in each group. This can result in unexpected behavior and will not be allowed in a future version of ggplot2. If you want y to represent counts of cases, use stat="bin" and don't map a variable to y. If you want y to represent values in the data, use stat="identity". See ?geom_bar for examples.</strong>
<p><%= image_tag 'ggplot2/geom_errorbar.html-5.png' %></p>
<div class='input'>
<span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">df2</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">fill</span><span class="argument">=</span><span class="symbol">group</span><span class="keyword">,</span> <span class="argument">y</span><span class="argument">=</span><span class="symbol">resp</span><span class="keyword">,</span> <span class="argument">x</span><span class="argument">=</span><span class="symbol">trt</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="argument">position</span><span class="argument">=</span><span class="symbol">dodge</span><span class="keyword">)</span></div>
<strong class='message'>Mapping a variable to y and also using stat="bin". With stat="bin", it will attempt to set the y value to the count of cases in each group. This can result in unexpected behavior and will not be allowed in a future version of ggplot2. If you want y to represent counts of cases, use stat="bin" and don't map a variable to y. If you want y to represent values in the data, use stat="identity". See ?geom_bar for examples.</strong>
<p><%= image_tag 'ggplot2/geom_errorbar.html-8.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="argument">position</span><span class="argument">=</span><span class="symbol">dodge</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_errorbar.html'>geom_errorbar</a></span><span class="keyword">(</span><span class="symbol">limits</span><span class="keyword">,</span> <span class="argument">position</span><span class="argument">=</span><span class="symbol">dodge</span><span class="keyword">,</span> <span class="argument">width</span><span class="argument">=</span><span class="number">0.25</span><span class="keyword">)</span></div>
<strong class='message'>Mapping a variable to y and also using stat="bin". With stat="bin", it will attempt to set the y value to the count of cases in each group. This can result in unexpected behavior and will not be allowed in a future version of ggplot2. If you want y to represent counts of cases, use stat="bin" and don't map a variable to y. If you want y to represent values in the data, use stat="identity". See ?geom_bar for examples.</strong>
<p><%= image_tag 'ggplot2/geom_errorbar.html-11.png' %></p>
<div class='input'>
<span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">df</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">colour</span><span class="argument">=</span><span class="symbol">group</span><span class="keyword">,</span> <span class="argument">y</span><span class="argument">=</span><span class="symbol">resp</span><span class="keyword">,</span> <span class="argument">x</span><span class="argument">=</span><span class="symbol">trt</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_errorbar.html'>geom_errorbar</a></span><span class="keyword">(</span><span class="symbol">limits</span><span class="keyword">,</span> <span class="argument">width</span><span class="argument">=</span><span class="number">0.2</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_errorbar.html-13.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_pointrange.html'>geom_pointrange</a></span><span class="keyword">(</span><span class="symbol">limits</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_errorbar.html-15.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_crossbar.html'>geom_crossbar</a></span><span class="keyword">(</span><span class="symbol">limits</span><span class="keyword">,</span> <span class="argument">width</span><span class="argument">=</span><span class="number">0.2</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_errorbar.html-17.png' %></p>
<div class='input'>
<span class="comment"># If we want to draw lines, we need to manually set the</span>
<span class="comment"># groups which define the lines - here the groups in the</span>
<span class="comment"># original dataframe</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_line.html'>geom_line</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">group</span><span class="argument">=</span><span class="symbol">group</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_errorbar.html'>geom_errorbar</a></span><span class="keyword">(</span><span class="symbol">limits</span><span class="keyword">,</span> <span class="argument">width</span><span class="argument">=</span><span class="number">0.2</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_errorbar.html-19.png' %></p></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>geom_errorbar</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  <code><a href='geom_pointrange.html'>geom_pointrange</a></code>: range indicated by
  straight line, with point in the middle;
  <code><a href='geom_linerange.html'>geom_linerange</a></code>: range indicated by straight
  line; <code><a href='geom_crossbar.html'>geom_crossbar</a></code>: hollow bar with middle
  indicated by horizontal line; <code><a href='stat_summary.html'>stat_summary</a></code>:
  examples of these guys in use, <code><a href='geom_smooth.html'>geom_smooth</a></code>
  for continuous analog

        
  </div>
</div>