      <h1>Histogram</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="argument">mapping</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">stat</span> <span class="argument">=</span> <span class="string">"bin"</span><span class="keyword">,</span> <span class="argument">position</span> <span class="argument">=</span> <span class="string">"stack"</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>mapping</dt>
      <dd>The aesthetic mapping, usually constructed
  with <code><a href='aes.html'>aes</a></code> or <code><a href='aes_string.html'>aes_string</a></code>. Only
  needs to be set at the layer level if you are overriding
  the plot defaults.</dd>
      <dt>data</dt>
      <dd>A layer specific dataset - only needed if you
  want to override the plot defaults.</dd>
      <dt>stat</dt>
      <dd>The statistical transformation to use on the
  data for this layer.</dd>
      <dt>position</dt>
      <dd>The position adjustment to use for
  overlappling points on this layer</dd>
      <dt>...</dt>
      <dd>other arguments passed on to
  <code><a href='layer.html'>layer</a></code>. This can include aesthetics whose
  values you want to set, not map. See <code><a href='layer.html'>layer</a></code>
  for more details.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p><code>geom_histogram</code> is an alias for
  <code><a href='geom_bar.html'>geom_bar</a></code> plus <code><a href='stat_bin.html'>stat_bin</a></code> so you
  will need to look at the documentation for those objects
  to get more information about the parameters.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>By default, <code>stat_bin</code> uses 30 bins - this is not a
  good default, but the idea is to get you experimenting
  with different binwidths. You may need to look at a few
  to uncover the full story behind your data.</p>
  
    </div>

    <div class="Aesthetics">
      <h2>Aesthetics</h2>
      
      <p><code>geom_histogram</code> understands the following aesthetics (required aesthetics are in bold):</p>
  
      <p><ul>
<li> <code><strong>x</strong></code>
  </li>
<li> <code>alpha</code>
  </li>
<li> <code>colour</code>
  </li>
<li> <code>fill</code>
  </li>
<li> <code>linetype</code>
  </li>
<li> <code>size</code>
  </li>
<li> <code>weight</code>
</li>
</ul></p>
  
      <p></p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Random'>set.seed</a></span><span class="keyword">(</span><span class="number">5689</span><span class="keyword">)</span>
<span class="symbol">movies</span> <span class="assignement">&lt;-</span> <span class="symbol">movies</span><span class="keyword">[</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/sample'>sample</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/nrow'>nrow</a></span><span class="keyword">(</span><span class="symbol">movies</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">1000</span><span class="keyword">)</span><span class="keyword">,</span> <span class="keyword">]</span>
<span class="comment"># Simple examples</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">rating</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">movies</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="string">"histogram"</span><span class="keyword">)</span></div>
<strong class='message'>stat_bin: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<strong class='warning'>Warning message:
position_stack requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-4.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">rating</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">movies</span><span class="keyword">,</span> <span class="argument">weight</span><span class="argument">=</span><span class="symbol">votes</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="string">"histogram"</span><span class="keyword">)</span></div>
<strong class='message'>stat_bin: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<strong class='warning'>Warning message:
position_stack requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-8.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">rating</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">movies</span><span class="keyword">,</span> <span class="argument">weight</span><span class="argument">=</span><span class="symbol">votes</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="string">"histogram"</span><span class="keyword">,</span> <span class="argument">binwidth</span><span class="argument">=</span><span class="number">1</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_histogram.html-10.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">rating</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">movies</span><span class="keyword">,</span> <span class="argument">weight</span><span class="argument">=</span><span class="symbol">votes</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="string">"histogram"</span><span class="keyword">,</span> <span class="argument">binwidth</span><span class="argument">=</span><span class="number">0.1</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
position_stack requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-13.png' %></p>
<div class='input'>
<span class="comment"># More complex</span>
<span class="symbol">m</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">movies</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span><span class="argument">=</span><span class="symbol">rating</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<strong class='message'>stat_bin: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<strong class='warning'>Warning message:
position_stack requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-17.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">y</span> <span class="argument">=</span> <span class="symbol">..density..</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_density.html'>geom_density</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<strong class='message'>stat_bin: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<strong class='warning'>Warning message:
position_stack requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-21.png' %></p>
<div class='input'>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_histogram.html-23.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">0.5</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_histogram.html-25.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">0.1</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
position_stack requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-28.png' %></p>
<div class='input'>
<span class="comment"># Add aesthetic mappings</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">weight</span> <span class="argument">=</span> <span class="symbol">votes</span><span class="keyword">)</span><span class="keyword">)</span></div>
<strong class='message'>stat_bin: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<strong class='warning'>Warning message:
position_stack requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-32.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">y</span> <span class="argument">=</span> <span class="symbol">..count..</span><span class="keyword">)</span><span class="keyword">)</span></div>
<strong class='message'>stat_bin: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<strong class='warning'>Warning message:
position_stack requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-36.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">fill</span> <span class="argument">=</span> <span class="symbol">..count..</span><span class="keyword">)</span><span class="keyword">)</span></div>
<strong class='message'>stat_bin: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<strong class='warning'>Warning message:
position_stack requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-40.png' %></p>
<div class='input'>
<span class="comment"># Change scales</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">fill</span> <span class="argument">=</span> <span class="symbol">..count..</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='scale_gradient.html'>scale_fill_gradient</a></span><span class="keyword">(</span><span class="string">"Count"</span><span class="keyword">,</span> <span class="argument">low</span> <span class="argument">=</span> <span class="string">"green"</span><span class="keyword">,</span> <span class="argument">high</span> <span class="argument">=</span> <span class="string">"red"</span><span class="keyword">)</span></div>
<strong class='message'>stat_bin: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<strong class='warning'>Warning message:
position_stack requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-44.png' %></p>
<div class='input'>
<span class="comment"># Often we don't want the height of the bar to represent the</span>
<span class="comment"># count of observations, but the sum of some other variable.</span>
<span class="comment"># For example, the following plot shows the number of movies</span>
<span class="comment"># in each rating.</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">rating</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">movies</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="string">"bar"</span><span class="keyword">,</span> <span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">0.1</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
position_stack requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-47.png' %></p>
<div class='input'><span class="comment"># If, however, we want to see the number of votes cast in each</span>
<span class="comment"># category, we need to weight by the votes variable</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">rating</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">movies</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="string">"bar"</span><span class="keyword">,</span> <span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">0.1</span><span class="keyword">,</span>
  <span class="argument">weight</span><span class="argument">=</span><span class="symbol">votes</span><span class="keyword">,</span> <span class="argument">ylab</span> <span class="argument">=</span> <span class="string">"votes"</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
position_stack requires constant width: output may be incorrect</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-50.png' %></p>
<div class='input'>
<span class="symbol">m</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">movies</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">votes</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="comment"># For transformed scales, binwidth applies to the transformed data.</span>
<span class="comment"># The bins have constant width on the transformed scale.</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_x_log10</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<strong class='message'>stat_bin: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-53.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_x_log10</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_histogram.html-55.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_x_sqrt</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<strong class='message'>stat_bin: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-58.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">10</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_x_sqrt</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_histogram.html-60.png' %></p>
<div class='input'>
<span class="comment"># For transformed coordinate systems, the binwidth applies to the</span>
<span class="comment"># raw data.  The bins have constant width on the original scale.</span>

<span class="comment"># Using log scales does not work here, because the first</span>
<span class="comment"># bar is anchored at zero, and so when transformed becomes negative</span>
<span class="comment"># infinity.  This is not a problem when transforming the scales, because</span>
<span class="comment"># no observations have 0 ratings.</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="argument">origin</span> <span class="argument">=</span> <span class="number">0</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_trans.html'>coord_trans</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="string">"log10"</span><span class="keyword">)</span></div>
<strong class='message'>stat_bin: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-63.png' %></p>
<div class='input'><span class="comment"># Use origin = 0, to make sure we don't take sqrt of negative values</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="argument">origin</span> <span class="argument">=</span> <span class="number">0</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_trans.html'>coord_trans</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="string">"sqrt"</span><span class="keyword">)</span></div>
<strong class='message'>stat_bin: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-66.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="argument">origin</span> <span class="argument">=</span> <span class="number">0</span><span class="keyword">,</span> <span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">1000</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_trans.html'>coord_trans</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="string">"sqrt"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_histogram.html-68.png' %></p>
<div class='input'>
<span class="comment"># You can also transform the y axis.  Remember that the base of the bars</span>
<span class="comment"># has value 0, so log transformations are not appropriate</span>
<span class="symbol">m</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">movies</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">rating</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">0.5</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_y_sqrt</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_histogram.html-70.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">0.5</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_y_reverse</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
Stacking not well defined when ymin != 0</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-73.png' %></p>
<div class='input'>
<span class="comment"># Set aesthetics to fixed value</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="argument">colour</span> <span class="argument">=</span> <span class="string">"darkgreen"</span><span class="keyword">,</span> <span class="argument">fill</span> <span class="argument">=</span> <span class="string">"white"</span><span class="keyword">,</span> <span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">0.5</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_histogram.html-75.png' %></p>
<div class='input'>
<span class="comment"># Use facets</span>
<span class="symbol">m</span> <span class="assignement">&lt;-</span> <span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">0.5</span><span class="keyword">)</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">Action</span> <span class="keyword">~</span> <span class="symbol">Comedy</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_histogram.html-77.png' %></p>
<div class='input'>
<span class="comment"># Often more useful to use density on the y axis when facetting</span>
<span class="symbol">m</span> <span class="assignement">&lt;-</span> <span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">y</span> <span class="argument">=</span> <span class="symbol">..density..</span><span class="keyword">)</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">Action</span> <span class="keyword">~</span> <span class="symbol">Comedy</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_histogram.html-79.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_wrap.html'>facet_wrap</a></span><span class="keyword">(</span><span class="keyword">~</span> <span class="symbol">mpaa</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_histogram.html-81.png' %></p>
<div class='input'>
<span class="comment"># Multiple histograms on the same graph</span>
<span class="comment"># see ?position, ?position_fill, etc for more details.</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Random'>set.seed</a></span><span class="keyword">(</span><span class="number">6298</span><span class="keyword">)</span>
<span class="symbol">diamonds_small</span> <span class="assignement">&lt;-</span> <span class="symbol">diamonds</span><span class="keyword">[</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/sample'>sample</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/nrow'>nrow</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">1000</span><span class="keyword">)</span><span class="keyword">,</span> <span class="keyword">]</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">diamonds_small</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span><span class="argument">=</span><span class="symbol">price</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<strong class='message'>stat_bin: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-84.png' %></p>
<div class='input'><span class="symbol">hist_cut</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">diamonds_small</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span><span class="argument">=</span><span class="symbol">price</span><span class="keyword">,</span> <span class="argument">fill</span><span class="argument">=</span><span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">hist_cut</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="comment"># defaults to stacking</span></div>
<strong class='message'>stat_bin: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-87.png' %></p>
<div class='input'><span class="symbol">hist_cut</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="argument">position</span><span class="argument">=</span><span class="string">"fill"</span><span class="keyword">)</span></div>
<strong class='message'>stat_bin: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-90.png' %></p>
<div class='input'><span class="symbol">hist_cut</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_bar.html'>geom_bar</a></span><span class="keyword">(</span><span class="argument">position</span><span class="argument">=</span><span class="string">"dodge"</span><span class="keyword">)</span></div>
<strong class='message'>stat_bin: binwidth defaulted to range/30. Use 'binwidth = x' to adjust this.</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-93.png' %></p>
<div class='input'>
<span class="comment"># This is easy in ggplot2, but not visually effective.  It's better</span>
<span class="comment"># to use a frequency polygon or density plot.  Like this:</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">diamonds_small</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">price</span><span class="keyword">,</span> <span class="symbol">..density..</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_freqpoly.html'>geom_freqpoly</a></span><span class="keyword">(</span><span class="argument">binwidth</span> <span class="argument">=</span> <span class="number">1000</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_histogram.html-95.png' %></p>
<div class='input'><span class="comment"># Or this:</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">diamonds_small</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">price</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_density.html'>geom_density</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_histogram.html-97.png' %></p>
<div class='input'><span class="comment"># Or if you want to be fancy, maybe even this:</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">diamonds_small</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">price</span><span class="keyword">,</span> <span class="argument">fill</span> <span class="argument">=</span> <span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_density.html'>geom_density</a></span><span class="keyword">(</span><span class="argument">alpha</span> <span class="argument">=</span> <span class="number">0.2</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_histogram.html-99.png' %></p>
<div class='input'><span class="comment"># Which looks better when the distributions are more distinct</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">diamonds_small</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">depth</span><span class="keyword">,</span> <span class="argument">fill</span> <span class="argument">=</span> <span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_density.html'>geom_density</a></span><span class="keyword">(</span><span class="argument">alpha</span> <span class="argument">=</span> <span class="number">0.2</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='xylim.html'>xlim</a></span><span class="keyword">(</span><span class="number">55</span><span class="keyword">,</span> <span class="number">70</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
Removed 2 rows containing non-finite values (stat_density).</strong>
<p><%= image_tag 'ggplot2/geom_histogram.html-102.png' %></p>
<div class='input'></div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>geom_histogram</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>