      <h1>Set guides for each scale.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='guides.html'>guides</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>...</dt>
      <dd>List of scale guide pairs</dd>
    </dl>
    
    <div class="Value">
      <h2>Value</h2>
      
      <p>A list containing the mapping between scale and guide.</p>
  
    </div>

    <div class="Description">
      <h2>Description</h2>
      
      <p>Guides for each scale can be set in call of
  <code>scale_*</code> with argument <code>guide</code>, or in
  <code>guides</code>.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'>
<span class="comment"># ggplot object</span>

<span class="symbol">dat</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">:</span><span class="number">5</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">:</span><span class="number">5</span><span class="keyword">,</span> <span class="argument">p</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">:</span><span class="number">5</span><span class="keyword">,</span> <span class="argument">q</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="number">1</span><span class="keyword">:</span><span class="number">5</span><span class="keyword">)</span><span class="keyword">,</span>
 <span class="argument">r</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="number">1</span><span class="keyword">:</span><span class="number">5</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">dat</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">y</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="symbol">p</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="symbol">q</span><span class="keyword">,</span> <span class="argument">shape</span> <span class="argument">=</span> <span class="symbol">r</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span>

<span class="comment"># without guide specification</span>
<span class="symbol">p</span></div>
<p><%= image_tag 'ggplot2/guides.html-2.png' %></p>
<div class='input'>
<span class="comment"># Show colorbar guide for colour.</span>
<span class="comment"># All these examples below have a same effect.</span>

<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='guides.html'>guides</a></span><span class="keyword">(</span><span class="argument">colour</span> <span class="argument">=</span> <span class="string">"colorbar"</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="string">"legend"</span><span class="keyword">,</span> <span class="argument">shape</span> <span class="argument">=</span> <span class="string">"legend"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/guides.html-4.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='guides.html'>guides</a></span><span class="keyword">(</span><span class="argument">colour</span> <span class="argument">=</span> <span class="functioncall"><a href='guide_colourbar.html'>guide_colorbar</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="functioncall"><a href='guide_legend.html'>guide_legend</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">shape</span> <span class="argument">=</span> <span class="functioncall"><a href='guide_legend.html'>guide_legend</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/guides.html-6.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span>
 <span class="functioncall"><a href='scale_gradient.html'>scale_colour_continuous</a></span><span class="keyword">(</span><span class="argument">guide</span> <span class="argument">=</span> <span class="string">"colorbar"</span><span class="keyword">)</span> <span class="keyword">+</span>
 <span class="functioncall"><a href='scale_size.html'>scale_size_discrete</a></span><span class="keyword">(</span><span class="argument">guide</span> <span class="argument">=</span> <span class="string">"legend"</span><span class="keyword">)</span> <span class="keyword">+</span>
 <span class="functioncall"><a href='scale_shape.html'>scale_shape</a></span><span class="keyword">(</span><span class="argument">guide</span> <span class="argument">=</span> <span class="string">"legend"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/guides.html-8.png' %></p>
<div class='input'>
<span class="comment"># Guides are integrated where possible</span>

<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='guides.html'>guides</a></span><span class="keyword">(</span><span class="argument">colour</span> <span class="argument">=</span> <span class="functioncall"><a href='guide_legend.html'>guide_legend</a></span><span class="keyword">(</span><span class="string">"title"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="functioncall"><a href='guide_legend.html'>guide_legend</a></span><span class="keyword">(</span><span class="string">"title"</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">shape</span> <span class="argument">=</span> <span class="functioncall"><a href='guide_legend.html'>guide_legend</a></span><span class="keyword">(</span><span class="string">"title"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/guides.html-10.png' %></p>
<div class='input'><span class="comment"># same as</span>
<span class="symbol">g</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='guide_legend.html'>guide_legend</a></span><span class="keyword">(</span><span class="string">"title"</span><span class="keyword">)</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='guides.html'>guides</a></span><span class="keyword">(</span><span class="argument">colour</span> <span class="argument">=</span> <span class="symbol">g</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="symbol">g</span><span class="keyword">,</span> <span class="argument">shape</span> <span class="argument">=</span> <span class="symbol">g</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/guides.html-12.png' %></p>
<div class='input'>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='theme.html'>theme</a></span><span class="keyword">(</span><span class="argument">legend.position</span> <span class="argument">=</span> <span class="string">"bottom"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/guides.html-14.png' %></p>
<div class='input'>
<span class="comment"># position of guides</span>

<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='theme.html'>theme</a></span><span class="keyword">(</span><span class="argument">legend.position</span> <span class="argument">=</span> <span class="string">"bottom"</span><span class="keyword">,</span> <span class="argument">legend.box</span> <span class="argument">=</span> <span class="string">"horizontal"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/guides.html-16.png' %></p>
<div class='input'>
<span class="comment"># Set order for multiple guides</span>

<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">x</span> <span class="argument">=</span> <span class="symbol">displ</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">cty</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="symbol">hwy</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="symbol">cyl</span><span class="keyword">,</span> <span class="argument">shape</span> <span class="argument">=</span> <span class="symbol">drv</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='guides.html'>guides</a></span><span class="keyword">(</span><span class="argument">colour</span> <span class="argument">=</span> <span class="functioncall"><a href='guide_colourbar.html'>guide_colourbar</a></span><span class="keyword">(</span><span class="argument">order</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">)</span><span class="keyword">,</span>
         <span class="argument">alpha</span> <span class="argument">=</span> <span class="functioncall"><a href='guide_legend.html'>guide_legend</a></span><span class="keyword">(</span><span class="argument">order</span> <span class="argument">=</span> <span class="number">2</span><span class="keyword">)</span><span class="keyword">,</span>
         <span class="argument">size</span> <span class="argument">=</span> <span class="functioncall"><a href='guide_legend.html'>guide_legend</a></span><span class="keyword">(</span><span class="argument">order</span> <span class="argument">=</span> <span class="number">3</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/guides.html-18.png' %></p>
<div class='input'></div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>guides</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  Other guides: <code><a href='guide_colourbar.html'>guide_colorbar</a></code>,
  <code><a href='guide_colourbar.html'>guide_colourbar</a></code>, <code><a href='guide_legend.html'>guide_legend</a></code>

        
  </div>
</div>