      <h1>Size scale.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='scale_size.html'>scale_size_continuous</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">range</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">1</span><span class="keyword">,</span> <span class="number">6</span><span class="keyword">)</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_size.html'>scale_size</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">range</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">1</span><span class="keyword">,</span> <span class="number">6</span><span class="keyword">)</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_size.html'>scale_size_discrete</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">range</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">1</span><span class="keyword">,</span> <span class="number">6</span><span class="keyword">)</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>range</dt>
      <dd>a numeric vector of length 2 that specifies
  the minimum and maximum size of the plotting symbol after
  transformation.</dd>
      <dt>...</dt>
      <dd>common continuous scale parameters:
  <code>name</code>, <code>breaks</code>, <code>labels</code>,
  <code>na.value</code>, <code>limits</code> and <code>trans</code>.  See
  <code><a href='continuous_scale.html'>continuous_scale</a></code> for more details</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Size scale.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'>
<span class="keyword">(</span><span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">mpg</span><span class="keyword">,</span> <span class="symbol">cyl</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">size</span><span class="argument">=</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_size.html-2.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_size.html'>scale_size</a></span><span class="keyword">(</span><span class="string">"cylinders"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_size.html-4.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_size.html'>scale_size</a></span><span class="keyword">(</span><span class="string">"number\nof\ncylinders"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_size.html-6.png' %></p>
<div class='input'>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_size.html'>scale_size</a></span><span class="keyword">(</span><span class="argument">range</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">0</span><span class="keyword">,</span> <span class="number">10</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_size.html-8.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_size.html'>scale_size</a></span><span class="keyword">(</span><span class="argument">range</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">1</span><span class="keyword">,</span> <span class="number">2</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_size.html-10.png' %></p>
<div class='input'>
<span class="comment"># Map area, instead of width/radius</span>
<span class="comment"># Perceptually, this is a little better</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_area.html'>scale_area</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<strong class='message'>scale_area is deprecated and will be removed in a future version of ggplot2.
  Use scale_size_area instead. Note that the behavior of scale_size_area is
  slightly different: by default it makes the area proportional to the
  numeric value.</strong>
<p><%= image_tag 'ggplot2/scale_size.html-13.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_area.html'>scale_area</a></span><span class="keyword">(</span><span class="argument">range</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">1</span><span class="keyword">,</span> <span class="number">25</span><span class="keyword">)</span><span class="keyword">)</span></div>
<strong class='message'>scale_area is deprecated and will be removed in a future version of ggplot2.
  Use scale_size_area instead. Note that the behavior of scale_size_area is
  slightly different: by default it makes the area proportional to the
  numeric value.</strong>
<p><%= image_tag 'ggplot2/scale_size.html-16.png' %></p>
<div class='input'>
<span class="comment"># Also works with factors, but not a terribly good</span>
<span class="comment"># idea, unless your factor is ordered, as in this example</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">mpg</span><span class="keyword">,</span> <span class="symbol">cyl</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">size</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_size.html-18.png' %></p>
<div class='input'>
<span class="comment"># To control the size mapping for discrete variable, use</span>
<span class="comment"># scale_size_manual:</span>
<span class="functioncall"><a href='last_plot.html'>last_plot</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_manual.html'>scale_size_manual</a></span><span class="keyword">(</span><span class="argument">values</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">2</span><span class="keyword">,</span><span class="number">4</span><span class="keyword">,</span><span class="number">6</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_size.html-20.png' %></p>
<div class='input'></div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>scale_size</li><li>scale_size_continuous</li><li>scale_size_discrete</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>