      <h1>Scale for shapes, aka glyphs.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='scale_shape.html'>scale_shape</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">solid</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_shape.html'>scale_shape_discrete</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">solid</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_shape.html'>scale_shape_continuous</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>solid</dt>
      <dd>Are the shapes solid, <code>TRUE</code>, or hollow
  <code>FALSE</code>?</dd>
      <dt>...</dt>
      <dd>common discrete scale parameters: <code>name</code>,
  <code>breaks</code>, <code>labels</code>, <code>na.value</code>,
  <code>limits</code> and <code>guide</code>.  See
  <code><a href='discrete_scale.html'>discrete_scale</a></code> for more details</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>A continuous variable can not be mapped to shape.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="symbol">dsmall</span> <span class="assignement">&lt;-</span> <span class="symbol">diamonds</span><span class="keyword">[</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/sample'>sample</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/nrow'>nrow</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">100</span><span class="keyword">)</span><span class="keyword">,</span> <span class="keyword">]</span>

<span class="keyword">(</span><span class="symbol">d</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">carat</span><span class="keyword">,</span> <span class="symbol">price</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">dsmall</span><span class="keyword">,</span> <span class="argument">shape</span><span class="argument">=</span><span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_shape.html-2.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_shape.html'>scale_shape</a></span><span class="keyword">(</span><span class="argument">solid</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">)</span> <span class="comment"># the default</span></div>
<p><%= image_tag 'ggplot2/scale_shape.html-4.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_shape.html'>scale_shape</a></span><span class="keyword">(</span><span class="argument">solid</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_shape.html-6.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_shape.html'>scale_shape</a></span><span class="keyword">(</span><span class="argument">name</span><span class="argument">=</span><span class="string">"Cut of diamond"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_shape.html-8.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_shape.html'>scale_shape</a></span><span class="keyword">(</span><span class="argument">name</span><span class="argument">=</span><span class="string">"Cut of\ndiamond"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_shape.html-10.png' %></p>
<div class='input'>
<span class="comment"># To change order of levels, change order of</span>
<span class="comment"># underlying factor</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/levels'>levels</a></span><span class="keyword">(</span><span class="symbol">dsmall</span><span class="keyword">$</span><span class="symbol">cut</span><span class="keyword">)</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"Fair"</span><span class="keyword">,</span> <span class="string">"Good"</span><span class="keyword">,</span> <span class="string">"Very Good"</span><span class="keyword">,</span> <span class="string">"Premium"</span><span class="keyword">,</span> <span class="string">"Ideal"</span><span class="keyword">)</span>

<span class="comment"># Need to recreate plot to pick up new data</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">price</span><span class="keyword">,</span> <span class="symbol">carat</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">dsmall</span><span class="keyword">,</span> <span class="argument">shape</span><span class="argument">=</span><span class="symbol">cut</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_shape.html-12.png' %></p>
<div class='input'>
<span class="comment"># Or for short:</span>
<span class="symbol">d</span> <span class="keyword">%+%</span> <span class="symbol">dsmall</span></div>
<p><%= image_tag 'ggplot2/scale_shape.html-14.png' %></p></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>scale_shape</li><li>scale_shape_continuous</li><li>scale_shape_discrete</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>