      <h1>Continuous position scales (x & y).</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='scale_continuous.html'>scale_x_continuous</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">expand</span> <span class="argument">=</span> <span class="functioncall"><a href='waiver.html'>waiver</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_continuous.html'>scale_y_continuous</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">expand</span> <span class="argument">=</span> <span class="functioncall"><a href='waiver.html'>waiver</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_continuous.html'>scale_x_log10</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_continuous.html'>scale_y_log10</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_continuous.html'>scale_x_reverse</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_continuous.html'>scale_y_reverse</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_continuous.html'>scale_x_sqrt</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_continuous.html'>scale_y_sqrt</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>...</dt>
      <dd>common continuous scale parameters:
  <code>name</code>, <code>breaks</code>, <code>labels</code>,
  <code>na.value</code>, <code>limits</code> and <code>trans</code>.  See
  <code><a href='continuous_scale.html'>continuous_scale</a></code> for more details</dd>
      <dt>expand</dt>
      <dd>a numeric vector of length two giving
  multiplicative and additive expansion constants. These
  constants ensure that the data is placed some distance
  away from the axes.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Continuous position scales (x & y).</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'>
<span class="keyword">(</span><span class="symbol">m</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">rating</span><span class="keyword">,</span> <span class="symbol">votes</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/subset'>subset</a></span><span class="keyword">(</span><span class="symbol">movies</span><span class="keyword">,</span> <span class="symbol">votes</span> <span class="keyword">&gt;</span> <span class="number">1000</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">na.rm</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-2.png' %></p>
<div class='input'>
<span class="comment"># Manipulating the default position scales lets you:</span>

<span class="comment">#  * change the axis labels</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_y_continuous</a></span><span class="keyword">(</span><span class="string">"number of votes"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-4.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_y_continuous</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/expression'>expression</a></span><span class="keyword">(</span><span class="symbol">votes</span><span class="keyword">^</span><span class="symbol">alpha</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-6.png' %></p>
<div class='input'>
<span class="comment">#  * modify the axis limits</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_y_continuous</a></span><span class="keyword">(</span><span class="argument">limits</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">0</span><span class="keyword">,</span> <span class="number">5000</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-8.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_y_continuous</a></span><span class="keyword">(</span><span class="argument">limits</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">1000</span><span class="keyword">,</span> <span class="number">10000</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-10.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_x_continuous</a></span><span class="keyword">(</span><span class="argument">limits</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">7</span><span class="keyword">,</span> <span class="number">8</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-12.png' %></p>
<div class='input'>
<span class="comment"># you can also use the short hand functions xlim and ylim</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='xylim.html'>ylim</a></span><span class="keyword">(</span><span class="number">0</span><span class="keyword">,</span> <span class="number">5000</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-14.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='xylim.html'>ylim</a></span><span class="keyword">(</span><span class="number">1000</span><span class="keyword">,</span> <span class="number">10000</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-16.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='xylim.html'>xlim</a></span><span class="keyword">(</span><span class="number">7</span><span class="keyword">,</span> <span class="number">8</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-18.png' %></p>
<div class='input'>
<span class="comment">#  * choose where the ticks appear</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_x_continuous</a></span><span class="keyword">(</span><span class="argument">breaks</span><span class="argument">=</span><span class="number">1</span><span class="keyword">:</span><span class="number">10</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-20.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_x_continuous</a></span><span class="keyword">(</span><span class="argument">breaks</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">1</span><span class="keyword">,</span><span class="number">3</span><span class="keyword">,</span><span class="number">7</span><span class="keyword">,</span><span class="number">9</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-22.png' %></p>
<div class='input'>
<span class="comment">#  * manually label the ticks</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_x_continuous</a></span><span class="keyword">(</span><span class="argument">breaks</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">2</span><span class="keyword">,</span><span class="number">5</span><span class="keyword">,</span><span class="number">8</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">labels</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"two"</span><span class="keyword">,</span> <span class="string">"five"</span><span class="keyword">,</span> <span class="string">"eight"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-24.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_x_continuous</a></span><span class="keyword">(</span><span class="argument">breaks</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">2</span><span class="keyword">,</span><span class="number">5</span><span class="keyword">,</span><span class="number">8</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">labels</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"horrible"</span><span class="keyword">,</span> <span class="string">"ok"</span><span class="keyword">,</span> <span class="string">"awesome"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-26.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_x_continuous</a></span><span class="keyword">(</span><span class="argument">breaks</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">2</span><span class="keyword">,</span><span class="number">5</span><span class="keyword">,</span><span class="number">8</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">labels</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/expression'>expression</a></span><span class="keyword">(</span><span class="symbol">Alpha</span><span class="keyword">,</span> <span class="symbol">Beta</span><span class="keyword">,</span> <span class="symbol">Omega</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-28.png' %></p>
<div class='input'>
<span class="comment"># There are a few built in transformation that you can use:</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_y_log10</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-30.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_y_sqrt</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-32.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_y_reverse</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-34.png' %></p>
<div class='input'><span class="comment"># You can also create you own and supply them to the trans argument.</span>
<span class="comment"># See ?scale::trans_new</span>

<span class="comment"># You can control the formatting of the labels with the formatter</span>
<span class="comment"># argument.  Some common formats are built into the scales package:</span>
<span class="symbol">x</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/Normal'>rnorm</a></span><span class="keyword">(</span><span class="number">10</span><span class="keyword">)</span> <span class="keyword">*</span> <span class="number">100000</span>
<span class="symbol">y</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/seq'>seq</a></span><span class="keyword">(</span><span class="number">0</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">,</span> <span class="argument">length</span> <span class="argument">=</span> <span class="number">10</span><span class="keyword">)</span>
<span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">y</span><span class="keyword">)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">scales</span><span class="keyword">)</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_y_continuous</a></span><span class="keyword">(</span><span class="argument">labels</span> <span class="argument">=</span> <span class="symbol">percent</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-36.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_y_continuous</a></span><span class="keyword">(</span><span class="argument">labels</span> <span class="argument">=</span> <span class="symbol">dollar</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-38.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_x_continuous</a></span><span class="keyword">(</span><span class="argument">labels</span> <span class="argument">=</span> <span class="symbol">comma</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-40.png' %></p>
<div class='input'>
<span class="comment"># qplot allows you to do some of this with a little less typing:</span>
<span class="comment">#   * axis limits</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">rating</span><span class="keyword">,</span> <span class="symbol">votes</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">movies</span><span class="keyword">,</span> <span class="argument">ylim</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">1e4</span><span class="keyword">,</span> <span class="number">5e4</span><span class="keyword">)</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
Removed 58018 rows containing missing values (geom_point).</strong>
<p><%= image_tag 'ggplot2/scale_continuous.html-43.png' %></p>
<div class='input'><span class="comment">#   * axis labels</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">rating</span><span class="keyword">,</span> <span class="symbol">votes</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">movies</span><span class="keyword">,</span> <span class="argument">xlab</span><span class="argument">=</span><span class="string">"My x axis"</span><span class="keyword">,</span> <span class="argument">ylab</span><span class="argument">=</span><span class="string">"My y axis"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-45.png' %></p>
<div class='input'><span class="comment">#   * log scaling</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">rating</span><span class="keyword">,</span> <span class="symbol">votes</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">movies</span><span class="keyword">,</span> <span class="argument">log</span><span class="argument">=</span><span class="string">"xy"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_continuous.html-47.png' %></p>
<div class='input'></div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>scale_x_continuous</li><li>scale_x_log10</li><li>scale_x_reverse</li><li>scale_x_sqrt</li><li>scale_y_continuous</li><li>scale_y_log10</li><li>scale_y_reverse</li><li>scale_y_sqrt</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  Other position scales: <code><a href='scale_date.html'>scale_x_date</a></code>,
  <code><a href='scale_datetime.html'>scale_x_datetime</a></code>,
  <code><a href='scale_discrete.html'>scale_x_discrete</a></code>,
  <code><a href='scale_date.html'>scale_y_date</a></code>,
  <code><a href='scale_datetime.html'>scale_y_datetime</a></code>,
  <code><a href='scale_discrete.html'>scale_y_discrete</a></code>

        
  </div>
</div>