      <h1>Position scale, date</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='scale_datetime.html'>scale_x_datetime</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">expand</span> <span class="argument">=</span> <span class="functioncall"><a href='waiver.html'>waiver</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">breaks</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/scales/pretty_breaks'>pretty_breaks</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">minor_breaks</span> <span class="argument">=</span> <span class="functioncall"><a href='waiver.html'>waiver</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_datetime.html'>scale_y_datetime</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">expand</span> <span class="argument">=</span> <span class="functioncall"><a href='waiver.html'>waiver</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">breaks</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/scales/pretty_breaks'>pretty_breaks</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">minor_breaks</span> <span class="argument">=</span> <span class="functioncall"><a href='waiver.html'>waiver</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>breaks</dt>
      <dd>A vector of breaks, a function that given
  the scale limits returns a vector of breaks, or a
  character vector, specifying the width between breaks.
  For more information about the first two, see
  <code><a href='continuous_scale.html'>continuous_scale</a></code>, for more information
  about the last, see <code><a href='http://www.inside-r.org/r-doc/scales/date_breaks'>date_breaks</a></code>`.</dd>
      <dt>minor_breaks</dt>
      <dd>Either <code>NULL</code> for no minor
  breaks, <code>waiver()</code> for the default breaks (one minor
  break between each major break), a numeric vector of
  positions, or a function that given the limits returns a
  vector of minor breaks.</dd>
      <dt>...</dt>
      <dd>common continuous scale parameters:
  <code>name</code>, <code>breaks</code>, <code>labels</code>,
  <code>na.value</code>, <code>limits</code> and <code>trans</code>.  See
  <code><a href='continuous_scale.html'>continuous_scale</a></code> for more details</dd>
      <dt>expand</dt>
      <dd>a numeric vector of length two giving
  multiplicative and additive expansion constants. These
  constants ensure that the data is placed some distance
  away from the axes.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Position scale, date</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="symbol">start</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/ISOdatetime'>ISOdate</a></span><span class="keyword">(</span><span class="number">2001</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">,</span> <span class="argument">tz</span> <span class="argument">=</span> <span class="string">""</span><span class="keyword">)</span>
<span class="symbol">df</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span>
  <span class="argument">day30</span>  <span class="argument">=</span> <span class="symbol">start</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Round'>round</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/Uniform'>runif</a></span><span class="keyword">(</span><span class="number">100</span><span class="keyword">,</span> <span class="argument">max</span> <span class="argument">=</span> <span class="number">30</span> <span class="keyword">*</span> <span class="number">86400</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">day7</span>  <span class="argument">=</span> <span class="symbol">start</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Round'>round</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/Uniform'>runif</a></span><span class="keyword">(</span><span class="number">100</span><span class="keyword">,</span> <span class="argument">max</span> <span class="argument">=</span> <span class="number">7</span> <span class="keyword">*</span> <span class="number">86400</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">day</span>   <span class="argument">=</span> <span class="symbol">start</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Round'>round</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/Uniform'>runif</a></span><span class="keyword">(</span><span class="number">100</span><span class="keyword">,</span> <span class="argument">max</span> <span class="argument">=</span> <span class="number">86400</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">hour10</span> <span class="argument">=</span> <span class="symbol">start</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Round'>round</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/Uniform'>runif</a></span><span class="keyword">(</span><span class="number">100</span><span class="keyword">,</span> <span class="argument">max</span> <span class="argument">=</span> <span class="number">10</span> <span class="keyword">*</span> <span class="number">3600</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">hour5</span> <span class="argument">=</span> <span class="symbol">start</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Round'>round</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/Uniform'>runif</a></span><span class="keyword">(</span><span class="number">100</span><span class="keyword">,</span> <span class="argument">max</span> <span class="argument">=</span> <span class="number">5</span> <span class="keyword">*</span> <span class="number">3600</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">hour</span>  <span class="argument">=</span> <span class="symbol">start</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Round'>round</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/Uniform'>runif</a></span><span class="keyword">(</span><span class="number">100</span><span class="keyword">,</span> <span class="argument">max</span> <span class="argument">=</span> <span class="number">3600</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">min10</span> <span class="argument">=</span> <span class="symbol">start</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Round'>round</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/Uniform'>runif</a></span><span class="keyword">(</span><span class="number">100</span><span class="keyword">,</span> <span class="argument">max</span> <span class="argument">=</span> <span class="number">10</span> <span class="keyword">*</span> <span class="number">60</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">min5</span>  <span class="argument">=</span> <span class="symbol">start</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Round'>round</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/Uniform'>runif</a></span><span class="keyword">(</span><span class="number">100</span><span class="keyword">,</span> <span class="argument">max</span> <span class="argument">=</span> <span class="number">5</span> <span class="keyword">*</span> <span class="number">60</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">min</span>   <span class="argument">=</span> <span class="symbol">start</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Round'>round</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/Uniform'>runif</a></span><span class="keyword">(</span><span class="number">100</span><span class="keyword">,</span> <span class="argument">max</span> <span class="argument">=</span> <span class="number">60</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">sec10</span> <span class="argument">=</span> <span class="symbol">start</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Round'>round</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/Uniform'>runif</a></span><span class="keyword">(</span><span class="number">100</span><span class="keyword">,</span> <span class="argument">max</span> <span class="argument">=</span> <span class="number">10</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">y</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/Uniform'>runif</a></span><span class="keyword">(</span><span class="number">100</span><span class="keyword">)</span>
<span class="keyword">)</span>

<span class="comment"># Automatic scale selection</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">sec10</span><span class="keyword">,</span> <span class="symbol">y</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">df</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_datetime.html-2.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">min</span><span class="keyword">,</span> <span class="symbol">y</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">df</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_datetime.html-4.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">min5</span><span class="keyword">,</span> <span class="symbol">y</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">df</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_datetime.html-6.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">min10</span><span class="keyword">,</span> <span class="symbol">y</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">df</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_datetime.html-8.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">hour</span><span class="keyword">,</span> <span class="symbol">y</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">df</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_datetime.html-10.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">hour5</span><span class="keyword">,</span> <span class="symbol">y</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">df</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_datetime.html-12.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">hour10</span><span class="keyword">,</span> <span class="symbol">y</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">df</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_datetime.html-14.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">day</span><span class="keyword">,</span> <span class="symbol">y</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">df</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_datetime.html-16.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">day30</span><span class="keyword">,</span> <span class="symbol">y</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">df</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_datetime.html-18.png' %></p>
<div class='input'>
<span class="comment"># Manual scale selection</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">day30</span><span class="keyword">,</span> <span class="symbol">y</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">df</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_datetime.html-20.png' %></p>
<div class='input'><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">scales</span><span class="keyword">)</span> <span class="comment"># to access breaks/formatting functions</span>
<span class="functioncall"><a href='last_plot.html'>last_plot</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_datetime.html'>scale_x_datetime</a></span><span class="keyword">(</span><span class="argument">breaks</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/scales/date_breaks'>date_breaks</a></span><span class="keyword">(</span><span class="string">"2 weeks"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_datetime.html-22.png' %></p>
<div class='input'><span class="functioncall"><a href='last_plot.html'>last_plot</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_datetime.html'>scale_x_datetime</a></span><span class="keyword">(</span><span class="argument">breaks</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/scales/date_breaks'>date_breaks</a></span><span class="keyword">(</span><span class="string">"10 days"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<strong class='message'>Scale for 'x' is already present. Adding another scale for 'x', which will replace the existing scale.</strong>
<p><%= image_tag 'ggplot2/scale_datetime.html-25.png' %></p>
<div class='input'><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">scales</span><span class="keyword">)</span> <span class="comment"># to access breaks/formatting functions</span>
<span class="functioncall"><a href='last_plot.html'>last_plot</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_datetime.html'>scale_x_datetime</a></span><span class="keyword">(</span><span class="argument">breaks</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/scales/date_breaks'>date_breaks</a></span><span class="keyword">(</span><span class="string">"10 days"</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">labels</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/scales/date_format'>date_format</a></span><span class="keyword">(</span><span class="string">"%d/%m"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<strong class='message'>Scale for 'x' is already present. Adding another scale for 'x', which will replace the existing scale.</strong>
<p><%= image_tag 'ggplot2/scale_datetime.html-28.png' %></p>
<div class='input'><span class="functioncall"><a href='last_plot.html'>last_plot</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_datetime.html'>scale_x_datetime</a></span><span class="keyword">(</span><span class="argument">breaks</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/scales/date_breaks'>date_breaks</a></span><span class="keyword">(</span><span class="string">"1 day"</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">minor_breaks</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/scales/date_breaks'>date_breaks</a></span><span class="keyword">(</span><span class="string">"2 hour"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<strong class='message'>Scale for 'x' is already present. Adding another scale for 'x', which will replace the existing scale.</strong>
<p><%= image_tag 'ggplot2/scale_datetime.html-31.png' %></p></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>scale_x_datetime</li><li>scale_y_datetime</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  Other position scales: <code><a href='scale_continuous.html'>scale_x_continuous</a></code>,
  <code><a href='scale_date.html'>scale_x_date</a></code>,
  <code><a href='scale_discrete.html'>scale_x_discrete</a></code>,
  <code><a href='scale_continuous.html'>scale_x_log10</a></code>,
  <code><a href='scale_continuous.html'>scale_x_reverse</a></code>,
  <code><a href='scale_continuous.html'>scale_x_sqrt</a></code>,
  <code><a href='scale_continuous.html'>scale_y_continuous</a></code>,
  <code><a href='scale_date.html'>scale_y_date</a></code>,
  <code><a href='scale_discrete.html'>scale_y_discrete</a></code>,
  <code><a href='scale_continuous.html'>scale_y_log10</a></code>,
  <code><a href='scale_continuous.html'>scale_y_reverse</a></code>, <code><a href='scale_continuous.html'>scale_y_sqrt</a></code>

        
  </div>
</div>