      <h1>Use values without scaling.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='scale_identity.html'>scale_colour_identity</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">guide</span> <span class="argument">=</span> <span class="string">"none"</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_identity.html'>scale_fill_identity</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">guide</span> <span class="argument">=</span> <span class="string">"none"</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_identity.html'>scale_shape_identity</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">guide</span> <span class="argument">=</span> <span class="string">"none"</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_identity.html'>scale_linetype_identity</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">guide</span> <span class="argument">=</span> <span class="string">"none"</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_identity.html'>scale_alpha_identity</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">guide</span> <span class="argument">=</span> <span class="string">"none"</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_identity.html'>scale_size_identity</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">guide</span> <span class="argument">=</span> <span class="string">"none"</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_identity.html'>scale_color_identity</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">guide</span> <span class="argument">=</span> <span class="string">"none"</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>...</dt>
      <dd>Other arguments passed on to
  <code><a href='discrete_scale.html'>discrete_scale</a></code> or
  <code><a href='continuous_scale.html'>continuous_scale</a></code></dd>
      <dt>guide</dt>
      <dd>Guide to use for this scale - defaults to
  <code>"none"</code>.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Use values without scaling.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="symbol">colour</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"red"</span><span class="keyword">,</span> <span class="string">"green"</span><span class="keyword">,</span> <span class="string">"blue"</span><span class="keyword">,</span> <span class="string">"yellow"</span><span class="keyword">)</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="number">1</span><span class="keyword">:</span><span class="number">4</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">:</span><span class="number">4</span><span class="keyword">,</span> <span class="argument">fill</span> <span class="argument">=</span> <span class="symbol">colour</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"tile"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_identity.html-2.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="number">1</span><span class="keyword">:</span><span class="number">4</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">:</span><span class="number">4</span><span class="keyword">,</span> <span class="argument">fill</span> <span class="argument">=</span> <span class="symbol">colour</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"tile"</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_identity.html'>scale_fill_identity</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_identity.html-4.png' %></p>
<div class='input'>
<span class="comment"># To get a legend guide, specify guide = "legend"</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="number">1</span><span class="keyword">:</span><span class="number">4</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">:</span><span class="number">4</span><span class="keyword">,</span> <span class="argument">fill</span> <span class="argument">=</span> <span class="symbol">colour</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"tile"</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='scale_identity.html'>scale_fill_identity</a></span><span class="keyword">(</span><span class="argument">guide</span> <span class="argument">=</span> <span class="string">"legend"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_identity.html-6.png' %></p>
<div class='input'><span class="comment"># But you'll typically also need to supply breaks and labels:</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="number">1</span><span class="keyword">:</span><span class="number">4</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">:</span><span class="number">4</span><span class="keyword">,</span> <span class="argument">fill</span> <span class="argument">=</span> <span class="symbol">colour</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"tile"</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='scale_identity.html'>scale_fill_identity</a></span><span class="keyword">(</span><span class="string">"trt"</span><span class="keyword">,</span> <span class="argument">labels</span> <span class="argument">=</span> <span class="symbol">letters</span><span class="keyword">[</span><span class="number">1</span><span class="keyword">:</span><span class="number">4</span><span class="keyword">]</span><span class="keyword">,</span> <span class="argument">breaks</span> <span class="argument">=</span> <span class="symbol">colour</span><span class="keyword">,</span>
  <span class="argument">guide</span> <span class="argument">=</span> <span class="string">"legend"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_identity.html-8.png' %></p>
<div class='input'>
<span class="comment"># cyl scaled to appropriate size</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">mpg</span><span class="keyword">,</span> <span class="symbol">wt</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="symbol">cyl</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_identity.html-10.png' %></p>
<div class='input'>
<span class="comment"># cyl used as point size</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">mpg</span><span class="keyword">,</span> <span class="symbol">wt</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="symbol">cyl</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_identity.html'>scale_size_identity</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_identity.html-12.png' %></p></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>scale_alpha_identity</li><li>scale_color_identity</li><li>scale_colour_identity</li><li>scale_fill_identity</li><li>scale_identity</li><li>scale_linetype_identity</li><li>scale_shape_identity</li><li>scale_size_identity</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>