      <h1>Diverging colour gradient</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='scale_gradient2.html'>scale_colour_gradient2</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">low</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/scales/muted'>muted</a></span><span class="keyword">(</span><span class="string">"red"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">mid</span> <span class="argument">=</span> <span class="string">"white"</span><span class="keyword">,</span> <span class="argument">high</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/scales/muted'>muted</a></span><span class="keyword">(</span><span class="string">"blue"</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">midpoint</span> <span class="argument">=</span> <span class="number">0</span><span class="keyword">,</span> <span class="argument">space</span> <span class="argument">=</span> <span class="string">"rgb"</span><span class="keyword">,</span> <span class="argument">na.value</span> <span class="argument">=</span> <span class="string">"grey50"</span><span class="keyword">,</span> <span class="argument">guide</span> <span class="argument">=</span> <span class="string">"colourbar"</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_gradient2.html'>scale_fill_gradient2</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">low</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/scales/muted'>muted</a></span><span class="keyword">(</span><span class="string">"red"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">mid</span> <span class="argument">=</span> <span class="string">"white"</span><span class="keyword">,</span> <span class="argument">high</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/scales/muted'>muted</a></span><span class="keyword">(</span><span class="string">"blue"</span><span class="keyword">)</span><span class="keyword">,</span>
      <span class="argument">midpoint</span> <span class="argument">=</span> <span class="number">0</span><span class="keyword">,</span> <span class="argument">space</span> <span class="argument">=</span> <span class="string">"rgb"</span><span class="keyword">,</span> <span class="argument">na.value</span> <span class="argument">=</span> <span class="string">"grey50"</span><span class="keyword">,</span> <span class="argument">guide</span> <span class="argument">=</span> <span class="string">"colourbar"</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_gradient2.html'>scale_color_gradient2</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">low</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/scales/muted'>muted</a></span><span class="keyword">(</span><span class="string">"red"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">mid</span> <span class="argument">=</span> <span class="string">"white"</span><span class="keyword">,</span> <span class="argument">high</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/scales/muted'>muted</a></span><span class="keyword">(</span><span class="string">"blue"</span><span class="keyword">)</span><span class="keyword">,</span>
      <span class="argument">midpoint</span> <span class="argument">=</span> <span class="number">0</span><span class="keyword">,</span> <span class="argument">space</span> <span class="argument">=</span> <span class="string">"rgb"</span><span class="keyword">,</span> <span class="argument">na.value</span> <span class="argument">=</span> <span class="string">"grey50"</span><span class="keyword">,</span> <span class="argument">guide</span> <span class="argument">=</span> <span class="string">"colourbar"</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>midpoint</dt>
      <dd>The midpoint (in data value) of the
  diverging scale.  Defaults to 0.</dd>
      <dt>guide</dt>
      <dd>Type of legend. Use <code>"colourbar"</code> for
  continuous colour bar, or <code>"legend"</code> for discrete
  colour legend.</dd>
      <dt>...</dt>
      <dd>Other arguments passed on to
  <code><a href='discrete_scale.html'>discrete_scale</a></code> to control name, limits,
  breaks, labels and so forth.</dd>
      <dt>na.value</dt>
      <dd>Colour to use for missing values</dd>
      <dt>low</dt>
      <dd>colour for low end of gradient.</dd>
      <dt>mid</dt>
      <dd>colour for mid point</dd>
      <dt>high</dt>
      <dd>colour for high end of gradient.</dd>
      <dt>space</dt>
      <dd>colour space in which to calculate gradient.
  "Lab" usually best unless gradient goes through white.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Diverging colour gradient</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'>
<span class="symbol">dsub</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/subset'>subset</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="symbol">x</span> <span class="keyword">&gt;</span> <span class="number">5</span> <span class="keyword">&amp;</span> <span class="symbol">x</span> <span class="keyword">&lt;</span> <span class="number">6</span> <span class="keyword">&amp;</span> <span class="symbol">y</span> <span class="keyword">&gt;</span> <span class="number">5</span> <span class="keyword">&amp;</span> <span class="symbol">y</span> <span class="keyword">&lt;</span> <span class="number">6</span><span class="keyword">)</span>
<span class="symbol">dsub</span><span class="keyword">$</span><span class="symbol">diff</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/with'>with</a></span><span class="keyword">(</span><span class="symbol">dsub</span><span class="keyword">,</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/MathFun'>sqrt</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/MathFun'>abs</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">-</span><span class="symbol">y</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">*</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/sign'>sign</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">-</span><span class="symbol">y</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="keyword">(</span><span class="symbol">d</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">y</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">dsub</span><span class="keyword">,</span> <span class="argument">colour</span><span class="argument">=</span><span class="symbol">diff</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient2.html-2.png' %></p>
<div class='input'>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient2.html'>scale_colour_gradient2</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient2.html-4.png' %></p>
<div class='input'><span class="comment"># Change scale name</span>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient2.html'>scale_colour_gradient2</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/expression'>expression</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/MathFun'>sqrt</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/MathFun'>abs</a></span><span class="keyword">(</span><span class="symbol">x</span> <span class="keyword">-</span> <span class="symbol">y</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient2.html-6.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient2.html'>scale_colour_gradient2</a></span><span class="keyword">(</span><span class="string">"Difference\nbetween\nwidth and\nheight"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient2.html-8.png' %></p>
<div class='input'>
<span class="comment"># Change limits and colours</span>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient2.html'>scale_colour_gradient2</a></span><span class="keyword">(</span><span class="argument">limits</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="keyword">-</span><span class="number">0.2</span><span class="keyword">,</span> <span class="number">0.2</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient2.html-10.png' %></p>
<div class='input'>
<span class="comment"># Using "muted" colours makes for pleasant graphics</span>
<span class="comment"># (and they have better perceptual properties too)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">scales</span><span class="keyword">)</span> <span class="comment"># for muted</span>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient2.html'>scale_colour_gradient2</a></span><span class="keyword">(</span><span class="argument">low</span><span class="argument">=</span><span class="string">"red"</span><span class="keyword">,</span> <span class="argument">high</span><span class="argument">=</span><span class="string">"blue"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient2.html-12.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient2.html'>scale_colour_gradient2</a></span><span class="keyword">(</span><span class="argument">low</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/scales/muted'>muted</a></span><span class="keyword">(</span><span class="string">"red"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">high</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/scales/muted'>muted</a></span><span class="keyword">(</span><span class="string">"blue"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient2.html-14.png' %></p>
<div class='input'>
<span class="comment"># Using the Lab colour space also improves perceptual properties</span>
<span class="comment"># at the price of slightly slower operation</span>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient2.html'>scale_colour_gradient2</a></span><span class="keyword">(</span><span class="argument">space</span><span class="argument">=</span><span class="string">"Lab"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient2.html-16.png' %></p>
<div class='input'>
<span class="comment"># About 5% of males are red-green colour blind, so it's a good</span>
<span class="comment"># idea to avoid that combination</span>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient2.html'>scale_colour_gradient2</a></span><span class="keyword">(</span><span class="argument">high</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/scales/muted'>muted</a></span><span class="keyword">(</span><span class="string">"green"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient2.html-18.png' %></p>
<div class='input'>
<span class="comment"># We can also make the middle stand out</span>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient2.html'>scale_colour_gradient2</a></span><span class="keyword">(</span><span class="argument">mid</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/scales/muted'>muted</a></span><span class="keyword">(</span><span class="string">"green"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">high</span><span class="argument">=</span><span class="string">"white"</span><span class="keyword">,</span> <span class="argument">low</span><span class="argument">=</span><span class="string">"white"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient2.html-20.png' %></p>
<div class='input'>
<span class="comment"># or use a non zero mid point</span>
<span class="keyword">(</span><span class="symbol">d</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">carat</span><span class="keyword">,</span> <span class="symbol">price</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="argument">colour</span><span class="argument">=</span><span class="symbol">price</span><span class="keyword">/</span><span class="symbol">carat</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient2.html-22.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient2.html'>scale_colour_gradient2</a></span><span class="keyword">(</span><span class="argument">midpoint</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/mean'>mean</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">$</span><span class="symbol">price</span> <span class="keyword">/</span> <span class="symbol">diamonds</span><span class="keyword">$</span><span class="symbol">carat</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient2.html-24.png' %></p>
<div class='input'>
<span class="comment"># Fill gradients work much the same way</span>
<span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">letters</span><span class="keyword">[</span><span class="number">1</span><span class="keyword">:</span><span class="number">5</span><span class="keyword">]</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">:</span><span class="number">5</span><span class="keyword">,</span> <span class="argument">fill</span><span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="keyword">-</span><span class="number">3</span><span class="keyword">,</span> <span class="number">3</span><span class="keyword">,</span> <span class="number">5</span><span class="keyword">,</span> <span class="number">2</span><span class="keyword">,</span> <span class="keyword">-</span><span class="number">2</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="string">"bar"</span><span class="keyword">)</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient2.html'>scale_fill_gradient2</a></span><span class="keyword">(</span><span class="string">"fill"</span><span class="keyword">)</span></div>
<strong class='message'>Mapping a variable to y and also using stat="bin". With stat="bin", it will attempt to set the y value to the count of cases in each group. This can result in unexpected behavior and will not be allowed in a future version of ggplot2. If you want y to represent counts of cases, use stat="bin" and don't map a variable to y. If you want y to represent values in the data, use stat="identity". See ?geom_bar for examples.</strong>
<p><%= image_tag 'ggplot2/scale_gradient2.html-27.png' %></p>
<div class='input'># Note how positive and negative values of the same magnitude
# have similar intensity

</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>scale_color_gradient2</li><li>scale_colour_gradient2</li><li>scale_fill_gradient2</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  Other colour scales: <code><a href='scale_brewer.html'>scale_color_brewer</a></code>,
  <code><a href='scale_gradient.html'>scale_color_continuous</a></code>,
  <code><a href='scale_hue.html'>scale_color_discrete</a></code>,
  <code><a href='scale_gradient.html'>scale_color_gradient</a></code>,
  <code><a href='scale_gradientn.html'>scale_color_gradientn</a></code>,
  <code><a href='scale_grey.html'>scale_color_grey</a></code>,
  <code><a href='scale_hue.html'>scale_color_hue</a></code>,
  <code><a href='scale_brewer.html'>scale_colour_brewer</a></code>,
  <code><a href='scale_gradient.html'>scale_colour_continuous</a></code>,
  <code><a href='scale_hue.html'>scale_colour_discrete</a></code>,
  <code><a href='scale_gradient.html'>scale_colour_gradient</a></code>,
  <code><a href='scale_gradientn.html'>scale_colour_gradientn</a></code>,
  <code><a href='scale_grey.html'>scale_colour_grey</a></code>,
  <code><a href='scale_hue.html'>scale_colour_hue</a></code>,
  <code><a href='scale_brewer.html'>scale_fill_brewer</a></code>,
  <code><a href='scale_gradient.html'>scale_fill_continuous</a></code>,
  <code><a href='scale_hue.html'>scale_fill_discrete</a></code>,
  <code><a href='scale_gradient.html'>scale_fill_gradient</a></code>,
  <code><a href='scale_gradientn.html'>scale_fill_gradientn</a></code>,
  <code><a href='scale_grey.html'>scale_fill_grey</a></code>,
  <code><a href='scale_hue.html'>scale_fill_hue</a></code>

        
  </div>
</div>