      <h1>Sequential, diverging and qualitative colour scales from colorbrewer.org</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='scale_brewer.html'>scale_colour_brewer</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">type</span> <span class="argument">=</span> <span class="string">"seq"</span><span class="keyword">,</span> <span class="argument">palette</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_brewer.html'>scale_fill_brewer</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">type</span> <span class="argument">=</span> <span class="string">"seq"</span><span class="keyword">,</span> <span class="argument">palette</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_brewer.html'>scale_color_brewer</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">type</span> <span class="argument">=</span> <span class="string">"seq"</span><span class="keyword">,</span> <span class="argument">palette</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>type</dt>
      <dd>One of seq (sequential), div (diverging) or
  qual (qualitative)</dd>
      <dt>palette</dt>
      <dd>If a string, will use that named palette.
  If a number, will index into the list of palettes of
  appropriate <code>type</code></dd>
      <dt>...</dt>
      <dd>Other arguments passed on to
  <code><a href='discrete_scale.html'>discrete_scale</a></code> to control name, limits,
  breaks, labels and so forth.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>See <a href = 'http://colorbrewer2.org'>http://colorbrewer2.org</a> for more information.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="symbol">dsamp</span> <span class="assignement">&lt;-</span> <span class="symbol">diamonds</span><span class="keyword">[</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/sample'>sample</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/nrow'>nrow</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">1000</span><span class="keyword">)</span><span class="keyword">,</span> <span class="keyword">]</span>
<span class="keyword">(</span><span class="symbol">d</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">carat</span><span class="keyword">,</span> <span class="symbol">price</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">dsamp</span><span class="keyword">,</span> <span class="argument">colour</span><span class="argument">=</span><span class="symbol">clarity</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_brewer.html-2.png' %></p>
<div class='input'>
<span class="comment"># Change scale label</span>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_brewer.html'>scale_colour_brewer</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_brewer.html-4.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_brewer.html'>scale_colour_brewer</a></span><span class="keyword">(</span><span class="string">"clarity"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_brewer.html-6.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_brewer.html'>scale_colour_brewer</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/expression'>expression</a></span><span class="keyword">(</span><span class="symbol">clarity</span><span class="keyword">[</span><span class="symbol">beta</span><span class="keyword">]</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_brewer.html-8.png' %></p>
<div class='input'>
<span class="comment"># Select brewer palette to use, see ?scales::brewer_pal for more details</span>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_brewer.html'>scale_colour_brewer</a></span><span class="keyword">(</span><span class="argument">type</span><span class="argument">=</span><span class="string">"seq"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_brewer.html-10.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_brewer.html'>scale_colour_brewer</a></span><span class="keyword">(</span><span class="argument">type</span><span class="argument">=</span><span class="string">"seq"</span><span class="keyword">,</span> <span class="argument">palette</span><span class="argument">=</span><span class="number">3</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_brewer.html-12.png' %></p>
<div class='input'>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_brewer.html'>scale_colour_brewer</a></span><span class="keyword">(</span><span class="argument">palette</span><span class="argument">=</span><span class="string">"Blues"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_brewer.html-14.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_brewer.html'>scale_colour_brewer</a></span><span class="keyword">(</span><span class="argument">palette</span><span class="argument">=</span><span class="string">"Set1"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_brewer.html-16.png' %></p>
<div class='input'>
<span class="comment"># scale_fill_brewer works just the same as</span>
<span class="comment"># scale_colour_brewer but for fill colours</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span><span class="argument">=</span><span class="symbol">price</span><span class="keyword">,</span> <span class="argument">fill</span><span class="argument">=</span><span class="symbol">cut</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_histogram.html'>geom_histogram</a></span><span class="keyword">(</span><span class="argument">position</span><span class="argument">=</span><span class="string">"dodge"</span><span class="keyword">,</span> <span class="argument">binwidth</span><span class="argument">=</span><span class="number">1000</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='scale_brewer.html'>scale_fill_brewer</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_brewer.html-18.png' %></p></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>scale_color_brewer</li><li>scale_colour_brewer</li><li>scale_fill_brewer</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  Other colour scales:
  <code><a href='scale_gradient.html'>scale_color_continuous</a></code>,
  <code><a href='scale_hue.html'>scale_color_discrete</a></code>,
  <code><a href='scale_gradient.html'>scale_color_gradient</a></code>,
  <code><a href='scale_gradient2.html'>scale_color_gradient2</a></code>,
  <code><a href='scale_gradientn.html'>scale_color_gradientn</a></code>,
  <code><a href='scale_grey.html'>scale_color_grey</a></code>,
  <code><a href='scale_hue.html'>scale_color_hue</a></code>,
  <code><a href='scale_gradient.html'>scale_colour_continuous</a></code>,
  <code><a href='scale_hue.html'>scale_colour_discrete</a></code>,
  <code><a href='scale_gradient.html'>scale_colour_gradient</a></code>,
  <code><a href='scale_gradient2.html'>scale_colour_gradient2</a></code>,
  <code><a href='scale_gradientn.html'>scale_colour_gradientn</a></code>,
  <code><a href='scale_grey.html'>scale_colour_grey</a></code>,
  <code><a href='scale_hue.html'>scale_colour_hue</a></code>,
  <code><a href='scale_gradient.html'>scale_fill_continuous</a></code>,
  <code><a href='scale_hue.html'>scale_fill_discrete</a></code>,
  <code><a href='scale_gradient.html'>scale_fill_gradient</a></code>,
  <code><a href='scale_gradient2.html'>scale_fill_gradient2</a></code>,
  <code><a href='scale_gradientn.html'>scale_fill_gradientn</a></code>,
  <code><a href='scale_grey.html'>scale_fill_grey</a></code>,
  <code><a href='scale_hue.html'>scale_fill_hue</a></code>

        
  </div>
</div>