      <h1>Smooth gradient between two colours</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='scale_gradient.html'>scale_colour_gradient</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">low</span> <span class="argument">=</span> <span class="string">"#132B43"</span><span class="keyword">,</span> <span class="argument">high</span> <span class="argument">=</span> <span class="string">"#56B1F7"</span><span class="keyword">,</span> <span class="argument">space</span> <span class="argument">=</span> <span class="string">"Lab"</span><span class="keyword">,</span> <span class="argument">na.value</span> <span class="argument">=</span> <span class="string">"grey50"</span><span class="keyword">,</span>
  <span class="argument">guide</span> <span class="argument">=</span> <span class="string">"colourbar"</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_gradient.html'>scale_fill_gradient</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">low</span> <span class="argument">=</span> <span class="string">"#132B43"</span><span class="keyword">,</span> <span class="argument">high</span> <span class="argument">=</span> <span class="string">"#56B1F7"</span><span class="keyword">,</span> <span class="argument">space</span> <span class="argument">=</span> <span class="string">"Lab"</span><span class="keyword">,</span> <span class="argument">na.value</span> <span class="argument">=</span> <span class="string">"grey50"</span><span class="keyword">,</span>
      <span class="argument">guide</span> <span class="argument">=</span> <span class="string">"colourbar"</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_gradient.html'>scale_colour_continuous</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">low</span> <span class="argument">=</span> <span class="string">"#132B43"</span><span class="keyword">,</span> <span class="argument">high</span> <span class="argument">=</span> <span class="string">"#56B1F7"</span><span class="keyword">,</span> <span class="argument">space</span> <span class="argument">=</span> <span class="string">"Lab"</span><span class="keyword">,</span> <span class="argument">na.value</span> <span class="argument">=</span> <span class="string">"grey50"</span><span class="keyword">,</span>
      <span class="argument">guide</span> <span class="argument">=</span> <span class="string">"colourbar"</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_gradient.html'>scale_fill_continuous</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">low</span> <span class="argument">=</span> <span class="string">"#132B43"</span><span class="keyword">,</span> <span class="argument">high</span> <span class="argument">=</span> <span class="string">"#56B1F7"</span><span class="keyword">,</span> <span class="argument">space</span> <span class="argument">=</span> <span class="string">"Lab"</span><span class="keyword">,</span> <span class="argument">na.value</span> <span class="argument">=</span> <span class="string">"grey50"</span><span class="keyword">,</span>
      <span class="argument">guide</span> <span class="argument">=</span> <span class="string">"colourbar"</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_gradient.html'>scale_color_continuous</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">low</span> <span class="argument">=</span> <span class="string">"#132B43"</span><span class="keyword">,</span> <span class="argument">high</span> <span class="argument">=</span> <span class="string">"#56B1F7"</span><span class="keyword">,</span> <span class="argument">space</span> <span class="argument">=</span> <span class="string">"Lab"</span><span class="keyword">,</span> <span class="argument">na.value</span> <span class="argument">=</span> <span class="string">"grey50"</span><span class="keyword">,</span>
      <span class="argument">guide</span> <span class="argument">=</span> <span class="string">"colourbar"</span><span class="keyword">)</span>

<span class="functioncall"><a href='scale_gradient.html'>scale_color_gradient</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">low</span> <span class="argument">=</span> <span class="string">"#132B43"</span><span class="keyword">,</span> <span class="argument">high</span> <span class="argument">=</span> <span class="string">"#56B1F7"</span><span class="keyword">,</span> <span class="argument">space</span> <span class="argument">=</span> <span class="string">"Lab"</span><span class="keyword">,</span> <span class="argument">na.value</span> <span class="argument">=</span> <span class="string">"grey50"</span><span class="keyword">,</span>
      <span class="argument">guide</span> <span class="argument">=</span> <span class="string">"colourbar"</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>guide</dt>
      <dd>Type of legend. Use <code>"colourbar"</code> for
  continuous colour bar, or <code>"legend"</code> for discrete
  colour legend.</dd>
      <dt>...</dt>
      <dd>Other arguments passed on to
  <code><a href='discrete_scale.html'>discrete_scale</a></code> to control name, limits,
  breaks, labels and so forth.</dd>
      <dt>na.value</dt>
      <dd>Colour to use for missing values</dd>
      <dt>low</dt>
      <dd>colour for low end of gradient.</dd>
      <dt>high</dt>
      <dd>colour for high end of gradient.</dd>
      <dt>space</dt>
      <dd>colour space in which to calculate gradient.
  "Lab" usually best unless gradient goes through white.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Default colours are generated with <span class = "pkg">munsell</span> and
  <code>mnsl(c("2.5PB 2/4", "2.5PB 7/10")</code>. Generally, for
  continuous colour scales you want to keep hue constant,
  but vary chroma and luminance. The <span class = "pkg">munsell</span> package
  makes this easy to do using the Munsell colour system.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'>
<span class="comment"># It's hard to see, but look for the bright yellow dot</span>
<span class="comment"># in the bottom right hand corner</span>
<span class="symbol">dsub</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/subset'>subset</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="symbol">x</span> <span class="keyword">&gt;</span> <span class="number">5</span> <span class="keyword">&amp;</span> <span class="symbol">x</span> <span class="keyword">&lt;</span> <span class="number">6</span> <span class="keyword">&amp;</span> <span class="symbol">y</span> <span class="keyword">&gt;</span> <span class="number">5</span> <span class="keyword">&amp;</span> <span class="symbol">y</span> <span class="keyword">&lt;</span> <span class="number">6</span><span class="keyword">)</span>
<span class="keyword">(</span><span class="symbol">d</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">y</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">dsub</span><span class="keyword">,</span> <span class="argument">colour</span><span class="argument">=</span><span class="symbol">z</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient.html-2.png' %></p>
<div class='input'><span class="comment"># That one point throws our entire scale off.  We could</span>
<span class="comment"># remove it, or manually tweak the limits of the scale</span>

<span class="comment"># Tweak scale limits.  Any points outside these limits will not be</span>
<span class="comment"># plotted, and will not affect the calculation of statistics, etc</span>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient.html'>scale_colour_gradient</a></span><span class="keyword">(</span><span class="argument">limits</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">3</span><span class="keyword">,</span> <span class="number">10</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient.html-4.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient.html'>scale_colour_gradient</a></span><span class="keyword">(</span><span class="argument">limits</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">3</span><span class="keyword">,</span> <span class="number">4</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient.html-6.png' %></p>
<div class='input'><span class="comment"># Setting the limits manually is also useful when producing</span>
<span class="comment"># multiple plots that need to be comparable</span>

<span class="comment"># Alternatively we could try transforming the scale:</span>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient.html'>scale_colour_gradient</a></span><span class="keyword">(</span><span class="argument">trans</span> <span class="argument">=</span> <span class="string">"log"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient.html-8.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient.html'>scale_colour_gradient</a></span><span class="keyword">(</span><span class="argument">trans</span> <span class="argument">=</span> <span class="string">"sqrt"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient.html-10.png' %></p>
<div class='input'>
<span class="comment"># Other more trivial manipulations, including changing the name</span>
<span class="comment"># of the scale and the colours.</span>

<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient.html'>scale_colour_gradient</a></span><span class="keyword">(</span><span class="string">"Depth"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient.html-12.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient.html'>scale_colour_gradient</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/expression'>expression</a></span><span class="keyword">(</span><span class="symbol">Depth</span><span class="keyword">[</span><span class="symbol">mm</span><span class="keyword">]</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient.html-14.png' %></p>
<div class='input'>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient.html'>scale_colour_gradient</a></span><span class="keyword">(</span><span class="argument">limits</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">3</span><span class="keyword">,</span> <span class="number">4</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">low</span><span class="argument">=</span><span class="string">"red"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient.html-16.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient.html'>scale_colour_gradient</a></span><span class="keyword">(</span><span class="argument">limits</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">3</span><span class="keyword">,</span> <span class="number">4</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">low</span><span class="argument">=</span><span class="string">"red"</span><span class="keyword">,</span> <span class="argument">high</span><span class="argument">=</span><span class="string">"white"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient.html-18.png' %></p>
<div class='input'><span class="comment"># Much slower</span>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient.html'>scale_colour_gradient</a></span><span class="keyword">(</span><span class="argument">limits</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">3</span><span class="keyword">,</span> <span class="number">4</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">low</span><span class="argument">=</span><span class="string">"red"</span><span class="keyword">,</span> <span class="argument">high</span><span class="argument">=</span><span class="string">"white"</span><span class="keyword">,</span> <span class="argument">space</span><span class="argument">=</span><span class="string">"Lab"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient.html-20.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient.html'>scale_colour_gradient</a></span><span class="keyword">(</span><span class="argument">limits</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">3</span><span class="keyword">,</span> <span class="number">4</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">space</span><span class="argument">=</span><span class="string">"Lab"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient.html-22.png' %></p>
<div class='input'>
<span class="comment"># scale_fill_continuous works similarly, but for fill colours</span>
<span class="keyword">(</span><span class="symbol">h</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">x</span> <span class="keyword">-</span> <span class="symbol">y</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">dsub</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="string">"histogram"</span><span class="keyword">,</span> <span class="argument">binwidth</span><span class="argument">=</span><span class="number">0.01</span><span class="keyword">,</span> <span class="argument">fill</span><span class="argument">=</span><span class="symbol">..count..</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient.html-24.png' %></p>
<div class='input'><span class="symbol">h</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient.html'>scale_fill_continuous</a></span><span class="keyword">(</span><span class="argument">low</span><span class="argument">=</span><span class="string">"black"</span><span class="keyword">,</span> <span class="argument">high</span><span class="argument">=</span><span class="string">"pink"</span><span class="keyword">,</span> <span class="argument">limits</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">0</span><span class="keyword">,</span><span class="number">3100</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient.html-26.png' %></p>
<div class='input'>
<span class="comment"># Colour of missing values is controlled with na.value:</span>
<span class="symbol">miss</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/sample'>sample</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">NA</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">:</span><span class="number">5</span><span class="keyword">)</span><span class="keyword">,</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/nrow'>nrow</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">rep</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">)</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">mpg</span><span class="keyword">,</span> <span class="symbol">wt</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="symbol">miss</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient.html-28.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">mpg</span><span class="keyword">,</span> <span class="symbol">wt</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="symbol">miss</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='scale_gradient.html'>scale_colour_gradient</a></span><span class="keyword">(</span><span class="argument">na.value</span> <span class="argument">=</span> <span class="string">"black"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/scale_gradient.html-30.png' %></p>
<div class='input'></div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>scale_color_continuous</li><li>scale_color_gradient</li><li>scale_colour_continuous</li><li>scale_colour_gradient</li><li>scale_fill_continuous</li><li>scale_fill_gradient</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  <code><a href='http://www.inside-r.org/r-doc/scales/seq_gradient_pal'>seq_gradient_pal</a></code> for details on
  underlying palette

  Other colour scales: <code><a href='scale_brewer.html'>scale_color_brewer</a></code>,
  <code><a href='scale_hue.html'>scale_color_discrete</a></code>,
  <code><a href='scale_gradient2.html'>scale_color_gradient2</a></code>,
  <code><a href='scale_gradientn.html'>scale_color_gradientn</a></code>,
  <code><a href='scale_grey.html'>scale_color_grey</a></code>,
  <code><a href='scale_hue.html'>scale_color_hue</a></code>,
  <code><a href='scale_brewer.html'>scale_colour_brewer</a></code>,
  <code><a href='scale_hue.html'>scale_colour_discrete</a></code>,
  <code><a href='scale_gradient2.html'>scale_colour_gradient2</a></code>,
  <code><a href='scale_gradientn.html'>scale_colour_gradientn</a></code>,
  <code><a href='scale_grey.html'>scale_colour_grey</a></code>,
  <code><a href='scale_hue.html'>scale_colour_hue</a></code>,
  <code><a href='scale_brewer.html'>scale_fill_brewer</a></code>,
  <code><a href='scale_hue.html'>scale_fill_discrete</a></code>,
  <code><a href='scale_gradient2.html'>scale_fill_gradient2</a></code>,
  <code><a href='scale_gradientn.html'>scale_fill_gradientn</a></code>,
  <code><a href='scale_grey.html'>scale_fill_grey</a></code>,
  <code><a href='scale_hue.html'>scale_fill_hue</a></code>

        
  </div>
</div>