      <h1>Calculation for quantile-quantile plot.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='stat_qq.html'>stat_qq</a></span><span class="keyword">(</span><span class="argument">mapping</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"point"</span><span class="keyword">,</span> <span class="argument">position</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">,</span> <span class="argument">distribution</span> <span class="argument">=</span> <span class="symbol">qnorm</span><span class="keyword">,</span>
  <span class="argument">dparams</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/list'>list</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">na.rm</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>distribution</dt>
      <dd>Distribution function to use, if x
  not specified</dd>
      <dt>dparams</dt>
      <dd>Parameters for distribution function</dd>
      <dt>...</dt>
      <dd>Other arguments passed to distribution
  function</dd>
      <dt>na.rm</dt>
      <dd>If <code>FALSE</code> (the default), removes
  missing values with a warning.  If <code>TRUE</code> silently
  removes missing values.</dd>
      <dt>mapping</dt>
      <dd>The aesthetic mapping, usually constructed
  with <code><a href='aes.html'>aes</a></code> or <code><a href='aes_string.html'>aes_string</a></code>. Only
  needs to be set at the layer level if you are overriding
  the plot defaults.</dd>
      <dt>data</dt>
      <dd>A layer specific dataset - only needed if you
  want to override the plot defaults.</dd>
      <dt>geom</dt>
      <dd>The geometric object to use display the data</dd>
      <dt>position</dt>
      <dd>The position adjustment to use for
  overlappling points on this layer</dd>
    </dl>
    
    <div class="Value">
      <h2>Value</h2>
      
      <p>a data.frame with additional columns:
  samplesample quantiles
  theoreticaltheoretical quantiles</p>
  
    </div>

    <div class="Description">
      <h2>Description</h2>
      
      <p>Calculation for quantile-quantile plot.</p>
  
    </div>

    <div class="Aesthetics">
      <h2>Aesthetics</h2>
      
      <p><code>stat_qq</code> understands the following aesthetics (required aesthetics are in bold):</p>
  
      <p><ul>
<li> <code><strong>sample</strong></code>
  </li>
<li> <code>x</code>
  </li>
<li> <code>y</code>
</li>
</ul></p>
  
      <p></p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'>
<span class="comment"># From ?qqplot</span>
<span class="symbol">y</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/TDist'>rt</a></span><span class="keyword">(</span><span class="number">200</span><span class="keyword">,</span> <span class="argument">df</span> <span class="argument">=</span> <span class="number">5</span><span class="keyword">)</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="argument">sample</span> <span class="argument">=</span> <span class="symbol">y</span><span class="keyword">,</span> <span class="argument">stat</span><span class="argument">=</span><span class="string">"qq"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_qq.html-2.png' %></p>
<div class='input'>
<span class="comment"># qplot is smart enough to use stat_qq if you use sample</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="argument">sample</span> <span class="argument">=</span> <span class="symbol">y</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_qq.html-4.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="argument">sample</span> <span class="argument">=</span> <span class="symbol">precip</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_qq.html-6.png' %></p>
<div class='input'>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="argument">sample</span> <span class="argument">=</span> <span class="symbol">y</span><span class="keyword">,</span> <span class="argument">dist</span> <span class="argument">=</span> <span class="symbol">qt</span><span class="keyword">,</span> <span class="argument">dparams</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/list'>list</a></span><span class="keyword">(</span><span class="argument">df</span> <span class="argument">=</span> <span class="number">5</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_qq.html-8.png' %></p>
<div class='input'>
<span class="symbol">df</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span><span class="symbol">y</span><span class="keyword">)</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">df</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">sample</span> <span class="argument">=</span> <span class="symbol">y</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_qq.html'>stat_qq</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_qq.html-10.png' %></p>
<div class='input'><span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">df</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">sample</span> <span class="argument">=</span> <span class="symbol">y</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="argument">stat</span> <span class="argument">=</span> <span class="string">"qq"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_qq.html-12.png' %></p>
<div class='input'>
<span class="comment"># Use fitdistr from MASS to estimate distribution params</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">MASS</span><span class="keyword">)</span>
<span class="symbol">params</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/list'>as.list</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/MASS/fitdistr'>fitdistr</a></span><span class="keyword">(</span><span class="symbol">y</span><span class="keyword">,</span> <span class="string">"t"</span><span class="keyword">)</span><span class="keyword">$</span><span class="symbol">estimate</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
NaNs produced</strong>
<strong class='warning'>Warning message:
NaNs produced</strong>
<div class='input'><span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">df</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">sample</span> <span class="argument">=</span> <span class="symbol">y</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_qq.html'>stat_qq</a></span><span class="keyword">(</span><span class="argument">dist</span> <span class="argument">=</span> <span class="symbol">qt</span><span class="keyword">,</span> <span class="argument">dparam</span> <span class="argument">=</span> <span class="symbol">params</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_qq.html-17.png' %></p>
<div class='input'>
<span class="comment"># Using to explore the distribution of a variable</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="argument">sample</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_qq.html-19.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="argument">sample</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_qq.html-21.png' %></p>
<div class='input'></div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>stat_qq</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>