      <h1>2d density estimation.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='stat_density2d.html'>stat_density2d</a></span><span class="keyword">(</span><span class="argument">mapping</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"density2d"</span><span class="keyword">,</span> <span class="argument">position</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">,</span>
  <span class="argument">na.rm</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">,</span> <span class="argument">contour</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">,</span> <span class="argument">n</span> <span class="argument">=</span> <span class="number">100</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>contour</dt>
      <dd>If <code>TRUE</code>, contour the results of the
  2d density estimation</dd>
      <dt>n</dt>
      <dd>number of grid points in each direction</dd>
      <dt>...</dt>
      <dd>other arguments passed on to
  <code><a href='http://www.inside-r.org/r-doc/MASS/kde2d'>kde2d</a></code></dd>
      <dt>na.rm</dt>
      <dd>If <code>FALSE</code> (the default), removes
  missing values with a warning.  If <code>TRUE</code> silently
  removes missing values.</dd>
      <dt>mapping</dt>
      <dd>The aesthetic mapping, usually constructed
  with <code><a href='aes.html'>aes</a></code> or <code><a href='aes_string.html'>aes_string</a></code>. Only
  needs to be set at the layer level if you are overriding
  the plot defaults.</dd>
      <dt>data</dt>
      <dd>A layer specific dataset - only needed if you
  want to override the plot defaults.</dd>
      <dt>geom</dt>
      <dd>The geometric object to use display the data</dd>
      <dt>position</dt>
      <dd>The position adjustment to use for
  overlappling points on this layer</dd>
    </dl>
    
    <div class="Value">
      <h2>Value</h2>
      
      <p>A data frame in the same format as
  <code><a href='stat_contour.html'>stat_contour</a></code></p>
  
    </div>

    <div class="Description">
      <h2>Description</h2>
      
      <p>2d density estimation.</p>
  
    </div>

    <div class="Aesthetics">
      <h2>Aesthetics</h2>
      
      <p><code>stat_density2d</code> understands the following aesthetics (required aesthetics are in bold):</p>
  
      <p><ul>
<li> <code><strong>x</strong></code>
  </li>
<li> <code><strong>y</strong></code>
  </li>
<li> <code>colour</code>
  </li>
<li> <code>size</code>
</li>
</ul></p>
  
      <p></p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="string">"MASS"</span><span class="keyword">)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="symbol">geyser</span><span class="keyword">,</span> <span class="string">"MASS"</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
data set ‘MASS’ not found</strong>
<div class='input'>
<span class="symbol">m</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">geyser</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">duration</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">waiting</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='xylim.html'>xlim</a></span><span class="keyword">(</span><span class="number">0.5</span><span class="keyword">,</span> <span class="number">6</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='xylim.html'>ylim</a></span><span class="keyword">(</span><span class="number">40</span><span class="keyword">,</span> <span class="number">110</span><span class="keyword">)</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_density2d.html'>geom_density2d</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_density2d.html-4.png' %></p>
<div class='input'>
<span class="symbol">dens</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/MASS/kde2d'>kde2d</a></span><span class="keyword">(</span><span class="symbol">geyser</span><span class="keyword">$</span><span class="symbol">duration</span><span class="keyword">,</span> <span class="symbol">geyser</span><span class="keyword">$</span><span class="symbol">waiting</span><span class="keyword">,</span> <span class="argument">n</span> <span class="argument">=</span> <span class="number">50</span><span class="keyword">,</span>
              <span class="argument">lims</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">0.5</span><span class="keyword">,</span> <span class="number">6</span><span class="keyword">,</span> <span class="number">40</span><span class="keyword">,</span> <span class="number">110</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">densdf</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/expand.grid'>expand.grid</a></span><span class="keyword">(</span><span class="argument">duration</span> <span class="argument">=</span> <span class="symbol">dens</span><span class="keyword">$</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">waiting</span> <span class="argument">=</span> <span class="symbol">dens</span><span class="keyword">$</span><span class="symbol">y</span><span class="keyword">)</span><span class="keyword">,</span>
 <span class="argument">z</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/vector'>as.vector</a></span><span class="keyword">(</span><span class="symbol">dens</span><span class="keyword">$</span><span class="symbol">z</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_contour.html'>geom_contour</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">z</span><span class="argument">=</span><span class="symbol">z</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">densdf</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_density2d.html-6.png' %></p>
<div class='input'>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_density2d.html'>geom_density2d</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_y_log10</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<strong class='message'>Scale for 'y' is already present. Adding another scale for 'y', which will replace the existing scale.</strong>
<p><%= image_tag 'ggplot2/stat_density2d.html-9.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_density2d.html'>geom_density2d</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_trans.html'>coord_trans</a></span><span class="keyword">(</span><span class="argument">y</span><span class="argument">=</span><span class="string">"log10"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_density2d.html-11.png' %></p>
<div class='input'>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_density2d.html'>stat_density2d</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">fill</span> <span class="argument">=</span> <span class="symbol">..level..</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="string">"polygon"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_density2d.html-13.png' %></p>
<div class='input'>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">duration</span><span class="keyword">,</span> <span class="symbol">waiting</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">geyser</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"point"</span><span class="keyword">,</span><span class="string">"density2d"</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='xylim.html'>xlim</a></span><span class="keyword">(</span><span class="number">0.5</span><span class="keyword">,</span> <span class="number">6</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='xylim.html'>ylim</a></span><span class="keyword">(</span><span class="number">40</span><span class="keyword">,</span> <span class="number">110</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_density2d.html-15.png' %></p>
<div class='input'>
<span class="comment"># If you map an aesthetic to a categorical variable, you will get a</span>
<span class="comment"># set of contours for each value of that variable</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Random'>set.seed</a></span><span class="keyword">(</span><span class="number">4393</span><span class="keyword">)</span>
<span class="symbol">dsmall</span> <span class="assignement">&lt;-</span> <span class="symbol">diamonds</span><span class="keyword">[</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/sample'>sample</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/nrow'>nrow</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">1000</span><span class="keyword">)</span><span class="keyword">,</span> <span class="keyword">]</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">y</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">dsmall</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"density2d"</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="symbol">cut</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_density2d.html-17.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">y</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">dsmall</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"density2d"</span><span class="keyword">,</span> <span class="argument">linetype</span> <span class="argument">=</span> <span class="symbol">cut</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_density2d.html-19.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">carat</span><span class="keyword">,</span> <span class="symbol">price</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">dsmall</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"density2d"</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="symbol">cut</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_density2d.html-21.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">dsmall</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">carat</span><span class="keyword">,</span> <span class="symbol">price</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='xylim.html'>xlim</a></span><span class="keyword">(</span><span class="number">1</span><span class="keyword">,</span><span class="number">3</span><span class="keyword">)</span>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_density2d.html'>geom_density2d</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
Removed 684 rows containing non-finite values (stat_density2d).</strong>
<strong class='warning'>Warning message:
Removed 684 rows containing missing values (geom_point).</strong>
<p><%= image_tag 'ggplot2/stat_density2d.html-25.png' %></p>
<div class='input'>
<span class="comment"># If we turn contouring off, we can use use geoms like tiles:</span>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_density2d.html'>stat_density2d</a></span><span class="keyword">(</span><span class="argument">geom</span><span class="argument">=</span><span class="string">"tile"</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">fill</span> <span class="argument">=</span> <span class="symbol">..density..</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">contour</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
Removed 684 rows containing non-finite values (stat_density2d).</strong>
<p><%= image_tag 'ggplot2/stat_density2d.html-28.png' %></p>
<div class='input'><span class="functioncall"><a href='last_plot.html'>last_plot</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient.html'>scale_fill_gradient</a></span><span class="keyword">(</span><span class="argument">limits</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">1e-5</span><span class="keyword">,</span><span class="number">8e-4</span><span class="keyword">)</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
Removed 684 rows containing non-finite values (stat_density2d).</strong>
<p><%= image_tag 'ggplot2/stat_density2d.html-31.png' %></p>
<div class='input'>
<span class="comment"># Or points:</span>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_density2d.html'>stat_density2d</a></span><span class="keyword">(</span><span class="argument">geom</span><span class="argument">=</span><span class="string">"point"</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">size</span> <span class="argument">=</span> <span class="symbol">..density..</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">contour</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
Removed 684 rows containing non-finite values (stat_density2d).</strong>
<p><%= image_tag 'ggplot2/stat_density2d.html-34.png' %></p>
<div class='input'></div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>stat_density2d</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>