      <h1>Continuous quantiles.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='stat_quantile.html'>stat_quantile</a></span><span class="keyword">(</span><span class="argument">mapping</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"quantile"</span><span class="keyword">,</span> <span class="argument">position</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">,</span>
  <span class="argument">quantiles</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">0.25</span><span class="keyword">,</span> <span class="number">0.5</span><span class="keyword">,</span> <span class="number">0.75</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">formula</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">method</span> <span class="argument">=</span> <span class="string">"rq"</span><span class="keyword">,</span> <span class="argument">na.rm</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">,</span>
      <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>quantiles</dt>
      <dd>conditional quantiles of y to calculate
  and display</dd>
      <dt>formula</dt>
      <dd>formula relating y variables to x
  variables</dd>
      <dt>method</dt>
      <dd>Quantile regression method to use.
  Currently only supports <code><a href='http://www.inside-r.org/r-doc/quantreg/rq'>rq</a></code>.</dd>
      <dt>na.rm</dt>
      <dd>If <code>FALSE</code> (the default), removes
  missing values with a warning.  If <code>TRUE</code> silently
  removes missing values.</dd>
      <dt>mapping</dt>
      <dd>The aesthetic mapping, usually constructed
  with <code><a href='aes.html'>aes</a></code> or <code><a href='aes_string.html'>aes_string</a></code>. Only
  needs to be set at the layer level if you are overriding
  the plot defaults.</dd>
      <dt>data</dt>
      <dd>A layer specific dataset - only needed if you
  want to override the plot defaults.</dd>
      <dt>geom</dt>
      <dd>The geometric object to use display the data</dd>
      <dt>position</dt>
      <dd>The position adjustment to use for
  overlappling points on this layer</dd>
      <dt>...</dt>
      <dd>other arguments passed on to
  <code><a href='layer.html'>layer</a></code>. This can include aesthetics whose
  values you want to set, not map. See <code><a href='layer.html'>layer</a></code>
  for more details.</dd>
    </dl>
    
    <div class="Value">
      <h2>Value</h2>
      
      <p>a data.frame with additional columns:
  quantilequantile of distribution</p>
  
    </div>

    <div class="Description">
      <h2>Description</h2>
      
      <p>Continuous quantiles.</p>
  
    </div>

    <div class="Aesthetics">
      <h2>Aesthetics</h2>
      
      <p><code>stat_quantile</code> understands the following aesthetics (required aesthetics are in bold):</p>
  
      <p><ul>
<li> <code><strong>x</strong></code>
  </li>
<li> <code><strong>y</strong></code>
</li>
</ul></p>
  
      <p></p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'>
<span class="symbol">msamp</span> <span class="assignement">&lt;-</span> <span class="symbol">movies</span><span class="keyword">[</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/sample'>sample</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/nrow'>nrow</a></span><span class="keyword">(</span><span class="symbol">movies</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">1000</span><span class="keyword">)</span><span class="keyword">,</span> <span class="keyword">]</span>
<span class="symbol">m</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">msamp</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">year</span><span class="keyword">,</span> <span class="symbol">rating</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_quantile.html'>stat_quantile</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<strong class='message'>Smoothing formula not specified. Using: y ~ x</strong>
<p><%= image_tag 'ggplot2/stat_quantile.html-3.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_quantile.html'>stat_quantile</a></span><span class="keyword">(</span><span class="argument">quantiles</span> <span class="argument">=</span> <span class="number">0.5</span><span class="keyword">)</span></div>
<strong class='message'>Smoothing formula not specified. Using: y ~ x</strong>
<p><%= image_tag 'ggplot2/stat_quantile.html-6.png' %></p>
<div class='input'><span class="symbol">q10</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/seq'>seq</a></span><span class="keyword">(</span><span class="number">0.05</span><span class="keyword">,</span> <span class="number">0.95</span><span class="keyword">,</span> <span class="argument">by</span><span class="argument">=</span><span class="number">0.05</span><span class="keyword">)</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_quantile.html'>stat_quantile</a></span><span class="keyword">(</span><span class="argument">quantiles</span> <span class="argument">=</span> <span class="symbol">q10</span><span class="keyword">)</span></div>
<strong class='message'>Smoothing formula not specified. Using: y ~ x</strong>
<p><%= image_tag 'ggplot2/stat_quantile.html-9.png' %></p>
<div class='input'>
<span class="comment"># You can also use rqss to fit smooth quantiles</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_quantile.html'>stat_quantile</a></span><span class="keyword">(</span><span class="argument">method</span> <span class="argument">=</span> <span class="string">"rqss"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_quantile.html-11.png' %></p>
<div class='input'><span class="comment"># Note that rqss doesn't pick a smoothing constant automatically, so</span>
<span class="comment"># you'll need to tweak lambda yourself</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_quantile.html'>stat_quantile</a></span><span class="keyword">(</span><span class="argument">method</span> <span class="argument">=</span> <span class="string">"rqss"</span><span class="keyword">,</span> <span class="argument">lambda</span> <span class="argument">=</span> <span class="number">10</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_quantile.html-13.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_quantile.html'>stat_quantile</a></span><span class="keyword">(</span><span class="argument">method</span> <span class="argument">=</span> <span class="string">"rqss"</span><span class="keyword">,</span> <span class="argument">lambda</span> <span class="argument">=</span> <span class="number">100</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_quantile.html-15.png' %></p>
<div class='input'>
<span class="comment"># Use 'votes' as weights for the quantile calculation</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_quantile.html'>stat_quantile</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">weight</span><span class="argument">=</span><span class="symbol">votes</span><span class="keyword">)</span><span class="keyword">)</span></div>
<strong class='message'>Smoothing formula not specified. Using: y ~ x</strong>
<p><%= image_tag 'ggplot2/stat_quantile.html-18.png' %></p>
<div class='input'>
<span class="comment"># Change scale</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_quantile.html'>stat_quantile</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">colour</span> <span class="argument">=</span> <span class="symbol">..quantile..</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">quantiles</span> <span class="argument">=</span> <span class="symbol">q10</span><span class="keyword">)</span></div>
<strong class='message'>Smoothing formula not specified. Using: y ~ x</strong>
<p><%= image_tag 'ggplot2/stat_quantile.html-21.png' %></p>
<div class='input'><span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_quantile.html'>stat_quantile</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">colour</span> <span class="argument">=</span> <span class="symbol">..quantile..</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">quantiles</span> <span class="argument">=</span> <span class="symbol">q10</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='scale_gradient2.html'>scale_colour_gradient2</a></span><span class="keyword">(</span><span class="argument">midpoint</span> <span class="argument">=</span> <span class="number">0.5</span><span class="keyword">)</span></div>
<strong class='message'>Smoothing formula not specified. Using: y ~ x</strong>
<p><%= image_tag 'ggplot2/stat_quantile.html-24.png' %></p>
<div class='input'>
<span class="comment"># Set aesthetics to fixed value</span>
<span class="symbol">m</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_quantile.html'>stat_quantile</a></span><span class="keyword">(</span><span class="argument">colour</span> <span class="argument">=</span> <span class="string">"red"</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="number">2</span><span class="keyword">,</span> <span class="argument">linetype</span> <span class="argument">=</span> <span class="number">2</span><span class="keyword">)</span></div>
<strong class='message'>Smoothing formula not specified. Using: y ~ x</strong>
<p><%= image_tag 'ggplot2/stat_quantile.html-27.png' %></p>
<div class='input'>
<span class="comment"># Use qplot instead</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">year</span><span class="keyword">,</span> <span class="symbol">rating</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">movies</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="string">"quantile"</span><span class="keyword">)</span></div>
<strong class='message'>Smoothing formula not specified. Using: y ~ x</strong>
<p><%= image_tag 'ggplot2/stat_quantile.html-30.png' %></p>
<div class='input'></div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>stat_quantile</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>