      <h1>Summarise y values at every unique x.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='stat_summary.html'>stat_summary</a></span><span class="keyword">(</span><span class="argument">mapping</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"pointrange"</span><span class="keyword">,</span> <span class="argument">position</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">,</span>
  <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>mapping</dt>
      <dd>The aesthetic mapping, usually constructed
  with <code><a href='aes.html'>aes</a></code> or <code><a href='aes_string.html'>aes_string</a></code>. Only
  needs to be set at the layer level if you are overriding
  the plot defaults.</dd>
      <dt>data</dt>
      <dd>A layer specific dataset - only needed if you
  want to override the plot defaults.</dd>
      <dt>geom</dt>
      <dd>The geometric object to use display the data</dd>
      <dt>position</dt>
      <dd>The position adjustment to use for
  overlappling points on this layer</dd>
      <dt>...</dt>
      <dd>other arguments passed on to
  <code><a href='layer.html'>layer</a></code>. This can include aesthetics whose
  values you want to set, not map. See <code><a href='layer.html'>layer</a></code>
  for more details.</dd>
    </dl>
    
    <div class="Value">
      <h2>Value</h2>
      
      <p>a data.frame with additional columns:
  fun.dataComplete summary function. Should take
  data frame as input and return data frame as output
  fun.yminymin summary function (should take
  numeric vector and return single number) fun.yy
  summary function (should take numeric vector and return
  single number) fun.ymaxymax summary function
  (should take numeric vector and return single number)</p>
  
    </div>

    <div class="Description">
      <h2>Description</h2>
      
      <p><code>stat_summary</code> allows for tremendous flexibilty in
  the specification of summary functions.  The summary
  function can either operate on a data frame (with
  argument name <code>fun.data</code>) or on a vector
  (<code>fun.y</code>, <code>fun.ymax</code>, <code>fun.ymin</code>).</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>A simple vector function is easiest to work with as you
  can return a single number, but is somewhat less
  flexible.  If your summary function operates on a
  data.frame it should return a data frame with variables
  that the geom can use.</p>
  
    </div>

    <div class="Aesthetics">
      <h2>Aesthetics</h2>
      
      <p><code>stat_summary</code> understands the following aesthetics (required aesthetics are in bold):</p>
  
      <p><ul>
<li> <code><strong>x</strong></code>
  </li>
<li> <code><strong>y</strong></code>
</li>
</ul></p>
  
      <p></p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'>
<span class="comment"># Basic operation on a small dataset</span>
<span class="symbol">d</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">mtcars</span><span class="keyword">)</span>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_summary.html'>stat_summary</a></span><span class="keyword">(</span><span class="argument">fun.data</span> <span class="argument">=</span> <span class="string">"mean_cl_boot"</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="string">"red"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_summary.html-2.png' %></p>
<div class='input'>
<span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">cyl</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">,</span> <span class="argument">stat</span><span class="argument">=</span><span class="string">"summary"</span><span class="keyword">,</span> <span class="argument">fun.y</span> <span class="argument">=</span> <span class="string">"mean"</span><span class="keyword">)</span>
<span class="symbol">p</span></div>
<p><%= image_tag 'ggplot2/stat_summary.html-4.png' %></p>
<div class='input'><span class="comment"># Don't use ylim to zoom into a summary plot - this throws the</span>
<span class="comment"># data away</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='xylim.html'>ylim</a></span><span class="keyword">(</span><span class="number">15</span><span class="keyword">,</span> <span class="number">30</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
Removed 9 rows containing missing values (stat_summary).</strong>
<p><%= image_tag 'ggplot2/stat_summary.html-7.png' %></p>
<div class='input'><span class="comment"># Instead use coord_cartesian</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_cartesian.html'>coord_cartesian</a></span><span class="keyword">(</span><span class="argument">ylim</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">15</span><span class="keyword">,</span> <span class="number">30</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_summary.html-9.png' %></p>
<div class='input'>
<span class="comment"># You can supply individual functions to summarise the value at</span>
<span class="comment"># each x:</span>

<span class="symbol">stat_sum_single</span> <span class="assignement">&lt;-</span> <span class="keyword">function</span><span class="keyword">(</span><span class="formalargs">fun</span><span class="keyword">,</span> <span class="formalargs">geom</span><span class="eqformalargs">=</span><span class="string">"point"</span><span class="keyword">,</span> <span class="formalargs">...</span><span class="keyword">)</span> <span class="keyword">{</span>
  <span class="functioncall"><a href='stat_summary.html'>stat_summary</a></span><span class="keyword">(</span><span class="argument">fun.y</span><span class="argument">=</span><span class="symbol">fun</span><span class="keyword">,</span> <span class="argument">colour</span><span class="argument">=</span><span class="string">"red"</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="symbol">geom</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="number">3</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>
<span class="keyword">}</span>

<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall">stat_sum_single</span><span class="keyword">(</span><span class="symbol">mean</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_summary.html-11.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall">stat_sum_single</span><span class="keyword">(</span><span class="symbol">mean</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="string">"line"</span><span class="keyword">)</span></div>
<strong class='message'>geom_path: Each group consist of only one observation. Do you need to adjust the group aesthetic?</strong>
<p><%= image_tag 'ggplot2/stat_summary.html-14.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall">stat_sum_single</span><span class="keyword">(</span><span class="symbol">median</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_summary.html-16.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall">stat_sum_single</span><span class="keyword">(</span><span class="symbol">sd</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_summary.html-18.png' %></p>
<div class='input'>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_summary.html'>stat_summary</a></span><span class="keyword">(</span><span class="argument">fun.y</span> <span class="argument">=</span> <span class="symbol">mean</span><span class="keyword">,</span> <span class="argument">fun.ymin</span> <span class="argument">=</span> <span class="symbol">min</span><span class="keyword">,</span> <span class="argument">fun.ymax</span> <span class="argument">=</span> <span class="symbol">max</span><span class="keyword">,</span>
  <span class="argument">colour</span> <span class="argument">=</span> <span class="string">"red"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_summary.html-20.png' %></p>
<div class='input'>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">colour</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">vs</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_summary.html'>stat_summary</a></span><span class="keyword">(</span><span class="argument">fun.y</span> <span class="argument">=</span> <span class="symbol">mean</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="string">"line"</span><span class="keyword">)</span></div>
<strong class='message'>geom_path: Each group consist of only one observation. Do you need to adjust the group aesthetic?</strong>
<p><%= image_tag 'ggplot2/stat_summary.html-23.png' %></p>
<div class='input'>
<span class="comment"># Alternatively, you can supply a function that operates on a data.frame.</span>
<span class="comment"># A set of useful summary functions is provided from the Hmisc package:</span>

<span class="symbol">stat_sum_df</span> <span class="assignement">&lt;-</span> <span class="keyword">function</span><span class="keyword">(</span><span class="formalargs">fun</span><span class="keyword">,</span> <span class="formalargs">geom</span><span class="eqformalargs">=</span><span class="string">"crossbar"</span><span class="keyword">,</span> <span class="formalargs">...</span><span class="keyword">)</span> <span class="keyword">{</span>
  <span class="functioncall"><a href='stat_summary.html'>stat_summary</a></span><span class="keyword">(</span><span class="argument">fun.data</span><span class="argument">=</span><span class="symbol">fun</span><span class="keyword">,</span> <span class="argument">colour</span><span class="argument">=</span><span class="string">"red"</span><span class="keyword">,</span> <span class="argument">geom</span><span class="argument">=</span><span class="symbol">geom</span><span class="keyword">,</span> <span class="argument">width</span><span class="argument">=</span><span class="number">0.2</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>
<span class="keyword">}</span>

<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall">stat_sum_df</span><span class="keyword">(</span><span class="string">"mean_cl_boot"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_summary.html-25.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall">stat_sum_df</span><span class="keyword">(</span><span class="string">"mean_sdl"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_summary.html-27.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall">stat_sum_df</span><span class="keyword">(</span><span class="string">"mean_sdl"</span><span class="keyword">,</span> <span class="argument">mult</span><span class="argument">=</span><span class="number">1</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_summary.html-29.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall">stat_sum_df</span><span class="keyword">(</span><span class="string">"median_hilow"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_summary.html-31.png' %></p>
<div class='input'>
<span class="comment"># There are lots of different geoms you can use to display the summaries</span>

<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall">stat_sum_df</span><span class="keyword">(</span><span class="string">"mean_cl_normal"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_summary.html-33.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall">stat_sum_df</span><span class="keyword">(</span><span class="string">"mean_cl_normal"</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"errorbar"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_summary.html-35.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall">stat_sum_df</span><span class="keyword">(</span><span class="string">"mean_cl_normal"</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"pointrange"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_summary.html-37.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall">stat_sum_df</span><span class="keyword">(</span><span class="string">"mean_cl_normal"</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"smooth"</span><span class="keyword">)</span></div>
<strong class='message'>geom_path: Each group consist of only one observation. Do you need to adjust the group aesthetic?</strong>
<strong class='message'>geom_path: Each group consist of only one observation. Do you need to adjust the group aesthetic?</strong>
<strong class='message'>geom_path: Each group consist of only one observation. Do you need to adjust the group aesthetic?</strong>
<p><%= image_tag 'ggplot2/stat_summary.html-42.png' %></p>
<div class='input'>
<span class="comment"># Summaries are more useful with a bigger data set:</span>
<span class="symbol">mpg2</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/subset'>subset</a></span><span class="keyword">(</span><span class="symbol">mpg</span><span class="keyword">,</span> <span class="symbol">cyl</span> <span class="keyword">!=</span> <span class="number">5L</span><span class="keyword">)</span>
<span class="symbol">m</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mpg2</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span><span class="argument">=</span><span class="symbol">cyl</span><span class="keyword">,</span> <span class="argument">y</span><span class="argument">=</span><span class="symbol">hwy</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
        <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span>
        <span class="functioncall"><a href='stat_summary.html'>stat_summary</a></span><span class="keyword">(</span><span class="argument">fun.data</span> <span class="argument">=</span> <span class="string">"mean_sdl"</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"linerange"</span><span class="keyword">,</span>
                     <span class="argument">colour</span> <span class="argument">=</span> <span class="string">"red"</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="number">2</span><span class="keyword">,</span> <span class="argument">mult</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">)</span> <span class="keyword">+</span>
       <span class="functioncall"><a href='labs.html'>xlab</a></span><span class="keyword">(</span><span class="string">"cyl"</span><span class="keyword">)</span>
<span class="symbol">m</span></div>
<p><%= image_tag 'ggplot2/stat_summary.html-44.png' %></p>
<div class='input'><span class="comment"># An example with highly skewed distributions:</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Random'>set.seed</a></span><span class="keyword">(</span><span class="number">596</span><span class="keyword">)</span>
<span class="symbol">mov</span> <span class="assignement">&lt;-</span> <span class="symbol">movies</span><span class="keyword">[</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/sample'>sample</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/nrow'>nrow</a></span><span class="keyword">(</span><span class="symbol">movies</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">1000</span><span class="keyword">)</span><span class="keyword">,</span> <span class="keyword">]</span>
 <span class="symbol">m2</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mov</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span><span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Round'>round</a></span><span class="keyword">(</span><span class="symbol">rating</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">y</span><span class="argument">=</span><span class="symbol">votes</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span>
 <span class="symbol">m2</span> <span class="assignement">&lt;-</span> <span class="symbol">m2</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_summary.html'>stat_summary</a></span><span class="keyword">(</span><span class="argument">fun.data</span> <span class="argument">=</span> <span class="string">"mean_cl_boot"</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"crossbar"</span><span class="keyword">,</span>
                         <span class="argument">colour</span> <span class="argument">=</span> <span class="string">"red"</span><span class="keyword">,</span> <span class="argument">width</span> <span class="argument">=</span> <span class="number">0.3</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='labs.html'>xlab</a></span><span class="keyword">(</span><span class="string">"rating"</span><span class="keyword">)</span>
<span class="symbol">m2</span></div>
<p><%= image_tag 'ggplot2/stat_summary.html-46.png' %></p>
<div class='input'><span class="comment"># Notice how the overplotting skews off visual perception of the mean</span>
<span class="comment"># supplementing the raw data with summary statistics is _very_ important</span>

<span class="comment"># Next, we'll look at votes on a log scale.</span>

<span class="comment"># Transforming the scale means the data are transformed</span>
<span class="comment"># first, after which statistics are computed:</span>
<span class="symbol">m2</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_continuous.html'>scale_y_log10</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_summary.html-48.png' %></p>
<div class='input'><span class="comment"># Transforming the coordinate system occurs after the</span>
<span class="comment"># statistic has been computed. This means we're calculating the summary on the raw data</span>
<span class="comment"># and stretching the geoms onto the log scale.  Compare the widths of the</span>
<span class="comment"># standard errors.</span>
<span class="symbol">m2</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_trans.html'>coord_trans</a></span><span class="keyword">(</span><span class="argument">y</span><span class="argument">=</span><span class="string">"log10"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_summary.html-50.png' %></p>
<div class='input'></div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>stat_summary</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  <code><a href='geom_errorbar.html'>geom_errorbar</a></code>,
  <code><a href='geom_pointrange.html'>geom_pointrange</a></code>,
  <code><a href='geom_linerange.html'>geom_linerange</a></code>, <code><a href='geom_crossbar.html'>geom_crossbar</a></code>
  for geoms to display summarised data

        
  </div>
</div>